<div>
    <h4 class="title my-3">
        <span jhiTranslate="gatewayApp.mEntidad.home.title">Modulo Entidads</span>
        <button class="btn btn-primary float-right jh-create-entity create-modulo-entidad" [routerLink]="['/', { outlets: { popup: ['modulo-entidad-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.mEntidad.home.createLabel">
            Create new Modulo Entidad
            </span>
        </button>
    </h4>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.mEntidad.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="mEntidads">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="varUsuarioLog"><span jhiTranslate="gatewayApp.mEntidad.varUsuarioLog">Var Usuario Log</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="datFechaLog"><span jhiTranslate="gatewayApp.mEntidad.datFechaLog">Dat Fecha Log</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numEliminar"><span jhiTranslate="gatewayApp.mEntidad.numEliminar">Num Eliminar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modulo.id"><span jhiTranslate="gatewayApp.mEntidad.modulo">Modulo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="entidad.id"><span jhiTranslate="gatewayApp.mEntidad.entidad">Entidad</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mEntidad of mEntidads ;trackBy: trackId">
                <td><a [routerLink]="['../modulo-entidad', mEntidad.id ]">{{mEntidad.id}}</a></td>
                <td>{{mEntidad.varUsuarioLog}}</td>
                <td>{{mEntidad.datFechaLog | date:'medium'}}</td>
                <td>{{mEntidad.numEliminar}}</td>
                <td>
                    <div *ngIf="mEntidad.modulo">
                        <a [routerLink]="['../modulo', mEntidad.modulo?.id ]" >{{mEntidad.modulo?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mEntidad.entidad">
                        <a [routerLink]="['../entidad', mEntidad.entidad?.id ]" >{{mEntidad.entidad?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../modulo-entidad', mEntidad.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modulo-entidad/'+ mEntidad.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modulo-entidad/'+ mEntidad.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="mEntidads && mEntidads.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
