
<div *ngIf="mEntidad">
    <h4 class="title my-3"><span jhiTranslate="gatewayApp.mEntidad.detail.title">Modulo Entidad</span> {{mEntidad.id}}</h4>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.mEntidad.varUsuarioLog">Var Usuario Log</span></dt>
        <dd>
            <span>{{mEntidad.varUsuarioLog}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.mEntidad.datFechaLog">Dat Fecha Log</span></dt>
        <dd>
            <span>{{mEntidad.datFechaLog | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.mEntidad.numEliminar">Num Eliminar</span></dt>
        <dd>
            <span>{{mEntidad.numEliminar}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.mEntidad.modulo">Modulo</span></dt>
        <dd>
            <div *ngIf="mEntidad.modulo">
                <a [routerLink]="['/modulo', mEntidad.modulo?.id]">{{mEntidad.modulo?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.mEntidad.entidad">Entidad</span></dt>
        <dd>
            <div *ngIf="mEntidad.entidad">
                <a [routerLink]="['/entidad', mEntidad.entidad?.id]">{{mEntidad.entidad?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'modulo-entidad/'+ mEntidad.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
