<p-blockUI [blocked]="block"></p-blockUI>
<p-growl [(value)]="mensajes"></p-growl>
<div class="row">
    <div class="col">
        <div class="card card-mtpe">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0"><small class="ml-3"><i class="fa fa-envelope" aria-hidden="true"></i> Envió de Notificaciones - Resumen</small></h5>
                <h5 class="mb-0"><small class="mr-3">Paso 3 de 3</small></h5>
            </div>
            <div class="card-body">
                <div class="my-3 defensa px-2">
                    <div class="row">
                        <div class="col-md-12">
                            <p-dataTable [value]="directNotificas" dataKey="id">
                                <p-header>Notificaciones Enviadas</p-header>
                                <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                    <ng-template let-i="rowIndex" pTemplate="body">
                                        <span style="text-align:center">{{i+1}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column [style]="{'width':'120px', 'text-align':'center'}" field="vHojaenvio" header="Hoja de Envió"></p-column>
                                <p-column [style]="{'width':'80px', 'text-align':'center'}" field="notifica.expediente.vNumexp" header="N° Expediente"></p-column>        
                                <p-column [style]="{'width':'90px', 'text-align':'center'}" header="Num. Doc.">
                                        <ng-template let-data="rowData" pTemplate="body">
                                            <div *ngIf="!data.nflgtrabaj">
                                                <span *ngIf="data.notifica.expediente.empleador.pernatural !== null">{{ data.notifica.expediente.empleador.pernatural.vNumdoc }}</span>
                                                <span *ngIf="data.notifica.expediente.empleador.pernatural === null">{{ data.notifica.expediente.empleador.perjuridica.vNumdoc }}</span>
                                            </div>
                                            <div *ngIf="data.nflgtrabaj">
                                                <span>{{ data.notifica.expediente.trabajador.pernatural.vNumdoc }}</span>
                                            </div>                                        
                                        </ng-template>
                                </p-column>                        
                                <p-column header="Nombre o Razón Social">
                                        <ng-template let-data="rowData" pTemplate="body">
                                            <div *ngIf="!data.nflgtrabaj">
                                                <span *ngIf="data.notifica.expediente.empleador.pernatural !== null">{{ data.notifica.expediente.empleador.pernatural.vNombres + ' ' + data.empleador.pernatural.vApepat + ' ' + data.empleador.pernatural.vApemat }}</span>
                                                <span *ngIf="data.notifica.expediente.empleador.pernatural === null">{{ data.notifica.expediente.empleador.perjuridica.vRazsocial }}</span>
                                            </div>
                                            <div *ngIf="data.nflgtrabaj">
                                                <span>{{ data.notifica.expediente.trabajador.pernatural.vNombres + ' ' + data.notifica.expediente.trabajador.pernatural.vApepat + ' ' + data.notifica.expediente.trabajador.pernatural.vApemat }}</span>                                            
                                            </div>
                                            
                                        </ng-template>
                                </p-column>
                                <p-column field="vDireccion" header="Dirección Destinatario"></p-column>
                                <p-column [style]="{'width':'80px', 'text-align':'center'}" field="faudiencia" header="Fecha Audiencia"></p-column>
                                <p-column [style]="{'width':'100px', 'text-align':'center'}" field="notifica.tipnotif.vDescrip" header="Tipo Not."></p-column>
                                <p-column [style]="{'width':'60px'}">        
                                        <ng-template let-direcNoti="rowData" pTemplate="body">
                                            <button class="ui-button-warning" type="button"  pButton (click)="imprimirReporteCedula(direcNoti)" icon="fa-print"></button>
                                        </ng-template>
                                </p-column> 
                                <ng-template pTemplate="emptymessage">
                                    No se han encontrado registros
                                </ng-template>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>