<p-blockUI [blocked]="block"></p-blockUI>
<p-growl [(value)]="mensajes"></p-growl>
<div class="row">
    <div class="col">
        <div class="card card-mtpe">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0"><small class="ml-3"><i class="fa fa-envelope" aria-hidden="true"></i> Envió de Notificaciones - Selección de Expedientes</small></h5>
                <h5 class="mb-0"><small class="mr-3">Paso 1 de 3</small></h5>
            </div>
            <div class="card-body">
                <div class="defensa mb-2 px-2">
                    <div class="form-row">
                        <div class="col-md-3">
                            <!-- <p-toggleButton name="checked2" [(ngModel)]="checked2" onLabel="Por: N° Documentos" offLabel="Por: Rango de Fechas"></p-toggleButton> -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p-radioButton name="groupname" value="1" label="Por: Expediente" [(ngModel)]="tipoBusqueda"></p-radioButton>
                                </div>
                                <div class="col-md-12">
                                    <p-radioButton name="groupname" value="2" label="Por: Rango de Fechas" [(ngModel)]="tipoBusqueda"></p-radioButton>        
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tipoBusqueda==='1'" class="col-md-6">
                            <div class="form-group row">
                                <label for="inpNumero" class="col-sm-2 col-form-label">Año:</label>
                                <div class="col-sm-2 px-0">
                                    <p-spinner size="15" [thousandSeparator]="''" [(ngModel)]="nAnio" [min]="0" [max]="2050"></p-spinner>
                                </div>
                                <label for="inpNumero" class="col-sm-3 ml-2 col-form-label">N° Expediente:</label>
                                <div class="col-sm-3 px-0">
                                    <input class="form-control form-control-sm" type="text" [(ngModel)]="nExpediente" name="nExpediente" />
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tipoBusqueda==='2'" class="col-md-6">
                            <div class="form-group row">
                                <label for="inpTipo" class="col-sm-3 col-form-label">Fechas:</label>
                                <p-calendar name="rangeDates" [(ngModel)]="rangeDates" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" selectionMode="range" readonlyInput="true"></p-calendar>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <button (click)="buscarExpediente()" class="btn btn-sm btn-secondary px-3"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                        </div>
                    </div>
                    <form>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <p-dataTable [value]="expedientes" selectionMode="multiple" [(selection)]="selecExpedientes" (onRowSelect)="agregarExpediente($event)" (onRowUnselect)="borrarExpediente($event)" dataKey="id">
                                    <p-header>Expedientes</p-header>
                                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                    <p-column [style]="{'width':'90px', 'text-align':'center'}" field="vNumexp" header="Cod. Expediente"></p-column>
                                    <p-column [style]="{'width':'90px', 'text-align':'center'}" header="Fecha de Expediente">
                                        <ng-template let-data="rowData" pTemplate="body">
                                            <span>{{ data.dFecregexp | date: 'dd/MM/yyyy' }}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column [style]="{'width':'110px', 'text-align':'center'}" header="Num.Doc. Empleador">
                                        <ng-template let-data="rowData" pTemplate="body">
                                            <span *ngIf="data.empleador.pernatural !== null">{{ data.empleador.pernatural.vNumdoc }}</span>
                                            <span *ngIf="data.empleador.pernatural === null">{{ data.empleador.perjuridica.vNumdoc }}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column header="Razón Social Empleador">
                                        <ng-template let-data="rowData" pTemplate="body">
                                            <span *ngIf="data.empleador.pernatural !== null">{{ data.empleador.pernatural.vNombres + ' ' + data.empleador.pernatural.vApepat + ' ' + data.empleador.pernatural.vApemat }}</span>
                                            <span *ngIf="data.empleador.pernatural === null">{{ data.empleador.perjuridica.vRazsocial }}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column [style]="{'width':'90px', 'text-align':'center'}" field="trabajador.pernatural.vNumdoc" header="Num.Doc. Trabajador"></p-column>
                                    <p-column [style]="{'text-align':'left'}" header="Apellidos y Nombres Emp.">
                                        <ng-template let-data="rowData" pTemplate="body">
                                            <span>{{ data.trabajador.pernatural.vNombres + ' ' + data.trabajador.pernatural.vApepat + ' ' + data.trabajador.pernatural.vApemat }}</span>
                                        </ng-template>
                                    </p-column>
                                    <ng-template pTemplate="emptymessage">
                                        No se han encontrado registros
                                    </ng-template>
                                </p-dataTable>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>