<p-blockUI [blocked]="block"></p-blockUI>
<p-growl [(value)]="mensajes"></p-growl>
<div class="row">
    <div class="col">
            <div class="card card-mtpe">
                <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                    <h5 class="mb-0"><small class="ml-3"><i class="fa fa-envelope" aria-hidden="true"></i> Envió de Notificaciones - Verificación de Expedientes</small></h5>
                    <h5 class="mb-0"><small class="mr-3">Paso 2 de 3</small></h5>
                </div>
                <div class="card-body">
                    <div class="defensa mb-2 px-2">
                        <div class="form-notificacion mb-4" *ngFor="let expediente of expedientes">
                            <div class="row my-1">
                                <div class="col-lg-12">
                                        <h4>Expediente N° {{expediente.vNumexp}}</h4>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-lg-5">
                                    <div class="form-group row">
                                        <label for="inpTipo" class="col-sm-4 col-form-label col-form-label-sm">Tipo de Notificación</label>
                                        <div class="col-sm-8">
                                            <p-dropdown name="tipoNotificacion" optionLabel="vDescrip" inputId="vDescrip" [options]="tipoNotificacion" [(ngModel)]="expediente.tipoNotificacionTrab" placeholder="Seleccione el Tipo de Notificación"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group row">
                                        <label for="inpNumero" class="col-sm-4 col-form-label col-form-label-sm text-sm-right">Tipo de Envió</label>
                                        <div class="col-sm-6">
                                            <p-dropdown name="tipoenvNotificacion" optionLabel="vDescrip" inputId="vDescrip" [options]="tipoenvNotificacion" [(ngModel)]="expediente.tipoEnvioTrab" placeholder="Seleccione el Tipo de Envió"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group row">
                                        <label for="inpNumero" class="col-sm-7 col-form-label col-form-label-sm text-sm-right">N° de Folios</label>
                                        <div class="col-sm-5">
                                            <input type="number" pInputText  min="1" value="1" class="form-control form-control-sm" id="inpNumero" name="expediente.nroFoliosTrab" [(ngModel)]="expediente.nroFoliosTrab" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <div class="col-md-12">
                                    <p-dataTable [value]="expediente.trabajadorDireccion" dataKey="direc.id">
                                        <p-header>Direcciones del Trabajador</p-header>
                                        <p-column [style]="{'width':'75px', 'text-align':'center'}" header="Notificar" field="idmotpase">
                                            <ng-template let-data="rowData" pTemplate="body">
                                                <p-checkbox name="data.direc.nFlgnotifi" [(ngModel)]="data.direc.nFlgnotifi" binary="true" ></p-checkbox>
                                            </ng-template>
                                        </p-column>
                                        <p-column [style]="{'width':'120px', 'text-align':'center'}" field="dpto" header="Departamento"></p-column>
                                        <p-column [style]="{'width':'120px', 'text-align':'center'}" field="prov" header="Provincia"></p-column>
                                        <p-column [style]="{'width':'200px', 'text-align':'center'}" field="dist" header="Distrito"></p-column>
                                        <p-column [style]="{'text-align':'left'}" field="direc.vDircomple" header="Dirección"></p-column>
                                        <ng-template pTemplate="emptymessage">
                                            No se han encontrado registros
                                        </ng-template>
                                    </p-dataTable>
                                </div>
                            </div>
                            <div class="row mb-1">
                                    <div class="col-lg-5">
                                        <div class="form-group row">
                                            <label for="inpTipo" class="col-sm-4 col-form-label col-form-label-sm">Tipo de Notificación</label>
                                            <div class="col-sm-8">
                                                <p-dropdown name="tipoNotificacion" optionLabel="vDescrip" inputId="vDescrip" [options]="tipoNotificacion" [(ngModel)]="expediente.tipoNotificacionEmp" placeholder="Seleccione el Tipo de Notificación"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group row">
                                            <label for="inpNumero" class="col-sm-4 col-form-label col-form-label-sm text-sm-right">Tipo de Envió</label>
                                            <div class="col-sm-6">
                                                <p-dropdown name="tipoenvNotificacion" optionLabel="vDescrip" inputId="vDescrip" [options]="tipoenvNotificacion" [(ngModel)]="expediente.tipoEnvioEmp" placeholder="Seleccione el Tipo de Envió"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group row">
                                            <label for="inpNumero" class="col-sm-7 col-form-label col-form-label-sm text-sm-right">N° de Folios</label>
                                            <div class="col-sm-5">
                                                <input type="number" min="1" value="1" class="form-control form-control-sm" id="inpNumero" name="expediente.nroFoliosEmp" [(ngModel)]="expediente.nroFoliosEmp" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="form-row mb-3">
                                <div class="col-md-12">
                                    <p-dataTable [value]="expediente.empleadorDireccion"  dataKey="direc.id">
                                        <p-header>Direcciones del Empleador</p-header>
                                        <p-column [style]="{'width':'75px', 'text-align':'center'}" header="Notificar" field="idmotpase">
                                            <ng-template let-data="rowData" pTemplate="body">
                                                <p-checkbox name="data.direc.nFlgnotifi" [(ngModel)]="data.direc.nFlgnotifi" binary="true" ></p-checkbox>
                                            </ng-template>
                                        </p-column>
                                        <p-column [style]="{'width':'120px', 'text-align':'center'}" field="dpto" header="Departamento"></p-column>
                                        <p-column [style]="{'width':'120px', 'text-align':'center'}" field="prov" header="Provincia"></p-column>
                                        <p-column [style]="{'width':'200px', 'text-align':'center'}" field="dist" header="Distrito"></p-column>
                                        <p-column [style]="{'text-align':'left'}" field="direc.vDircomple" header="Dirección"></p-column>
                                        <ng-template pTemplate="emptymessage">
                                            No se han encontrado registros
                                        </ng-template>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Enviar Notificaciones" icon="fa fa-question-circle" #cd width="425">
    <p-footer>
            <button  data-dismiss="modal" (click)="cd.accept()" class="btn btn-danger">
                    <span class="fa fa-check"></span>&nbsp;<span>Aceptar</span>
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cd.reject()">
                    <span class="fa fa-ban"></span>&nbsp;<span >Cancelar</span>
            </button>
            

        <!-- <button pButton class="ui-button-success" type="button"  icon="fa-save" label="Aceptar" (click)="cd.accept()"></button>
        <button pButton class="ui-button-info"  type="button"  icon="fa-close" label="Cancelar" (click)="cd.reject()"></button> -->
    </p-footer>
</p-confirmDialog>