<p-blockUI [blocked]="block"></p-blockUI>
<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col">
            <h4 class="title">Registro de Solicitud</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                    <h5 class="mb-0">
                        <small>
                            Listado de solicitud</small>
                    </h5>
                </div>
                <div class="card-body">
                    <p class="text-right">
                        <strong>Usuario Administrativo: </strong>Katherine Lorena Lopez Jara</p>
                    <div class="form-row mb-2">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="inpRuc" class="col-sm-3 col-form-label col-form-label-sm text-right">RUC</label>
                                <div class="col-sm-9">
                                    <input type="text" (keypress)="keyPress($event)" maxlength="15" class="form-control form-control-sm" id="inpRuc" [(ngModel)]="rucSearch"
                                        placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label for="inpRsocial" class="col-sm-3 col-form-label col-form-label-sm text-right">Razón Social</label>
                                <div class="col-sm-9" style="display: inline-flex">
                                    <input type="text" class="form-control form-control-sm" id="inpRsocial" placeholder="" style="margin-right:10px" [(ngModel)]="razonSocialSearch">
                                    <a (click)="buscarSolicitudes()" class="btn btn-sm btn-info" style="padding-left:5px;color:white;">
                                        <i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row mb-2">
                        <div class="col-md-8">
                            <a [routerLink]="" (click)="mostrarModalRegistro()" class="btn btn-sm btn-info" style="padding-left:5px">
                                <i class="fa fa-plus" aria-hidden="true"></i> Registrar Solicitud</a>
                        </div>
                    </div>
                    <table class="table table-responsive table-bordered table-hover" id="Csolicitud">
                        <thead style="text-align: center;">
                            <tr>
                                <th>N°</th>
                                <th>Fecha</th>
                                <th>Sindicato</th>
                                <th>RUC</th>
                                <th>Razón Social</th>
                                <th>Arbitro</th>
                                <th>¿Tiene Pr&oacute;rroga?</th>
                                <th>Voucher</th>
                                <th>Estado</th>
                                <!--<th></th>-->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let solicitud of listaSolicitudes; let i = index">
                                <tr [ngClass]="{ enviado: solicitud.nFlgestado == 4, observado: solicitud.nFlgestado == 5, conforme: solicitud.nFlgestado == 6 }">
                                    <td>
                                        <span>{{i+1}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.tFecsolic | date:'dd/MM/yyyy'}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vSindicato}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vRucsol}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vEmpleador}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vArbitro}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="solicitud.nFlgprorro == 0">NO</span>
                                        <span *ngIf="solicitud.nFlgprorro == 1">SI</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vVoucher}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="solicitud.nFlgestado == 0">
                                            PENDIENTE
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 1">
                                            NOTIFICADO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 2">
                                            EN PLAZO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 3">
                                            EN PR&Oacute;RROGA
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 4">
                                            ENVIADO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 5">
                                            OBSERVADO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 6">
                                            CONFORME
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 7">
                                            DADO DE BAJA
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 8">
                                            TARDANZA
                                        </span>
                                    </td>
                                    <!--<td>
                                        <a class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>-->
                                    <td>
                                        <ng-container *ngIf="solicitud.nFlgestado == 0">
                                            <a class="btn btn-sm btn-secondary" (click)="cambiarEstadoNotificar(solicitud)">
                                                <i class="fa fa-bell" aria-hidden="true"></i>
                                            </a>
                                            <a class="btn btn-sm btn-warning" (click)="mostrarModalEliminar(solicitud)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </ng-container>
                                        <ng-container *ngIf="solicitud.nFlgestado == 1 || solicitud.nFlgestado == 5">
                                            <a class="btn btn-sm btn-warning" (click)="observarSolicitud(solicitud)">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </ng-container>
                                        <ng-container *ngIf="solicitud.nFlgestado == 1 || solicitud.nFlgestado == 5">
                                            <a class="btn btn-sm btn-warning" (click)="darBaja(solicitud)">
                                                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                            </a>
                                        </ng-container>
                                        <ng-container *ngIf="solicitud.nFlgestado == 6">
                                            <ng-container *ngIf="solicitud.reporteres != null">
                                                <p-fileUpload mode="basic" name="myfile" url="/api/subirAnalisis?nCodsolic={{solicitud.nCodsolic}}" auto="true" onUpload="refrescarSolicitudes($event)"
                                                    chooseLabel="Examinar"></p-fileUpload>
                                                <a class="btn btn-sm btn-secondary" >
                                                    <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                                </a>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <p-blockUI [target]="pnldialog" [blocked]="blockDialog"></p-blockUI>
                    <p-dialog id="pnldialog" [(visible)]="display" modal="modal" width="810" [responsive]="true">
                        <p-header>
                            Registro de Solicitud de Dictamen Económico Laboral
                        </p-header>
                        <p>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <p-fieldset legend="Sindicato">
                                        <div class="form-group row mb-2">
                                            <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Numero de Documento</label>
                                            <div class="col-sm-7">
                                                <input type="text" (keypress)="keyPress($event)" class="form-control form-control-sm" name="txtDNI" id="inpDNI" [(ngModel)]="sindicato.cDesdocruc">
                                            </div>
                                            <div class="col-sm-2">
                                                <a style="color:white;" class="btn btn-sm btn-info" (click)="buscarSindicato()">
                                                    <i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Sindicato</label>
                                            <div class="col-sm-7">
                                                <input type="text" disabled class="form-control form-control-sm" name="txtDNI" id="inpDNI" [(ngModel)]="sindicato.vDesorgani">
                                            </div>
                                        </div>
                                    </p-fieldset>
                                </div>
                            </div>
                            <br/>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <p-fieldset legend="Empresa">
                                        <div class="form-group row mb-2">
                                            <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Numero de Documento</label>
                                            <div class="col-sm-7">
                                                <input type="text" (keypress)="keyPress($event)" class="form-control form-control-sm" name="txtDNI" id="inpDNI" [(ngModel)]="empresa.ddp_numruc">
                                            </div>
                                            <div class="col-sm-2">
                                                <a style="color:white;" class="btn btn-sm btn-info" (click)="buscarEmpresaRuc()">
                                                    <i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Empresa</label>
                                            <div class="col-sm-7">
                                                <input type="text" disabled class="form-control form-control-sm" name="txtDNI" id="inpDNI" [(ngModel)]="nombreEmpresa">
                                            </div>
                                        </div>
                                    </p-fieldset>
                                </div>
                            </div>
                            <br/>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <p-fieldset legend="Árbitro">
                                        <div class="form-group row mb-2">
                                            <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Numero de Documento</label>
                                            <div class="col-sm-7">
                                                <input type="text" (keypress)="keyPress($event)" class="form-control form-control-sm" name="txtDNI" id="inpDNI" [(ngModel)]="arbitro.ddp_numruc">
                                            </div>
                                            <div class="col-sm-2">
                                                <a style="color:white;" class="btn btn-sm btn-info" (click)="buscarArbitroRuc()">
                                                    <i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Árbitro</label>
                                            <div class="col-sm-7">
                                                <input type="text" disabled class="form-control form-control-sm" name="txtDNI" id="inpDNI" [(ngModel)]="nombreArbitro">
                                            </div>
                                        </div>
                                    </p-fieldset>
                                </div>
                            </div>
                            <br/>
                            <!--<div class="form-row">
                                <div class="col-md-12">
                                    <p-fieldset legend="Coordinador">
                                        <div class="form-group row mb-2">
                                            <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Numero de Documento</label>
                                            <div class="col-sm-7">
                                                <input type="text" (keypress)="keyPress($event)" class="form-control form-control-sm" name="txtDNI" id="inpDNI" [(ngModel)]="numdoc">
                                            </div>
                                            <div class="col-sm-2">
                                                <a style="color:white;" class="btn btn-sm btn-info">
                                                    <i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Coordinador</label>
                                            <div class="col-sm-7">
                                                <input type="text" disabled class="form-control form-control-sm" name="txtDNI" id="inpDNI" [(ngModel)]="nombreCoordinador">
                                            </div>
                                        </div>
                                    </p-fieldset>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group row mb-2">
                                <label for="inpRUC" class="col-sm-3 col-form-label col-form-label-sm">Vigencia Inicio</label>
                                <div class="col-sm-3">
                                    <input type="date" class="form-control form-control-sm" id="inpRUC" [(ngModel)]="vigenciaInicio">
                                </div>
                                <label for="inpRUC" class="col-sm-3 col-form-label col-form-label-sm">Vigencia Hasta</label>
                                <div class="col-sm-3">
                                    <input type="date" class="form-control form-control-sm" id="inpRUC" [(ngModel)]="vigenciaFinal">
                                </div>
                            </div>-->
                            <p-messages [(value)]="messagesForm"></p-messages>
                        </p>
                        <p-footer>
                            <a style="color:white;" class="btn btn-sm btn-info" (click)="guardarSolicitud()">
                                <i class="fa fa-check" aria-hidden="true"></i> Guardar</a>
                            <a style="color:white;" class="btn btn-sm btn-danger" (click)="display = false;">
                                <i class="fa fa-close" aria-hidden="true"></i> Cancelar</a>
                        </p-footer>
                    </p-dialog>

                    <p-dialog [(visible)]="displayEliminar" modal="modal" width="500" [responsive]="true">
                        <p-header>
                            Eliminar
                        </p-header>
                        <p>¿Desea eliminar la Solicitud?</p>
                        <p-messages [(value)]="messagesForm"></p-messages>
                        <p-footer>
                            <button type="button" icon="fa-check" (click)="displayEliminar = false">Cancelar</button>
                            <button type="submit" icon="fa-close" (click)="eliminarSolicitud()">Eliminar</button>
                        </p-footer>
                    </p-dialog>

                    <p-dialog [(visible)]="displayBajaObservacion" modal="modal" width="500" [responsive]="true">
                        <p-header>
                            Dar de Baja por Observacion
                        </p-header>
                        <p>Es la segunda observación para esta solicitud, se le dará de baja al confirmar</p>
                        <p-messages [(value)]="messagesForm"></p-messages>
                        <p-footer>
                            <button type="button" icon="fa-check" (click)="displayEliminar = false">Cancelar</button>
                            <button type="submit" icon="fa-close" (click)="darBajaObservacion()">Confirmar</button>
                        </p-footer>
                    </p-dialog>

                </div>
            </div>
        </div>
    </div>
</div>