<p-blockUI [blocked]="block"></p-blockUI>
<p-growl [(value)]="mensajes"></p-growl>
<div class="row mt-3">
    <div class="col">
        <div class="card card-mtpe mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5><small class="ml-3">
                    <i class="fa fa-group" aria-hidden="true"></i>
                    Audiencias -</small>
                    <span [ngSwitch]="currentUrl">
                        <small *ngSwitchCase="'/conciliaciones/audiencia/asignacion-abogado'" >Asignación de Abogados</small>
                        <small *ngSwitchCase="'/conciliaciones/audiencia/registrar-resultado'" >Resultado de Audiencia</small>
                        <small *ngSwitchCase="'/conciliaciones/audiencia/reprogramacion'" >Reprog. de Audiencia</small>
                        <small *ngSwitchCase="'/conciliaciones/audiencia/registrar-escrito'" >Registrar Escrito</small>
                    </span>
                </h5>
            </div>
            <div class="card-body">
                <div class="defensa px-2">
                    <div class="row">
                        <div class="col-md-12 mt-1">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label >Fecha de Conciliación:</label> 
                                    <!-- <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Fecha de Conciliación:"> -->
                                </div>
                                <div class="form-group mx-sm-2">
                                    <p-calendar name="fechaAudiencia" [(ngModel)]="fechaAudiencia" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                                </div>
                                <div class="form-group mx-sm-2">
                                        <button class="btn btn-sm btn-secondary px-3" (click)="search(fechaAudiencia)">
                                                <span class="fa fa-search"></span> Buscar
                                        </button>
                                        <!-- <a href="#" class="btn btn-sm btn-secondary "><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3">
                    
                    <span [ngSwitch]="currentUrl">
                        <div *ngSwitchCase="'/conciliaciones/audiencia/asignacion-abogado'" class="row my-2">
                            <div class="col-md-2 text-left">
                                <button (click)="abrirModal('asignacion')"  class="btn btn-sm btn-success "><i class="fa fa-archive" aria-hidden="true"></i> Asignar Expediente</button>
                            </div>
                        </div>
                        <div *ngSwitchCase="'/conciliaciones/audiencia/registrar-resultado'" class="row my-2">
                            <div class="col-md-2 text-left">
                                <button (click)="abrirModal('resultado')"  class="btn btn-sm btn-warning px-4"><i class="fa fa-sticky-note" aria-hidden="true"></i> Registrar Resultado</button>
                            </div>
                        </div>
                        <div *ngSwitchCase="'/conciliaciones/audiencia/reprogramacion'" class="row my-2">
                            <div class="col-md-2 text-left">
                                <button (click)="abrirModal('reprogramacion')" class="btn btn-sm btn-info"><i class="fa fa-sticky-note" aria-hidden="true"></i> Reprogramación de Audiencia</button>
                            </div>
                        </div>
                        <div *ngSwitchCase="'/conciliaciones/audiencia/registrar-escrito'" class="row my-2">
                                <div class="col-md-2 text-left">
                                    <button [routerLink]="['/conciliaciones/audiencia/registrar-escrito', { outlets: { popupexp: id } }]" class="btn btn-sm btn-info"><i class="fa fa-sticky-note" aria-hidden="true"></i> Registrar Escrito</button>
                                </div>
                        </div>
                    </span>
                    <form>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <p-dataTable selectionMode="single" [value]="concilias" dataKey="id" (onRowSelect)="seleccionarFila($event)">
                                    <p-header>Expedientes</p-header>
                                    <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                        <ng-template let-i="rowIndex" pTemplate="body">
                                            <span style="text-align:center">{{i+1}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="expediente.vNumexp" header="Nro. Expediente"></p-column>
                                    <p-column field="nrodocemp" header="Razón Nro. RUC"></p-column>
                                    <p-column field="fullnameemp" header="Empleador"></p-column>
                                    <p-column field="nrodoctrab" header="Nro. Documento"></p-column>
                                    <p-column field="fullnametrab" header="Trabajador"></p-column>
                                    <p-column field="fechahoraconci" header="Fecha de Conciliación"></p-column>
                                    <p-column field="abogado.vNomabogad" header="Conciliador"></p-column>
                                    <p-column field="resulconci.vDescrip" header="Resultado"></p-column>
                                    <ng-template pTemplate="emptymessage">
                                        No se han encontrado registros
                                    </ng-template>
                                </p-dataTable>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet name="popupexp"></router-outlet>

