<div>
    <div class="modal-header">
        <h4 class="modal-title" id="myAbogadoLabel">Asignación Abogados</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body pt-0">
        <p-messages [(value)]="messagesAbogado"></p-messages>
        <div class="row">
            <div class="col-12 backmodal">
                <span class="fa fa-file-text-o"></span>&nbsp;N° Expediente: {{numero_exp}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-calendar"></span>&nbsp;Fecha de Audiencia: {{varfechahoraconci}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-4">Empleador:</label>
            <div class="col-md-8">
                <label class="col-form-label">{{fullnameemp}}</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-4">Trabajador:</label>
            <div class="col-md-8">
                <label class="col-form-label">{{fullnametrab}}</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-4">Seleccione Abogado:</label>
            <div class="col-md-8">
                <p-dropdown [options]="abogados" name="selectedAbogado" [(ngModel)]="selectedAbogado" [style]="{'width':'140px'}" placeholder="Seleccione"
                name="selectedAbogado" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>    
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button  data-dismiss="modal" (click)="save()" class="btn btn-danger btn-sm">
            <span class="fa fa-floppy-o"></span>&nbsp;<span>Guardar</span>
        </button>
        <button class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span >Cancelar</span>
        </button>
        <!-- <button type="button" [disabled]="isSaving" class="btn btn-warning" (click)="save()">
            <span class="fa fa-floppy-o"></span>&nbsp;<span>Guardar</span>
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span >Cancelar</span>
        </button> -->
    </div>
</div>
    