<p-blockUI [blocked]="block"></p-blockUI>
<p-growl [(value)]="mensajes"></p-growl>
<div class="row mt-3">
    <div class="col">
        <div class="card card-mtpe mb-3">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0"><small class="ml-3"><i class="fa fa-group" aria-hidden="true"></i> Consulta de Audiencias</small></h5>
            </div>
            <div class="card-body">
                <div class="defensa px-2">
                    <p-tabView>
                        <p-tabPanel header="Por Fecha" [selected]="true">
                            <fieldset class="col">
                                <legend>Búsqueda</legend>
                                <form>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p-radioButton name="groupname" value="1" label="Por: Nro. de Exp." [(ngModel)]="tipoBusqueda"></p-radioButton>
                                                </div>
                                                <div class="col-md-12">
                                                    <p-radioButton name="groupname" value="2" label="Por: Rango de Fechas" [(ngModel)]="tipoBusqueda"></p-radioButton>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div *ngIf="tipoBusqueda==='1'" class="col-md-7">
                                            <div class="form-group row">
                                                <label for="vNumexp" class="col-sm-3 col-form-label">Nº Expediente:</label>
                                                <div class="col-sm-4 px-0">
                                                    <input class="form-control form-control-sm" type="text" [(ngModel)]="vNumexp" name="vNumexp" />
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="tipoBusqueda==='2'" class="col-md-7">
                                            <div class="form-group row">
                                                <label for="inpTipo" class="col-sm-3 col-form-label">Fechas:</label>
                                                <p-calendar name="rangeDates" [(ngModel)]="rangeDates" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
                                                    yearRange="2000:2030" selectionMode="range" readonlyInput="true"></p-calendar>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <button (click)="buscarAudiencia()" class="btn btn-sm btn-secondary px-3"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                            <div class="row my-2">
                                <div class="col-md-2 text-left">
                                    <!-- <a [routerLink]="" class="btn btn-success btn-sm">
                                        <i class="fa fa-archive" aria-hidden="true"></i> Ver Audiencia</a> -->
                                    <button (click)="abrirModal()"  class="btn btn-sm btn-success "><i class="fa fa-archive" aria-hidden="true"></i> Ver Audiencia</button>
                                </div>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <p-dataTable selectionMode="single" [value]="concilias" [rows]="10" [paginator]="true" dataKey="id" (onRowSelect)="onRowSelect($event)">
                                            <p-header>Expedientes</p-header>
                                            <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                                <ng-template let-i="rowIndex" pTemplate="body">
                                                    <span style="text-align:center">{{i+1}}</span>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="expediente.vNumexp" header="Nro. Expediente"></p-column>
                                            <p-column field="nrodocemp" header="Razón Nro. RUC"></p-column>
                                            <p-column field="fullnameemp" header="Empleador"></p-column>
                                            <p-column field="nrodoctrab" header="Nro. Documento"></p-column>
                                            <p-column field="fullnametrab" header="Trabajador"></p-column>
                                            <p-column field="fechahoraconci" header="Fecha de Conciliación"></p-column>
                                            <p-column field="abogado.vNomabogad" header="Conciliador"></p-column>
                                            <p-column field="resulconci.vDescrip" header="Resultado"></p-column>
                                            <ng-template pTemplate="emptymessage">
                                                No se han encontrado registros
                                            </ng-template>
                                        </p-dataTable>
                                    </div>
                                </div>
                            </form>
                        </p-tabPanel>
                        <p-tabPanel header="Por Conciliador">
                            <fieldset class="col">
                                <legend>Búsqueda</legend>
                                <form>
                                    <div class="form-row">
                                        <div class="col-md-9">
                                            <div class="form-group row">
                                                <label for="inpTipo" class="col-sm-3 col-form-label">Conciliador:</label>
                                                <div class="col-sm-9 pl-0">
                                                    <p-dropdown [options]="abogados" name="selectedAbogado" [(ngModel)]="selectedAbogado" placeholder="Seleccione"
                                                    name="selectedAbogado" optionLabel="name" autoWidth="false" [style]="{'width':'300px'}"></p-dropdown>    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <a href="#" class="btn btn-sm btn-secondary ">
                                                <button (click)="buscarAudienciaAbogado()" class="btn btn-sm btn-secondary px-3"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                            <div class="row my-2">
                                <div class="col-md-2 text-left">
                                    <!-- <a [routerLink]="" class="btn btn-success btn-sm">
                                        <i class="fa fa-archive" aria-hidden="true"></i> Ver Audiencia</a> -->

                                    <button (click)="abrirModal()"  class="btn btn-sm btn-success "><i class="fa fa-archive" aria-hidden="true"></i> Ver Audiencia</button>
                                </div>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <p-dataTable selectionMode="single" [value]="concilias2" dataKey="id" (onRowSelect)="onRowSelect($event)">
                                            <p-header>Expedientes</p-header>
                                            <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                                <ng-template let-i="rowIndex" pTemplate="body">
                                                    <span style="text-align:center">{{i+1}}</span>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="expediente.vNumexp" header="Nro. Expediente"></p-column>
                                            <p-column field="nrodocemp" header="Razón Nro. RUC"></p-column>
                                            <p-column field="fullnameemp" header="Empleador"></p-column>
                                            <p-column field="nrodoctrab" header="Nro. Documento"></p-column>
                                            <p-column field="fullnametrab" header="Trabajador"></p-column>
                                            <p-column field="fechahoraconci" header="Fecha de Conciliación"></p-column>
                                            <p-column field="
                                            abogado.vNomabogad" header="Conciliador"></p-column>
                                            <p-column field="resulconci.vDescrip" header="Resultado"></p-column>
                                            <ng-template pTemplate="emptymessage">
                                                No se han encontrado registros
                                            </ng-template>
                                        </p-dataTable>
                                    </div>
                                </div>
                            </form>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet name="popupexp"></router-outlet>