<div>
    <div class="modal-header">
        <h4 class="modal-title" id="myAbogadoLabel">Reprogramación Audiencia</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body pt-0">
        <jhi-alert-error></jhi-alert-error>
        <p-messages [(value)]="messagesReprogramacion"></p-messages>
        <div class="row">
            <div class="col-12 backmodal">
                <span class="fa fa-file-text-o"></span>&nbsp;N° Expediente: {{numero_exp}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-calendar"></span>&nbsp;Fecha de Audiencia: {{varfechahoraconci}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-4">Empleador:</label>
            <div class="col-md-8">
                <label class="col-form-label">{{fullnameemp}}</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-4">Trabajador:</label>
            <div class="col-md-8">
                <label class="col-form-label">{{fullnametrab}}</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-4" for="field_tFecreg">Fecha</label>
            <div class="col-md-5">
                <p-calendar name="fechaReprogramacion" [(ngModel)]="fechaReprogramacion" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" (onSelect)="EventoCalendar(fechaReprogramacion)" ></p-calendar>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-4">Seleccione Hora:</label>
            <div class="col-md-8">
                <p-dropdown [options]="Horacbs" [disabled]="horadisabled" name="selectedHora" [(ngModel)]="selectedHora" [style]="{'width':'140px'}" placeholder="Seleccione"
                name="selectedHora" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>    
            </div>
        </div>
    </div>
    <div class="modal-footer">
            <button  type="button" (click)="save()" class="btn btn-danger btn-sm">
                <span class="fa fa-floppy-o"></span>&nbsp;<span>Guardar</span>
            </button>
            <button class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span >Cancelar</span>
            </button>
            <!-- <button type="button" [disabled]="isSaving" class="btn btn-warning" (click)="save()">
                <span class="fa fa-floppy-o"></span>&nbsp;<span>Guardar</span>
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span >Cancelar</span>
            </button> -->
            
        </div>

</div>
    