<p-blockUI [blocked]="block"></p-blockUI>
<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col">
            <h4 class="title">Asignacion de Solicitudes</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                    <h5 class="mb-0">
                        <small>Listado de Solicitudes</small>
                    </h5>
                </div>
                <div class="card-body">
                    <p class="text-right">
                        <strong>Usuario Coordinador Economico: </strong>Martín Marin Garrido</p>
                    <div class="form-row mb-2">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="inpRuc" class="col-sm-3 col-form-label col-form-label-sm text-right">RUC</label>
                                <div class="col-sm-9">
                                    <input type="text" (keypress)="keyPress($event)" maxlength="15" class="form-control form-control-sm" id="inpRuc" [(ngModel)]="rucSearch"
                                        placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label for="inpRsocial" class="col-sm-3 col-form-label col-form-label-sm text-right">Razón Social</label>
                                <div class="col-sm-9" style="display: inline-flex">
                                    <input type="text" class="form-control form-control-sm" id="inpRsocial" placeholder="" style="margin-right:10px" [(ngModel)]="razonSocialSearch">
                                    <a (click)="buscarSolicitudes(rucSearch)" class="btn btn-sm btn-info" style="padding-left:5px;color:white;">
                                        <i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <table class="table table-responsive table-bordered table-hover" id="Csolicitud">
                        <thead style="text-align: center;">
                            <tr>
                                <th>N°</th>
                                <th>Fecha</th>
                                <th>RUC</th>
                                <th>Razón Social</th>
                                <th>Voucher</th>
                                <th>Revisor Economico</th>
                                <th>Analista Economico</th>
                                <th>Estado</th>
                                <!--<th></th>-->
                                <th>Asignar Revisor</th>
                                <th>Asignar Analista</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let solicitud of listaSolicitudes; let i = index">
                                <tr [ngClass]="{ enviado: solicitud.nFlgestado == 4, observado: solicitud.nFlgestado == 5, conforme: solicitud.nFlgestado == 6 }">
                                    <td>
                                        <span>{{i+1}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.tFecsolic | date:'dd/MM/yyyy'}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vRucsol}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vEmpleador}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vVoucher}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vNombresRevisorEconomico}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vNombresAnalistaEconomico}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="solicitud.nFlgestado == 0">
                                            PENDIENTE
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 1">
                                            NOTIFICADO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 2">
                                            EN PLAZO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 3">
                                            EN PR&Oacute;RROGA
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 4">
                                            ENVIADO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 5">
                                            OBSERVADO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 6">
                                            CONFORME
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 7">
                                            DADO DE BAJA
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 8">
                                            TARDANZA
                                        </span>
                                    </td>
                                    <td style="text-align:center">
                                        <ng-container *ngIf="solicitud.nFlgestado == 4">
                                            <ng-container *ngIf="solicitud.vNombresRevisorEconomico == null">
                                                <a class="btn btn-sm btn-warning" (click)="asignarRevisorEconomico(solicitud)">
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                </a>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                    <td style="text-align:center">
                                        <ng-container *ngIf="solicitud.nFlgestado == 6">
                                            <ng-container *ngIf="solicitud.vNombresAnalistaEconomico == null">
                                                <a class="btn btn-sm btn-primary" (click)="asignarAnalistaEconomico(solicitud)">
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                </a>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <p-blockUI [target]="pnldialog" [blocked]="blockDialog"></p-blockUI>
                    <p-dialog id="pnldialog" [(visible)]="displayAsignarRevisor" modal="modal" width="810" [responsive]="true">
                        <p-header>
                            Asignacion de Usuario Revisor
                        </p-header>
                        <p>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <!--<div class="form-group row mb-2">
                                                    <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Fecha</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" disabled class="form-control form-control-sm" name="txtDNI" id="inpDNI" [(ngModel)]="sindicato.vDesorgani">
                                                    </div>
                                                </div>-->
                                    <div class="form-group row mb-2">
                                        <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Usuario Revisor</label>
                                        <div class="col-sm-7">
                                            <select class="form-control form-control-sm" [(ngModel)]="selectedRevisor" (change)="selectRevisorchange($event)">
                                                <option value="0">Usuario Revisor 1</option>
                                                <option value="1">Usuario Revisor 2</option>
                                                <option value="2">Usuario Revisor 3</option>
                                                <option value="3">Usuario Revisor 4</option>
                                                <option value="4">Usuario Revisor 5</option>
                                                <option value="5">Usuario Revisor 6</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>

                            <p-messages [(value)]="messagesForm"></p-messages>
                        </p>
                        <p-footer>
                            <a style="color:white;" class="btn btn-sm btn-info" (click)="guardarAsignacionRevisor()">
                                <i class="fa fa-check" aria-hidden="true"></i> Asignar</a>
                            <a style="color:white;" class="btn btn-sm btn-danger" (click)="displayAsignarRevisor = false;">
                                <i class="fa fa-close" aria-hidden="true"></i> Cancelar</a>
                        </p-footer>
                    </p-dialog>

                    <p-dialog id="pnldialog" [(visible)]="displayAsignarAnalista" modal="modal" width="810" [responsive]="true">
                        <p-header>
                            Asignacion de Usuario Analista
                        </p-header>
                        <p>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <!--<div class="form-group row mb-2">
                                                        <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Fecha</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" disabled class="form-control form-control-sm" name="txtDNI" id="inpDNI" [(ngModel)]="sindicato.vDesorgani">
                                                        </div>
                                                    </div>-->
                                    <div class="form-group row mb-2">
                                        <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">Usuario Analista</label>
                                        <div class="col-sm-7">
                                            <select class="form-control form-control-sm" [(ngModel)]="selectedAnalista">
                                                <option value="0">Usuario Analista 1</option>
                                                <option value="1">Usuario Analista 2</option>
                                                <option value="2">Usuario Analista 3</option>
                                                <option value="3">Usuario Analista 4</option>
                                                <option value="4">Usuario Analista 5</option>
                                                <option value="5">Usuario Analista 6</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>

                            <p-messages [(value)]="messagesForm"></p-messages>
                        </p>
                        <p-footer>
                            <a style="color:white;" class="btn btn-sm btn-info" (click)="guardarAsignacionAnalista()">
                                <i class="fa fa-check" aria-hidden="true"></i> Asignar</a>
                            <a style="color:white;" class="btn btn-sm btn-danger" (click)="displayAsignarAnalista = false;">
                                <i class="fa fa-close" aria-hidden="true"></i> Cancelar</a>
                        </p-footer>
                    </p-dialog>



                </div>
            </div>
        </div>
    </div>
</div>