<p-blockUI [blocked]="block"></p-blockUI>
<p-growl [(value)]="messages"></p-growl>
<div class="card card-panel mb-2">
  <div class="card-header d-sm-flex justify-content-between">
    <h5>
      <small class="ml-3">Registro de Ficha Retornante</small>
    </h5>
    <ul class="d-flex mb-0 pl-0">
      <li class="">
        <a href="#" class="mx-1 p-1 btn-collapse">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body" style="">
    <form>
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <hr>
          <h4>
            <small class="ml-3">Datos Principales
            </small>
          </h4>
          <small class="ml-3">
            <div class="form-group row">
              <label for="exampleFormControlSelect1" class="col-sm-2 ol-form-label text-sm-right">Tipo de Documento</label>
              <div class="col-sm-3">
                <p-dropdown appendTo="body" [options]="tipoDocList" [(ngModel)]="pernatural.tipoDoc" name="tipoDoc" [style]="{'width':'120px'}"
                  editable="true" placeholder="Seleccione tipo doc." optionLabel="name"></p-dropdown>
              </div>
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Nro. Documento</label>
              <div class="col-sm-3">
                <input [(ngModel)]="pernatural.numDoc" name="numDoc" type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Nombres</label>
              <div class="col-sm-8">
                <input [(ngModel)]="pernatural.nombres" name="nombres" type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="cboGenero" class="col-sm-2 ol-form-label text-sm-right">Genero</label>
              <div class="col-sm-2">
                <p-dropdown appendTo="body" [options]="generoList" [(ngModel)]="pernatural.genero" name="genero" [style]="{'width':'120px'}"
                  editable="true" placeholder="." optionLabel="name"></p-dropdown>
              </div>
              <label for="cboEstadoCivil" class="col-sm-1 ol-form-label text-sm-right">Estado Civil</label>
              <div class="col-sm-2">
                <p-dropdown appendTo="body" [options]="estadoCivilList" [(ngModel)]="pernatural.estadoCivil" name="estadoCivil" [style]="{'width':'120px'}"
                  editable="true" placeholder="" optionLabel="name"></p-dropdown>
              </div>
              <label for="cboEstadoCivil" class="col-sm-1 ol-form-label text-sm-right">Discapacidad</label>
              <div class="col-sm-2">
                <p-inputSwitch onLabel="Si" offLabel="No" [(ngModel)]="pernatural.discapacidad" name="discapacidad"></p-inputSwitch>
              </div>
            </div>
            <div class="form-group row">

              <label for="cboEstadoCivil" class="col-sm-2 ol-form-label text-sm-right">Nacionalidad</label>
              <div class="col-sm-2">
                <input [(ngModel)]="pernatural.nacionalidad" name="nacionalidad" type="text" class="form-control" placeholder="">
              </div>
              <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Pais de Nacimiento</label>
              <div class="col-sm-2">
                <p-dropdown appendTo="body" [options]="paisNacimientoList" [(ngModel)]="pernatural.codPaisNacimiento" name="codPaisNacimiento"
                  [style]="{'width':'120px'}" editable="true" placeholder="" optionLabel="name"></p-dropdown>
              </div>
              <label for="cboEstadoCivil" class="col-sm-1 ol-form-label text-sm-right">Fecha Nacimiento</label>
              <div class="col-sm-2">
                <p-calendar [(ngModel)]="pernatural.fecNacimiento" name="fecNacimiento" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Pais de Residencia</label>
              <div class="col-sm-2">
                <p-dropdown appendTo="body" [options]="paisResidenciaList" [(ngModel)]="pernatural.codPaisResidencia" name="codPaisResidencia"
                  [style]="{'width':'120px'}" editable="true" placeholder="" optionLabel="name"></p-dropdown>
              </div>
              <label for="cboEstadoCivil" class="col-sm-1 ol-form-label text-sm-right">Jefe de Hogar</label>
              <div class="col-sm-2">
                <p-inputSwitch onLabel="Si" offLabel="No" [(ngModel)]="pernatural.flagJefeHogar" name="flagJefeHogar"></p-inputSwitch>
              </div>
              <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Edad</label>
              <div class="col-sm-2">
                <p-spinner [disabled]="true" size="20" [(ngModel)]="pernatural.edad" name="edad" [min]="0" [max]="100"></p-spinner>
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label  text-sm-right">Correo electronico</label>
              <div class="col-sm-5">
                <input type="text" [(ngModel)]="pernatural.correo" name="correo" class="form-control" placeholder="">
              </div>
            </div>
            <hr>
            <h4>
              <small class="ml-3">Nivel Educativo
              </small>
            </h4>
            <small class="ml-3">
              <div class="form-group row">
                <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Maximo Grado de Instrucción</label>
                <div class="col-sm-2">
                  <p-dropdown appendTo="body" [options]="gradoInstruccionList" [(ngModel)]="niveleduca.gradoInstruccion1" name="gradoInstruccion1"
                    [style]="{'width':'120px'}" editable="true" placeholder="" optionLabel="name"></p-dropdown>
                </div>
                <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Profesión</label>
                <div class="col-sm-2">
                  <input [(ngModel)]="niveleduca.profesion1" name="profesion1" type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Maximo Grado en el extranjero</label>
                <div class="col-sm-2">
                  <p-dropdown appendTo="body" [options]="gradoInstruccionList" [(ngModel)]="niveleduca.gradoInstruccion2" name="gradoInstruccion2"
                    [style]="{'width':'120px'}" editable="true" placeholder="" optionLabel="name"></p-dropdown>
                </div>
                <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Profesión</label>
                <div class="col-sm-2">
                  <input [(ngModel)]="niveleduca.profesion2" name="profesion2" type="text" class="form-control" placeholder="">
                </div>
              </div>
              <hr>
              <h4>
                <small class="ml-3">Experiencia Laboral
                </small>
              </h4>
              <small class="ml-3">
                <div class="form-group row">
                  <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Ultima ocupacion en el Perú</label>
                  <div class="col-sm-2">
                    <input [(ngModel)]="explaboral.desOcupaPeru" name="desOcupaPeru" type="text" class="form-control" placeholder="">
                  </div>
                  <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Fecha Inicio</label>
                  <div class="col-sm-2">
                    <p-calendar [(ngModel)]="explaboral.fecIniPeru" name="fecIniPeru" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                  </div>
                  <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Fecha Fin</label>
                  <div class="col-sm-2">
                    <p-calendar [(ngModel)]="explaboral.fecFinPeru" name="fecFinPeru" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Ultima ocupacion en el Extranjero</label>
                  <div class="col-sm-2">
                    <input [(ngModel)]="explaboral.desOcupaExtr" name="desOcupaExtr" type="text" class="form-control" placeholder="">
                  </div>
                  <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Fecha Inicio</label>
                  <div class="col-sm-2">
                    <p-calendar [(ngModel)]="explaboral.fecIniExtr" name="fecIniExtr" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                  </div>
                  <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Fecha Fin</label>
                  <div class="col-sm-2">
                    <p-calendar [(ngModel)]="explaboral.fecFinExtr" name="fecFinExtr" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                  </div>
                </div>

                <hr>
                <h4>
                  <small class="ml-3">Retorno al Perú
                  </small>
                </h4>
                <small class="ml-3">
                  <div class="form-group row">
                    <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Departamento de Retorno (Opcion 1)</label>
                    <div class="col-sm-3">
                        <p-dropdown appendTo="body" [options]="departs" [(ngModel)]="datretorno.depaOpc1" name="depaOpc1"
                        [style]="{'width':'120px'}" editable="true" optionLabel="name"></p-dropdown>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Departamento de Retorno (Opcion 2)</label>
                    <div class="col-sm-3">
                        <p-dropdown appendTo="body" [options]="departs" [(ngModel)]="datretorno.depaOpc2" name="depaOpc2"
                        [style]="{'width':'120px'}" editable="true" optionLabel="name"></p-dropdown>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Fecha de Salida del Perú</label>
                    <div class="col-sm-3">
                      <p-calendar [(ngModel)]="datretorno.fecSalidaPeru" name="fecSalidaPeru" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Fecha Probable de Retorno</label>
                    <div class="col-sm-3">
                      <p-calendar [(ngModel)]="datretorno.fecRetornoPeru" name="fecRetornoPeru" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="cboEstadoCivil" class="col-sm-2 ol-form-label text-sm-right">Retorno con Familia</label>
                    <div class="col-sm-2">
                      <p-inputSwitch onLabel="Si" offLabel="No" [(ngModel)]="datretorno.flagRetConFami" name="flagRetConFami"></p-inputSwitch>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10" *ngIf="datretorno.flagRetConFami === true">
                      <p-dataTable [value]="famiretModelList">
                        <p-column field="vinculo.name" header="Vinculo" [editable]="true"></p-column>
                        <p-column field="nacionalidad.name" header="Nacionalidad" [editable]="true"></p-column>
                        <p-column field="genero.name" header="Genero" [editable]="true"></p-column>
                        <p-column field="edad" header="Edad" [editable]="true"></p-column>
                        <p-column>
                          <ng-template let-car="rowData" let-ri="rowIndex" pTemplate="body">
                            <button type="button" pButton (click)="delete(ri)" icon="fa-search"></button>
                          </ng-template>
                        </p-column>
                        <p-footer>
                          <div class="ui-helper-clearfix" style="width:100%">
                            <button type="button" pButton icon="fa-plus" style="float:left" (click)="addRow()" label="Add"></button>
                          </div>
                        </p-footer>
                      </p-dataTable>
                      <p-dialog header="Familia de Retornante" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
                        <p-growl [(value)]="messagesDialog"></p-growl>
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                          <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                              <label for="vin">Vinculo</label>
                            </div>
                            <div class="ui-grid-col-8">
                              <p-dropdown [(ngModel)]="famiretModelDialog.vinculo" name="vinculo" [options]="vinculoList" [autoWidth]="false" [style]="{'width':'100%'}"
                                appendTo="body" optionLabel="name"></p-dropdown>
                            </div>
                          </div>
                          <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                              <label for="year">Nacionalidad</label>
                            </div>
                            <div class="ui-grid-col-8">
                              <p-dropdown [(ngModel)]="famiretModelDialog.nacionalidad" name="nacionalidad" [options]="paisNacimientoList" [autoWidth]="false"
                                [style]="{'width':'100%'}" appendTo="body" optionLabel="name"></p-dropdown>
                            </div>
                          </div>
                          <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                              <label for="brand">Genero</label>
                            </div>
                            <div class="ui-grid-col-8">
                              <p-dropdown [(ngModel)]="famiretModelDialog.genero" name="genero" [options]="generoList" [autoWidth]="false" [style]="{'width':'100%'}"
                                appendTo="body" optionLabel="name"></p-dropdown>
                            </div>
                          </div>
                          <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                              <label for="color">Edad</label>
                            </div>
                            <div class="ui-grid-col-8">
                              <p-spinner size="20" [(ngModel)]="famiretModelDialog.edad" name="edad" [min]="0" [max]="100"></p-spinner>
                            </div>
                          </div>
                        </div>
                        <p-footer>
                          <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Delete"></button>
                            <button type="button" pButton icon="fa-check" (click)="saveRow()" label="Save"></button>
                          </div>
                        </p-footer>
                      </p-dialog>
                    </div>
                  </div>
                  <hr>
                  <h4>
                    <small class="ml-3">Informacion Laboral
                    </small>
                  </h4>
                  <small class="ml-3">
                    <div class="form-group row">
                      <label for="inpNombre" class="col-sm-3 col-form-label text-sm-right">Salario minimo que aspira ganar en el Perú</label>
                      <div class="col-sm-3">
                        <p-dropdown appendTo="body" [options]="salarioMinList" [(ngModel)]="inforlab.salarioMin" name="salarioMin" [style]="{'width':'120px'}"
                          editable="true" placeholder="" optionLabel="name"></p-dropdown>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inpNombre" class="col-sm-3 col-form-label text-sm-right">En que ocupaciones considera podria desempeñarse 1.</label>
                      <div class="col-sm-4">
                        <input [(ngModel)]="inforlab.ocupacion1" name="ocupacion1" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inpNombre" class="col-sm-3 col-form-label text-sm-right"> 2.</label>
                      <div class="col-sm-4">
                        <input [(ngModel)]="inforlab.ocupacion2" name="ocupacion2" type="text" class="form-control">
                      </div>
                    </div>
                    <hr>
                    <h4>
                      <small class="ml-3">Situacion ocupacional actual
                      </small>
                    </h4>
                    <small class="ml-3">
                      <div class="form-group row">
                        <label for="inpNombre" class="col-sm-3 col-form-label text-sm-right">hace Cuanto tiempo esta desempleado</label>
                        <div class="col-sm-3">
                          <p-dropdown appendTo="body" [options]="tiempoDesempleadoList" [(ngModel)]="inforlab.tiempoDesempleado" name="tiempoDesempleado"
                            [style]="{'width':'200px'}" editable="true" placeholder="Tiempo desempleado" optionLabel="name"></p-dropdown>
                        </div>
                      </div>
                    </small>
                  </small>
                </small>
              </small>
            </small>
          </small>
        </div>
        <small class="ml-3">
          <small class="ml-3">
            <small class="ml-3">
            </small>
          </small>
        </small>
      </div>
      <small class="ml-3">
        <small class="ml-3">
          <small class="ml-3">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <div class="card-footer text-center" style="">
                  <button (click) = "guardarTodo()" class="btn mx-1 btn-success" type="button">Grabar</button>
                </div>
              </div>
            </div>

          </small>
        </small>
      </small>
    </form>
  </div>
  <small class="ml-3">
    <small class="ml-3">
      <small class="ml-3">
      </small>
    </small>
  </small>
</div>