<div>
    <div class="modal-header">
        <h4 class="modal-title" id="myAbogadoLabel">Archivar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body pt-0">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-12 backmodal">
                <span class="fa fa-file-text-o"></span> &nbsp;&nbsp;{{ 'N° Expediente:  ' + this.expediente.vNumexp }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="fa fa-calendar"></span>&nbsp;&nbsp; Fecha de Reg:&nbsp;&nbsp;{{ this.expediente.dFecregexp | date:'dd-MM-yyyy' }} 
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-4" for="field_tFecreg">Fecha de Archivo:</label>
            <div class="col-md-5">
                <!-- <input id="field_tFecreg" type="date" class="form-control" name="dFecArchiv" [(ngModel)]="expediente.dFecArchiv"  required  /> -->
                <p-calendar name="expediente.dFecArchiv"  [(ngModel)]="expediente.dFecArchiv" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2050"></p-calendar>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button  data-dismiss="modal" (click)="save()" class="btn btn-danger btn-sm">
            <span class="fa fa-save"></span>&nbsp;<span>Archivar</span>
        </button>
        <button class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span >Cancelar</span>
        </button>
    </div>
</div>
    