<p-blockUI [blocked]="block"></p-blockUI>

<div class="row mt-3">
    <p-growl [(value)]="mensajes"></p-growl>
    <div class="col">
        <div class="card card-mtpe mb-3">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0"><small class="ml-3"><i class="fa fa-file" aria-hidden="true"></i> Consulta de Expediente</small></h5>
            </div>
            <div class="card-body">
                <div class="defensa px-2">
                    <p-tabView [activeIndex]="index" (onChange)="actualizarSeleccion($event)">
                        <p-tabPanel header="Por Datos Generales" [selected]="true">
                            <fieldset class="col">     
                                <legend>Búsqueda</legend>
                                <div class="form-row">
                                    <div class="col-md-10">
                                        <div class="form-group row mb-2">
                                            <label for="inpTipo" class="col-sm-2 col-form-label">Año:</label>
                                            <div class="col-sm-2">
                                                <!-- <input type="number" class="form-control form-control-sm" min="1950" max="2050" maxlength="4" [(ngModel)]="nAnio"> -->
                                                <p-spinner size="20" name="nAnio" [thousandSeparator]="''" [(ngModel)]="nAnio" [min]="0" [max]="2050"></p-spinner>
                                                
                                            </div>
                                            <div class="col-sm-2">

                                            </div>
                                            <label for="inpTipo" class="col-sm-2 col-form-label">Ubicación:</label>
                                            <div class="col-sm-4 pl-0">
                                                <p-dropdown name="ubicacion" optionLabel="descUbicacion" inputId="id" [options]="ubicacion" [(ngModel)]="selectedUbicacion" placeholder="Seleccione la ubicación"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inpNumero" class="col-sm-2 col-form-label">Conciliador:</label>
                                            <div class="col-sm-4">
                                                <p-dropdown name="abogados" optionLabel="vNomabogad" inputId="id" [options]="abogados" [(ngModel)]="selectedAbogado" placeholder="Seleccione al Abogado Conciliador"></p-dropdown>
                                            </div>
                                            <label for="inpTipo" class="col-sm-2 col-form-label">Resultado:</label>
                                            <div class="col-sm-4 pl-0">
                                                <p-dropdown name="resulconci" optionLabel="vDescrip" inputId="id" [options]="resultadoConci" [(ngModel)]="selectedResulconci" placeholder="Seleccione el Resultado de la Conciliación"></p-dropdown>
                                            </div>
                                        </div>
                                            
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <button (click)="buscarExpedientes()" class="btn btn-sm btn-secondary px-3"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                                    </div>
                                </div>                            
                            </fieldset>
                            <div class="row my-2">
                                <div class="col-md-2 text-center">
                                    <button (click)="abrirModal('archivar')"  class="btn btn-sm btn-success "><i class="fa fa-archive" aria-hidden="true"></i> Enviar al archivo</button>
                                </div>
                                <div class="col-md-2 text-center">
                                    <button (click)="abrirModal('observar')"  class="btn btn-sm btn-warning px-4 "><i class="fa fa-sticky-note" aria-hidden="true"></i> Observar</button>
                                </div>
                                <div class="col-md-2 text-center">
                                    <button (click)="abrirModal('datos')"  class="btn btn-sm btn-info "><i class="fa fa-sticky-note" aria-hidden="true"></i> Ver datos del Exp</button>

                                </div>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <p-dataTable selectionMode="single" [(selection)]="expedienteSelected" (onRowSelect)="seleccionarFila($event.data.expediente)" [value]="expedientes" dataKey="expediente.id">
                                            <p-header>Expedientes</p-header>
                                            <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                                <ng-template let-i="rowIndex" pTemplate="body">
                                                    <span style="width:50px;text-align:center">{{i+1}}</span>
                                                </ng-template>
                                            </p-column>
                                            <!-- <p-column [style]="{'width':'50px'}" header="Estado"></p-column> -->
                                            <p-column field="expediente.vNumexp" [style]="{'width':'70px', 'text-align':'center'}" header="Nro. Expediente"></p-column>
                                            <p-column [style]="{'width':'90px', 'text-align':'center'}" header="Fecha de Registro">
                                                    <ng-template let-data="rowData" pTemplate="body">
                                                        <span>{{ data.expediente.dFecregexp | date: 'dd/MM/yyyy' }}</span>
                                                    </ng-template>
                                            </p-column>
                                            <!-- <p-column field="conciliador" header="Conciliador"></p-column> -->
                                            <p-column [style]="{'width':'90px', 'text-align':'center'}" header="Razón Nro. RUC">
                                                <ng-template let-data="rowData" pTemplate="body">
                                                    <span *ngIf="data.expediente.empleador.pernatural !== null">{{ data.expediente.empleador.pernatural.vNumdoc }}</span>
                                                    <span *ngIf="data.expediente.empleador.pernatural === null">{{ data.expediente.empleador.perjuridica.vNumdoc }}</span>
                                                </ng-template>
                                            </p-column>
                                            <p-column header="Empleador">
                                                <ng-template let-data="rowData" pTemplate="body">
                                                    <span *ngIf="data.expediente.empleador.pernatural !== null">{{ data.expediente.empleador.pernatural.vNombres + ' ' + data.empleador.pernatural.vApepat + ' ' + data.empleador.pernatural.vApemat }}</span>
                                                    <span *ngIf="data.expediente.empleador.pernatural === null">{{ data.expediente.empleador.perjuridica.vRazsocial }}</span>
                                                </ng-template>
                                            </p-column>
                                            <p-column [style]="{'width':'90px', 'text-align':'center'}" field="expediente.trabajador.pernatural.vNumdoc" header="Nro. Documento"></p-column>
                                            <p-column header="Trabajador">
                                                <ng-template let-data="rowData" pTemplate="body">
                                                    <span>{{ data.expediente.trabajador.pernatural.vNombres + ' ' + data.expediente.trabajador.pernatural.vApepat + ' ' + data.expediente.trabajador.pernatural.vApemat }}</span>
                                                </ng-template>
                                            </p-column>
                                            <ng-template pTemplate="emptymessage">
                                                No se han encontrado registros
                                            </ng-template> 
                                        </p-dataTable>
                                    </div>
                                </div>
                            </form>
                        </p-tabPanel>
                        <p-tabPanel header="Por Trabajadores">
                            <fieldset class="col">     
                                <legend>Búsqueda</legend>
                                <!-- <form>
                                    <div class="form-row">
                                        <div class="col-md-9">
                                            <div class="form-group row">
                                                <label for="inpTipo" class="col-sm-3 col-form-label">Trabajador:</label>
                                                <div class="col-sm-9 pl-0">
                                                    
                                                    <select class="form-control form-control-sm" id="inpTipo">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <a href="#" class="btn btn-sm btn-secondary "><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a>
                                        </div>
                                    </div>
                                </form> -->
                                <form (ngSubmit)="buscarExpedientes2()">
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <!-- <p-toggleButton name="checked2" [(ngModel)]="checked2" onLabel="Por: N° Documentos" offLabel="Por: Rango de Fechas"></p-toggleButton> -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p-radioButton name="groupname" value="1" label="Por: Nro. de Doc." [(ngModel)]="tipoBusqueda"></p-radioButton>
                                                </div>
                                                <div class="col-md-12">
                                                    <p-radioButton name="groupname" value="2" label="Por: Por Nombres y Apellidos" [(ngModel)]="tipoBusqueda"></p-radioButton>        
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group row">
                                                <label for="inpTipo" class="col-sm-1 px-0 col-form-label">Año:</label>
                                                <div class="col-sm-2">
                                                    <!-- <input type="number" class="form-control form-control-sm" min="1950" max="2050" maxlength="4" [(ngModel)]="nAnio"> -->
                                                    <p-spinner size="15" name="nAnio2" [thousandSeparator]="''" [(ngModel)]="nAnio2" [min]="0" [max]="2050"></p-spinner>
                                                    
                                                </div>
                                                <label for="inpNumero" class="col-sm-2 ml-2 pt-1 col-form-label">Número:</label>
                                                <div class="col-sm-6 px-0">
                                                    <!-- <input class="form-control form-control-sm" type="text" [(ngModel)]="vNumdoc" name="vNumdoc" /> -->
                                                
                                                    <p-autoComplete [minLength]="4" name="trabajador" [(ngModel)]="trabajador" [suggestions]="trabajadores" 
                                                        placeholder="Ingrese al menos 4 caracteres" size="60"
                                                        (completeMethod)="buscarTrabajador($event)" field="pernatural.vNumdoc">
                                                        <ng-template let-data pTemplate="item">
                                                            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                                                <div style="font-size:13px;margin:10px 10px 0 0">{{data.pernatural.vNumdoc + ' - ' + data.pernatural.vNombres + ' ' + data.pernatural.vApepat + ' ' + data.pernatural.vApemat}}</div>
                                                            </div>
                                                        </ng-template>
                                                    </p-autoComplete>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <button type="submit" class="btn btn-sm btn-secondary px-3"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                            <div class="row my-2">
                                <div class="col-md-2 text-center">
                                    <button (click)="abrirModal('archivar')"  class="btn btn-sm btn-success "><i class="fa fa-archive" aria-hidden="true"></i> Enviar al archivo</button>
                                </div>
                                <div class="col-md-2 text-center">
                                    <button (click)="abrirModal('observar')"  class="btn btn-sm btn-warning px-4 "><i class="fa fa-sticky-note" aria-hidden="true"></i> Observar</button>
                                </div>
                                <div class="col-md-2 text-center">
                                    <button (click)="abrirModal('datos')"  class="btn btn-sm btn-info "><i class="fa fa-sticky-note" aria-hidden="true"></i> Ver datos del Exp</button>

                                </div>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <p-dataTable selectionMode="single" [(selection)]="expedienteSelected2" (onRowSelect)="seleccionarFila($event.data)" [value]="expedientes2" dataKey="id">
                                                <p-header>Expedientes</p-header>
                                                <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                                    <ng-template let-i="rowIndex" pTemplate="body">
                                                        <span style="width:50px;text-align:center">{{i+1}}</span>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="vNumexp" [style]="{'width':'70px', 'text-align':'center'}" header="Nro. Expediente"></p-column>
                                                <p-column [style]="{'width':'90px', 'text-align':'center'}" header="Fecha de Registro">
                                                    <ng-template let-data="rowData" pTemplate="body">
                                                        <span>{{ data.dFecregexp | date: 'dd/MM/yyyy' }}</span>
                                                    </ng-template>
                                                </p-column>
                                                <p-column [style]="{'width':'90px', 'text-align':'center'}" header="Razón Nro. RUC">
                                                <ng-template let-data="rowData" pTemplate="body">
                                                    <span *ngIf="data.empleador.pernatural !== null">{{ data.empleador.pernatural.vNumdoc }}</span>
                                                    <span *ngIf="data.empleador.pernatural === null">{{ data.empleador.perjuridica.vNumdoc }}</span>
                                                </ng-template>
                                                </p-column>
                                                <p-column header="Empleador">
                                                    <ng-template let-data="rowData" pTemplate="body">
                                                        <span *ngIf="data.empleador.pernatural !== null">{{ data.empleador.pernatural.vNombres + ' ' + data.empleador.pernatural.vApepat + ' ' + data.empleador.pernatural.vApemat }}</span>
                                                        <span *ngIf="data.empleador.pernatural === null">{{ data.empleador.perjuridica.vRazsocial }}</span>
                                                    </ng-template>
                                                </p-column>
                                                <p-column [style]="{'width':'90px', 'text-align':'center'}" field="trabajador.pernatural.vNumdoc" header="Nro. Documento"></p-column>
                                                <p-column header="Trabajador">
                                                    <ng-template let-data="rowData" pTemplate="body">
                                                        <span>{{ data.trabajador.pernatural.vNombres + ' ' + data.trabajador.pernatural.vApepat + ' ' + data.trabajador.pernatural.vApemat }}</span>
                                                    </ng-template>
                                                </p-column>
                                                <ng-template pTemplate="emptymessage">
                                                    No se han encontrado registros
                                                </ng-template>
                                        </p-dataTable>
                                    </div>
                                </div>
                            </form>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet name="popupexp"></router-outlet>

