<form name="deleteForm" (ngSubmit)="confirmDelete(resulconci)">
    <div class="modal-header">
        <h4 class="modal-title" >Confirmar Operación de Borrado</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>¿Esta de seguro de eliminar este registro?</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">
            <span class="fa fa-remove"></span>&nbsp;<span>Eliminar</span>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span >Cancelar</span>
        </button>
    </div>
</form>
