<div class="row mt-3">
    <div class="col">
        <div class="card card-mtpe mb-3">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0"><small class="ml-3"><i class="fa fa-edit" aria-hidden="true"></i> Mantenimiento de Resultados</small></h5>
            </div>
            <div class="card-body">
                <div class="defensa px-3 mb-2">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <p-dataTable selectionMode="single" [value]="resulconcis" dataKey="id">
                                <p-header>Resultados</p-header>
                                <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                    <ng-template let-i="rowIndex" pTemplate="body">
                                        <span style="text-align:center">{{i+1}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="vDescrip" header="Descripción"></p-column>
                                <p-column field="tipresconc.vDescrip" header="Tipo"></p-column>
                                <p-column >
                                    <ng-template let-res="rowData" pTemplate="body">
                                        <button type="submit"
                                            [routerLink]="['/conciliaciones/mantenimiento/resultados', { outlets: { popupexp: res.id + '/editar'} }]"
                                            replaceUrl="true"
                                            class="btn btn-warning btn-sm">
                                            <span class="fa fa-pencil"></span>
                                            <span class="d-none d-md-inline" >Editar</span>
                                        </button>
                                        <button type="submit"
                                            [routerLink]="['/conciliaciones/mantenimiento/resultados', { outlets: { popupexp:  res.id + '/eliminar'} }]"
                                            replaceUrl="true"
                                            class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                            <span class="d-none d-md-inline" >Eliminar</span>
                                        </button>
                                    </ng-template>
                                </p-column>
                                <p-footer>
                                    <div class="ui-helper-clearfix" style="width:100%">
                                        <button type="button"
                                        [routerLink]="['/conciliaciones/mantenimiento/resultados', { outlets: { popupexp: ['registrar'] } }]" 
                                        class="btn btn-warning btn-sm" style="float:left">
                                        <span class="fa fa-plus"></span>
                                        <span class="d-none d-md-inline" >Añadir Resultado</span>
                                    </div>
                                </p-footer>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary jh-create-entity create-resulconci" >
                            <span class="fa fa-plus"></span>
                            <span class="hidden-sm-down"> Añadir Resultado</span>
                        </button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<router-outlet name="popupexp"></router-outlet>

