<p-blockUI [blocked]="block"></p-blockUI>
<p-growl [(value)]="mensajes"></p-growl>
<div class="row mt-3">
    <div class="col">
        <div class="card card-mtpe">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0"><small class="ml-3"><i class="fa fa-envelope" aria-hidden="true"></i> Consulta de Notificaciones</small></h5>
            </div>
            <div class="card-body">
                <div class="defensa mb-2 px-2">
                    <div class="form-row mb-2">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <p-radioButton name="groupname" value="1" label="Por: Expediente" [(ngModel)]="tipoBusqueda"></p-radioButton>
                                </div>
                                <div class="col-md-12">
                                    <p-radioButton name="groupname" value="2" label="Por: Rango de Fechas" [(ngModel)]="tipoBusqueda"></p-radioButton>        
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tipoBusqueda==='1'" class="col-md-6">
                            <div class="form-group row">
                                <label for="inpNumero" class="col-sm-2 col-form-label">Año:</label>
                                <div class="col-sm-2 px-0">
                                        <p-spinner size="15" [thousandSeparator]="''" [(ngModel)]="nAnio" [min]="0" [max]="2050"></p-spinner>
                                </div>
                                <label for="inpNumero" class="col-sm-3 ml-2 col-form-label">N° Expediente:</label>
                                <div class="col-sm-3 px-0">
                                    <input class="form-control form-control-sm" type="text" [(ngModel)]="nExpediente" name="nExpediente" />
                                </div>
                            </div>
                        </div>
                        <div *ngIf="tipoBusqueda==='2'" class="col-md-6">
                            <div class="form-group row">
                                <label for="inpTipo" class="col-sm-3 col-form-label">Fechas:</label>
                                <p-calendar name="rangeDates" [(ngModel)]="rangeDates" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" selectionMode="range" readonlyInput="true"></p-calendar>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <button (click)="buscarNotificaciones()" class="btn btn-sm btn-secondary px-3"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <p-dataTable [value]="direcNotificaciones" [rows]="10" [paginator]="true" [totalRecords]="totalRegistros" (onLazyLoad)="cargaLentaDirecNotifica($event)" dataKey="codexpediente">
                                        <p-header>Expedientes</p-header>
                                        <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                            <ng-template let-i="rowIndex" pTemplate="body">
                                                <span style="text-align:center">{{i+1}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column [style]="{'width':'120px', 'text-align':'center'}" field="vHojaenvio" header="Hoja de Envió"></p-column>
                                        <p-column [style]="{'width':'80px', 'text-align':'center'}" field="notifica.expediente.vNumexp" header="N° Expediente"></p-column>        
                                        <p-column [style]="{'width':'90px', 'text-align':'center'}" header="Num. Doc.">
                                                <ng-template let-data="rowData" pTemplate="body">
                                                    <div *ngIf="!data.nflgtrabaj">
                                                        <span *ngIf="data.notifica.expediente.empleador.pernatural !== null">{{ data.notifica.expediente.empleador.pernatural.vNumdoc }}</span>
                                                        <span *ngIf="data.notifica.expediente.empleador.pernatural === null">{{ data.notifica.expediente.empleador.perjuridica.vNumdoc }}</span>
                                                    </div>
                                                    <div *ngIf="data.nflgtrabaj">
                                                        <span>{{ data.notifica.expediente.trabajador.pernatural.vNumdoc }}</span>
                                                    </div>                                        
                                                </ng-template>
                                        </p-column>                        
                                        <p-column header="Nombre o Razón Social">
                                                <ng-template let-data="rowData" pTemplate="body">
                                                    <div *ngIf="!data.nflgtrabaj">
                                                        <span *ngIf="data.notifica.expediente.empleador.pernatural !== null">{{ data.notifica.expediente.empleador.pernatural.vNombres + ' ' + data.empleador.pernatural.vApepat + ' ' + data.empleador.pernatural.vApemat }}</span>
                                                        <span *ngIf="data.notifica.expediente.empleador.pernatural === null">{{ data.notifica.expediente.empleador.perjuridica.vRazsocial }}</span>
                                                    </div>
                                                    <div *ngIf="data.nflgtrabaj">
                                                        <span>{{ data.notifica.expediente.trabajador.pernatural.vNombres + ' ' + data.notifica.expediente.trabajador.pernatural.vApepat + ' ' + data.notifica.expediente.trabajador.pernatural.vApemat }}</span>                                            
                                                    </div>
                                                    
                                                </ng-template>
                                        </p-column>
                                        <p-column field="vDireccion" header="Dirección Destinatario"></p-column>
                                        <p-column [style]="{'width':'80px', 'text-align':'center'}" field="faudiencia" header="Fecha Audiencia"></p-column>
                                        <p-column [style]="{'width':'100px', 'text-align':'center'}" field="notifica.tipnotif.vDescrip" header="Tipo Not."></p-column>
                                        <p-column [style]="{'width':'60px'}">        
                                                <ng-template let-direcNoti="rowData" pTemplate="body">
                                                    <button class="ui-button-warning" type="button"  pButton (click)="imprimirReporteCedula(direcNoti)" icon="fa-print"></button>
                                                </ng-template>
                                        </p-column> 
                                        <ng-template pTemplate="emptymessage">
                                            No se han encontrado registros
                                        </ng-template>
                                </p-dataTable>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet name="popupexp"></router-outlet>

