<p-blockUI [blocked]="block"></p-blockUI>
<div *ngIf="formPerfil&&solicitud" class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
  <div class="row">
    <div class="col">
      <h4 class="title">Perfil del Empleador</h4>
    </div>
  </div>
  <div class="form-row mb-2">
    <div class="col-md-4">
      <div class="form-group row">
        <label for="inpRuc" class="col-sm-3 col-form-label col-form-label-sm text-right">RUC</label>
        <div class="col-sm-9">
          <input type="text" disabled class="form-control form-control-sm" id="inpRuc" [(ngModel)]="solicitud.vRucsol">
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group row">
        <label for="inpRsocial" class="col-sm-3 col-form-label col-form-label-sm text-right">Razón Social</label>
        <div class="col-sm-9">
          <input type="text" disabled class="form-control form-control-sm" id="inpRsocial" [(ngModel)]="solicitud.vEmpleador">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-panel box-shadow mb-3">
        <div class="card-body">
          <div class="row no-gutters y-steps">
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Datos Generales I</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil2()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-database" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Datos Generales II</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil3()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Negociación Colectiva (NVC)</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil4()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Resultado de Ultimas NC</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil5()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Responsables de Información</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" class="btn-y btn-y-disabled">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Anexo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="solicForm.vFlgest == 5">
        <div class="row">
          <div class="col">
            <textarea class="form-control" disabled rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsFormPerf.observacionfp1">{{obsFormPerf.observacionfp1}}</textarea>
          </div>
        </div>
      </ng-container>
      <div class="card card-mtpe mb-3">
        <div class="card-header bg-light d-sm-flex justify-content-between p-1">
          <h5 class="mb-0">
            <small>
              <i class="fa fa-user" aria-hidden="true"></i> Responsable de la información económica - financiera</small>
          </h5>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group row mb-2">
                <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">DNI</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" [disabled]="observacion == 1" name="txtDNI" id="inpDNI" [(ngModel)]="responInfoFinanciera.vNumdocum">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group row">
                <div class="col-sm-9">
                  <ng-container *ngIf="observacion == 0">
                    <a style="color:white;" (click)="buscarNombreFinanciero()" class="btn btn-sm btn-secondary">
                      <i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="inpNombre" class="col-sm-1 col-form-label col-form-label-sm">Nombre</label>
            <div class="col-sm-11">
              <input type="text" disabled class="form-control form-control-sm" name="txtNombre" id="inpNombre" [(ngModel)]="responInfoFinanciera.vNombre">
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="selectCargo" class="col-sm-1 col-form-label col-form-label-sm">Cargo</label>
            <div class="col-sm-11">
              <input type="text" class="form-control form-control-sm" [disabled]="observacion == 1" id="inpNombre" [(ngModel)]="responInfoFinanciera.vCargores">
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="inpCorreo" class="col-sm-1 col-form-label col-form-label-sm">Correo</label>
            <div class="col-sm-11">
              <input type="text" class="form-control form-control-sm" [disabled]="observacion == 1" name="txtCorreo" id="inpCorreo" [(ngModel)]="responInfoFinanciera.vEmailres">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md">
              <div class="form-group row mb-2">
                <label for="inpTelefono" class="col-sm-2 col-form-label col-form-label-sm">Teléfono</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control form-control-sm" [disabled]="observacion == 1" name="txtTelefono" id="inpTelefono" [(ngModel)]="responInfoFinanciera.vTelefono">
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="form-group row mb-2">
                <label for="inpCelular" class="col-sm-2 col-form-label col-form-label-sm">Celular</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control form-control-sm" [disabled]="observacion == 1" name="txtTelefono" id="inpCelular" [(ngModel)]="responInfoFinanciera.vCelular">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-mtpe mb-3">
        <div class="card-header bg-light d-sm-flex justify-content-between p-1">
          <h5 class="mb-0">
            <small>
              <i class="fa fa-user" aria-hidden="true"></i> Responsable de la información laboral</small>
          </h5>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group row mb-2">
                <label for="inpDNI" class="col-sm-3 col-form-label col-form-label-sm">DNI</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" [disabled]="observacion == 1" name="txtDNI" id="inpDNI" [(ngModel)]="responeInfoLaboral.vNumdocum">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group row">
                <div class="col-sm-9">
                  <ng-container *ngIf="observacion == 0">
                    <a style="color:white;" (click)="buscarNombreLaboral()" class="btn btn-sm btn-secondary">
                      <i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="inpNombre" class="col-sm-1 col-form-label col-form-label-sm">Nombre</label>
            <div class="col-sm-11">
              <input type="text" disabled class="form-control form-control-sm" name="txtNombre" id="inpNombre" [(ngModel)]="responeInfoLaboral.vNombre">
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="selectCargo" class="col-sm-1 col-form-label col-form-label-sm">Cargo</label>
            <div class="col-sm-11">
              <input type="text" class="form-control form-control-sm" [disabled]="observacion == 1" id="inpNombre" [(ngModel)]="responeInfoLaboral.vCargores">
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="inpCorreo" class="col-sm-1 col-form-label col-form-label-sm">Correo</label>
            <div class="col-sm-11">
              <input type="text" class="form-control form-control-sm" [disabled]="observacion == 1" name="txtCorreo" id="inpCorreo" [(ngModel)]="responeInfoLaboral.vEmailres">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md">
              <div class="form-group row mb-2">
                <label for="inpTelefono" class="col-sm-2 col-form-label col-form-label-sm">Teléfono</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control form-control-sm" [disabled]="observacion == 1" name="txtTelefono" id="inpTelefono" [(ngModel)]="responeInfoLaboral.vTelefono">
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="form-group row mb-2">
                <label for="inpCelular" class="col-sm-2 col-form-label col-form-label-sm">Celular</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control form-control-sm" [disabled]="observacion == 1" name="txtTelefono" id="inpCelular" [(ngModel)]="responeInfoLaboral.vCelular">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-messages [(value)]="messagesForm"></p-messages>
      <ng-container *ngIf="observacion == 1">
        <div class="row">
          <div class="col">
            <textarea class="form-control" rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsFormPerf.observacionfp5">{{obsFormPerf.observacionfp5}}</textarea>
          </div>
        </div>
      </ng-container>
      <div class="row">
        <div class="col-12 text-sm-right">
          <a [routerLink]="" (click)="irPerfil4()" class="btn btn-sm m-1 btn-success">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
          <ng-container *ngIf="observacion == 0">
            <a style="color:white" (click)="mostrarGuardar()" class="btn btn-sm m-1 btn-secondary">
              <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
          </ng-container>
          <ng-container *ngIf="observacion == 1">
            <a style="color:white" (click)="guardarObservacion()" class="btn btn-sm m-1 btn-secondary">
              <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
          </ng-container>
          <a [routerLink]="" (click)="irPerfil6()" class="btn btn-sm m-1 btn-success">
            <i class="fa fa-chevron-right" aria-hidden="true"></i> Siguiente</a>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="displayGuardar" modal="modal" width="500" [responsive]="true">
  <p-header>
    Guardar
  </p-header>
  <p>¿Desea guardar los datos del formulario perfil?</p>
  <p-messages [(value)]="messagesForm"></p-messages>
  <p-footer>
    <button type="button" icon="fa-check" (click)="displayGuardar = false">Cancelar</button>
    <button type="submit" icon="fa-close" (click)="guardarFormularioPerfil()">Guardar</button>
  </p-footer>
</p-dialog>