<p-blockUI [blocked]="block"></p-blockUI>
<div *ngIf="formPerfil&&solicitud" class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
  <div class="row">
    <div class="col">
      <h4 class="title">Perfil del Empleador</h4>
    </div>
  </div>
  <div class="form-row mb-2">
    <div class="col-md-4">
      <div class="form-group row">
        <label for="inpRuc" class="col-sm-3 col-form-label col-form-label-sm text-right">RUC</label>
        <div class="col-sm-9">
          <input type="text" disabled class="form-control form-control-sm" id="inpRuc" [(ngModel)]="solicitud.vRucsol">
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group row">
        <label for="inpRsocial" class="col-sm-3 col-form-label col-form-label-sm text-right" value="1047792455654">Razón Social</label>
        <div class="col-sm-9">
          <input type="text" disabled class="form-control form-control-sm" id="inpRsocial" [(ngModel)]="solicitud.vEmpleador">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-panel box-shadow mb-3">
        <div class="card-body">
          <div class="row no-gutters y-steps">
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Datos Generales I</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil2()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-database" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Datos Generales II</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil3()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Negociación Colectiva (NVC)</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil4()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Resultado de Ultimas NC</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil5()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Responsables de Información</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil6()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Anexo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-mtpe mb-3">
        <div class="card-header bg-light d-sm-flex justify-content-between p-1">
          <h5 class="mb-0">
            <small>
              <i class="fa fa-user" aria-hidden="true"></i> Anexo Laboral</small>
          </h5>
        </div>
        <ng-container *ngIf="solicForm.vFlgest == 5">
          <div class="row">
            <div class="col">
              <textarea class="form-control" disabled rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsFormPerf.observacionfp1">{{obsFormPerf.observacionfp1}}</textarea>
            </div>
          </div>
        </ng-container>
        <div class="card-body">
          <p-tabView class="tab-content p-2 border border-mtpe border-top-0" id="nav-tabContent">
            <p-tabPanel *ngFor="let formu of formulario; let a = index"  [header]="formu.anio" [selected]="a===0">
              <form [formGroup]="completeForm">
                <p>
                  <strong>
                    <h6>CONTRATACION LABORAL DIRECTA</h6>
                  </strong>
                </p>
                <table class="table table-hover">
                  <thead>

                    <tr>
                      <th>Descripción</th>
                      <ng-container *ngFor="let regimen of selectedRegimen; let b = index">
                        <th>{{regimen.name}}</th>
                      </ng-container>
                    </tr>

                  </thead>
                  <tbody>
                    <ng-container *ngFor="let contratadirecta of formu.listaContrataDirecta; let c = index">
                        <tr>
                          <td>{{contratadirecta.descripcion}}</td>
                          <ng-container *ngIf="c!==7">
                            <td *ngFor="let controldirecto of contratadirecta.componentes; let d = index">
                              <input style="text-align:right;" [disabled]="observacion == 1" type="text" [formControl]="completeForm.controls[controldirecto.componente]" maxlength="6" id="{{controldirecto.componente}}" (keyup)="keyUpDirecta($event)" (keypress)="keyPress($event)" class="form-control form-control-sm">
                            </td>
                          </ng-container>
                          <ng-container *ngIf="c===7">
                            <td *ngFor="let total of contratadirecta.componentes; let e = index">
                              <label style="text-align:right;width:100%;">{{total.cantidad}}</label>
                            </td>
                          </ng-container>
                        </tr>
                    </ng-container>
                  </tbody>
                </table>
                <br/>
                <ng-container *ngIf="flgdecreto">
                  <p>
                    <strong>
                      <h6>CONTRATACIÓN LABORAL INDIRECTA - TRABAJADORES POR TERCEROS</h6>
                    </strong>
                  </p>

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th colspan="2">
                          <strong>EMPRESAS DE SERVICIOS ESPECIALES (SERVICES)</strong>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let contrataindirecta1 of formu.listaContrataIndirecta1; let f = index">
                            <tr>
                              <td>{{contrataindirecta1.descripcion}}</td>
                              <ng-container *ngIf="f!==2">
                                <td style="width:300px" *ngFor="let controlind1 of contrataindirecta1.componentes; let g = index">
                                  <input style="text-align:right;" [disabled]="observacion == 1" type="text" [formControl]="completeForm.controls[controlind1.componente]" maxlength="6" id="{{controlind1.componente}}" (keyup)="keyUpIndirecta1($event)" (keypress)="keyPress($event)" class="form-control form-control-sm">
                                </td>
                              </ng-container>
                              <ng-container *ngIf="f===2">
                                <td style="width:300px">
                                  <label style="text-align:right;width:100%;">{{formu.totalIndirecta1}}</label>
                                </td>
                              </ng-container>
                            </tr>
                        </ng-container>
                    </tbody>
                  </table>

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th colspan="2">
                          <strong>EMPRESAS TERCERIZADORAS (OUTSOURCING)</strong>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let contrataindirecta2 of formu.listaContrataIndirecta2; let i = index">
                            <tr>
                              <td>{{contrataindirecta2.descripcion}}</td>
                              <ng-container *ngIf="i!==2">
                                <td  style="width:300px" *ngFor="let controlind2 of contrataindirecta2.componentes; let j = index">
                                  <input style="text-align:right;" [disabled]="observacion == 1" type="text" [formControl]="completeForm.controls[controlind2.componente]" maxlength="6" id="{{controlind2.componente}}" (keyup)="keyUpIndirecta2($event)" (keypress)="keyPress($event)" class="form-control form-control-sm">
                                </td>
                              </ng-container>
                              <ng-container *ngIf="i===2">
                                <td  style="width:300px">
                                  <label style="text-align:right;width:100%;">{{formu.totalIndirecta2}}</label>
                                </td>
                              </ng-container>
                            </tr>
                            <ng-container *ngIf="i===2">
                              <tr>
                                <td>
                                  <strong>TOTAL CONTRATACIÓN LABORAL INDIRECTA</strong>
                                </td>
                                <td class="text-right">{{formu.totalIndirecta}}</td>
                              </tr>
                            </ng-container>
                        </ng-container>
                      
                    </tbody>
                  </table>
                </ng-container>
                <br/>
                <p>
                  <strong>
                    <h6>CONTRATACIÓN NO LABORAL</h6>
                  </strong>
                </p>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th colspan="2">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                      <ng-container *ngFor="let contratanolaboral of formu.listaContrataNoLaboral; let l = index">
                          <tr>
                            <td>{{contratanolaboral.descripcion}}</td>
                            <ng-container *ngIf="l!==2">
                              <td  style="width:300px" *ngFor="let controlnolab of contratanolaboral.componentes; let m = index">
                                <input style="text-align:right;" [disabled]="observacion == 1" type="text" [formControl]="completeForm.controls[controlnolab.componente]" maxlength="6" id="{{controlnolab.componente}}" (keyup)="keyUpNoLaboral($event)" (keypress)="keyPress($event)" class="form-control form-control-sm">
                              </td>
                            </ng-container>
                            <ng-container *ngIf="l===2">
                              <td style="width:300px">
                                <label style="text-align:right;width:100%;">{{formu.totalNoLaboral}}</label>
                              </td>
                            </ng-container>
                          </tr>
                          <ng-container *ngIf="l===2">
                            <tr>
                              <td>
                                <strong>TOTAL CONTRATACIÓN LABORAL DIRECTA, INDIRECTA Y NO LABORAL</strong>
                              </td>
                              <td class="text-right" >{{formu.total}}</td>
                            </tr>
                          </ng-container>
                      </ng-container>
                    
                  </tbody>
                </table>
              </form>
            </p-tabPanel>
          </p-tabView>
        </div>
        <ng-container *ngIf="observacion == 1">
            <div class="row">
              <div class="col">
                <textarea class="form-control" rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsFormPerf.observacionfp6">{{obsFormPerf.observacionfp6}}</textarea>
              </div>
            </div>
          </ng-container>
        <div class="row">
          <div class="col-12 text-sm-right">
            <a [routerLink]="" (click)="irPerfil5()" class="btn btn-sm m-1 btn-success">
              <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
              <ng-container *ngIf="observacion == 0">
                  <a style="color:white" (click)="mostrarGuardar()" class="btn btn-sm m-1 btn-secondary">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
                </ng-container>
                <ng-container *ngIf="observacion == 1">
                  <a style="color:white" (click)="guardarObservacion()" class="btn btn-sm m-1 btn-secondary">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
                </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="displayGuardar" modal="modal" width="500" [responsive]="true">
    <p-header>
      Guardar
    </p-header>
    <p>¿Desea guardar los datos del formulario perfil?</p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer>
      <button type="button" icon="fa-check" (click)="displayGuardar = false">Cancelar</button>
      <button type="submit" icon="fa-close" (click)="guardarFormularioPerfil()">Guardar</button>
    </p-footer>
  </p-dialog>