<div>
    <div class="modal-header">
        <h4 class="modal-title" id="myAbogadoLabel">Asignar Resolutor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body pt-0">
        <p-messages [(value)]="messagesDocumento"></p-messages>
        <div class="row">
            <div class="col-12 backmodal">
                <span class="fa fa-file-text-o"></span>&nbsp;N° Expediente: {{numero_exp}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-calendar"></span>&nbsp;Fecha de Registro Expediente: {{varfechahoraconci}}
            </div>
        </div>
        <!-- <div class="form-group row">
            <label class="col-form-label col-md-4">Empleador:</label>
            <div class="col-md-8">
                <label class="col-form-label">{{fullnameemp}}</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-4">Trabajador:</label>
            <div class="col-md-8">
                <label class="col-form-label">{{fullnametrab}}</label>
            </div>
        </div> -->
        <div class="form-group row">
            <label class="col-form-label col-md-3">Empleador:</label>
            <div class="col-md-9">
                <input type="text" class="form-control form-control-sm" name="expediente.fullnameemp" id="expediente.fullnameemp" [(ngModel)]="expediente.fullnameemp"
                    [disabled]="true" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-3">Trabajador:</label>
            <div class="col-md-9">
                <input type="text" class="form-control form-control-sm" name="expediente.fullnametrab" id="expediente.fullnametrab" [(ngModel)]="expediente.fullnametrab"
                    [disabled]="true" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-3">Resolutor:</label>
            <div class="col-md-9">
                <p-dropdown [options]="resolutors" name="selectedResolutor" [(ngModel)]="selectedResolutor"
                 placeholder="Seleccione" name="selectedResolutor" 
                 optionLabel="name" autoWidth="false"  [style]="{'width':'100%'}"></p-dropdown>    
            </div>
        </div>



    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="isSaving" class="btn btn-warning" (click)="save()">
            <span class="fa fa-floppy-o"></span>&nbsp;<span>Guardar</span>
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span >Cancelar</span>
        </button>
    </div>
</div>
    