<div class="row mt-3">
    <div class="col">
        <div class="card card-mtpe mb-3">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0"><small class="ml-3"><i class="fa fa-user" aria-hidden="true"></i> Asignación de Resolutor Perfil Administrador</small></h5>
            </div>
            <div class="card-body">
                <div class="defensa px-2">
                    <fieldset class="col">
                        <legend>Búsqueda</legend>
                        <form>
                            <p-growl [(value)]="messagesExpediente"></p-growl>
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p-radioButton name="groupname" value="1" label="Por: Nro. de Exp." [(ngModel)]="tipoBusqueda"></p-radioButton>
                                        </div>
                                        <div class="col-md-12">
                                            <p-radioButton name="groupname" value="2" label="Por: Rango de Fechas" [(ngModel)]="tipoBusqueda"></p-radioButton>
                                        </div>
                                    </div>
                                </div>

    
                                <div *ngIf="tipoBusqueda==='1'" class="col-md-6">
                                    <div class="form-group row">
                                        <label for="inpNumero" class="col-sm-2 col-form-label text-right">Año:</label>
                                        <div class="col-sm-2 px-0">
                                                <p-spinner size="15" [thousandSeparator]="''" name="nAnio" [(ngModel)]="nAnio" [min]="0" [max]="2050"></p-spinner>
                                        </div>
                                        <label for="inpNumero" class="col-sm-3 ml-2 col-form-label text-right">N° Expediente:</label>
                                        <div class="col-sm-3 px-0">
                                            <input class="form-control form-control-sm" type="text" [(ngModel)]="vNumexp" name="vNumexp" />
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="tipoBusqueda==='2'" class="col-md-6">
                                    <div class="form-group row">
                                        <label for="inpTipo" class="col-sm-3 col-form-label">Fechas:</label>
                                        <p-calendar name="rangeDates" [(ngModel)]="rangeDates" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
                                            yearRange="2000:2030" selectionMode="range" readonlyInput="true"></p-calendar>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button (click)="buscarAudiencia()" class="btn btn-sm btn-secondary px-3"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    <div class="row my-2">
                        <div class="col-md-2 text-center">
                            <button type="button" (click)="AsignarResolutor()" class="btn btn-success"><i class="fa fa-archive" aria-hidden="true"></i> Asignar Resolutor</button>
                        </div> 
                    </div>
        
                    <form>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <p-dataTable selectionMode="single" [value]="concilias" dataKey="id" (onRowSelect)="onRowSelect($event)"
                                [rows]="5" [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[10,15,20]">
                                    <p-header>Expedientes para multar</p-header>
                                    <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                        <ng-template let-i="rowIndex" pTemplate="body">
                                            <span style="text-align:center">{{i+1}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="expediente.vNumexp" header="Nro. Expediente"></p-column>
                                    <p-column field="nomresolutor" header="Resolutor"></p-column>
                                    <p-column field="abogado.vNomabogad" header="Conciliador"></p-column>
                                    <p-column field="fechahoraconci" header="Fecha de Conciliación"></p-column>
                                    <p-column field="nrodocemp" header="Razón Nro. RUC"></p-column>
                                    <p-column field="fullnameemp" header="Empleador"></p-column>
                                    <p-column field="nrodoctrab" header="Nro. Documento"></p-column>
                                    <p-column field="fullnametrab" header="Trabajador"></p-column>
                                    <p-column field="" header="Escrito"></p-column>
                                    <p-column field="" header="Acción"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet name="popup"></router-outlet>


