<div class="row">
    <div class="col">
        <div class="card card-mtpe mb-3">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0"><small><i class="fa fa-user" aria-hidden="true"></i> Registro de Atención del Trabajador</small></h5>
            </div>
            <div class="card-body">
                <div class="consultas-laborales mb-2">
                    <form>
                        <div class="form-row mb-2">
                            <div class="col-md">
                                <div class="form-group row">
                                    <label for="inpTicket" class="col-sm-3 col-form-label">Ticket</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" id="inpTicket" name="atencion.vNumticket" [(ngModel)]="atencion.vNumticket" placeholder="" style="text-transform: uppercase">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group row">
                                    <label for="inpLocal" class="col-sm-3 col-form-label">Local</label>
                                    <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" id="inpLocal" value="LIMA CENTRO" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group row">
                                    <label for="inpFecha" class="col-sm-3 col-form-label">Fecha</label>
                                    <div class="col-sm-9">
                                    <!-- <input type="date" class="form-control form-control-sm" id="inpFecha" [(ngModel)]="fechoy"> -->
                                        <p style="padding-top: 5px;"><span ng-non-bindable>{{ fechoy | date: 'dd/MM/yyyy' }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                
                    <div class="card">
                        <div class="card-header bg-secondary text-white d-sm-flex justify-content-between p-1">
                            <h6 class="mb-0"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> Datos Laborales</h6>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-md-6 py-2 px-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <!-- <p-radioButton name="groupname" value=1 label="Con Vínculo Laboral" [(ngModel)]="atencion.datlab.nFlgsitlab"></p-radioButton> -->
                                                        <p-radioButton name="groupname" value='1' label="Con Vínculo Laboral" [(ngModel)]="tipoVinculo" (click)="changeTipoVinculo()"></p-radioButton>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!-- <p-radioButton name="groupname" value=0 label="Sin Vínculo Laboral" [(ngModel)]="atencion.datlab.nFlgsitlab"></p-radioButton> -->
                                                        <p-radioButton name="groupname" value='0' label="Con Sece Laboral" [(ngModel)]="tipoVinculo" (click)="changeTipoVinculo()"></p-radioButton>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3" *ngIf="tipoVinculo==='0'">
                                            <!-- <div class="col-md-6 mb-3" *ngIf="atencion.datlab.nFlgsitlab===0"> -->
                                                <label for="inpN">Fecha de Cese:</label>
                                                <!-- <input type="date" class="form-control form-control-sm" id="inpN" name="dFeccese" [(ngModel)]="atencion.datlab.dFeccese"> -->
                                                <p-calendar name="dFecCese" [(ngModel)]="atencion.datlab.dFeccese" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
                                                    yearRange="1800:2050"  readonlyInput="true"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" *ngIf="tipoVinculo==='0'">
                                    <!-- <div class="col-md-6" *ngIf="atencion.datlab.nFlgsitlab===0"> -->
                                        <div class="row ">
                                            <div class="col-md-6 mb-3">
                                                <label for="inpN">Motivo de Cese:</label>
                                                <select (change)="selectMotivCese($event.target)"  class="form-control form-control-sm " id="field_motcese" name="motcese" [(ngModel)]="atencion.datlab.motcese">
                                                    <option value="0">OTROS</option>
                                                    <option [ngValue]="motivocese.id === atencion.datlab.motcese?.id ? atencion.datlab.motcese : motivocese" *ngFor="let motivocese of motivcese;">{{motivocese.vDesmotces}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3" *ngIf="viewAnotherMotiv">
                                                <label for="inpN">Otro Motivo:</label>
                                                <div class="row">
                                                    <div class="col-sm-9 pr-0">
                                                        <input type="text" name="nuevoMotivo" [(ngModel)]="nuevoMotivo" class="form-control form-control-sm ">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <button (click)="saveMotivCese()" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row ">
                                                <div class="col-md-6 mb-3">
                                                        <label for="inpN">Regimen:</label>
                                                        <select required class="form-control form-control-sm " id="field_regimenlab" name="regimenlab" [(ngModel)]="atencion.datlab.regimenlab" >
                                                            <option [ngValue]="regimenlabo.id === atencion.datlab.regimenlab?.id ? atencion.datlab.regimenlab : regimenlabo" *ngFor="let regimenlabo of regimenlab;">{{ regimenlabo.vDesreglab }}</option>
                                                        </select>
                                                        <!-- <select class="form-control form-control-sm"></select> -->
                                                    </div>

                                            <div class="col-md-6 mb-3">
                                                    <label for="inpN">Fecha de Ingreso:</label><br>
                                                    <!-- {{ atencion.datlab.dFecvincul | date: 'dd/MM/yyyy' }} -->
                                                    <!-- <input type="date" class="form-control form-control-sm" id="inpN" name="dFecvincul" [(ngModel)]="atencion.datlab.dFecvincul"  > -->
                                                    <p-calendar name="dFecvincul" [(ngModel)]="atencion.datlab.dFecvincul" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
                                                    yearRange="1800:2050"  readonlyInput="true"></p-calendar>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row ">
                                            <div class="col-md-6 mb-3">
                                                <label for="inpN">Tipo de Contrato:</label>
                                                <select required class="form-control form-control-sm " id="field_modcontrato    " name="modcontrato " [(ngModel)]="atencion.datlab.modcontrato   " >
                                                        <option [ngValue]="modcontratol.id === atencion.datlab.modcontrato?.id ? atencion.datlab.modcontrato : modcontratol" *ngFor="let modcontratol of modcontrato;">{{ modcontratol.vDesmodcon }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="inpN">Fecha Fin del Contrato:</label><br>
                                                <!-- <input type="date" class="form-control form-control-sm" id="inpN" name="dFecfincon" [(ngModel)]="atencion.datlab.dFecfincon" required > -->
                                                <p-calendar name="dFecfincon" [(ngModel)]="atencion.datlab.dFecfincon" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
                                                    yearRange="1800:2050"  readonlyInput="true"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <p-dataTable [value]="listDocumentosIng" [editable]="true" [(selection)]="selectListDocumentoIng" (onRowSelect)="saveDoc($event)" (onRowUnselect)="deleteDoc($event)" scrollable="true" scrollHeight="220px" dataKey="id">
                                            <p-header>Ingresos percibidos por:</p-header>
                                            <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                            <p-column [style]="{'width':'30%'}" field="vDesdocing" header="Descripción"></p-column>
                                            <p-column [style]="{'text-align':'left'}" [hidden]="true" field="check" header="Checked"></p-column>
                                            <ng-template pTemplate="emptymessage">
                                                    No se han encontrado registros
                                            </ng-template>
                                        </p-dataTable>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>