<div class="row mt-3">
        <div class="col">
            <div class="card card-panel mb-3">
                <div class="card-header d-sm-flex justify-content-between">
                    <h5>Reporte Documentos</h5>
                </div>
                <div class="card-body">
                        <fieldset class="col">
                                <legend>Búsqueda</legend>
                                <form>
                                    <p-growl [(value)]="messagesExpediente"></p-growl>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="inpTipo" class="col-sm-3 col-form-label">Fechas:</label>
                                                <p-calendar name="rangeDates" [(ngModel)]="rangeDates" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
                                                    yearRange="2000:2030" selectionMode="range" readonlyInput="true"></p-calendar>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <!-- <button (click)="buscarReporte()" class="btn btn-sm btn-secondary px-3"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button> -->
                                            <button type="button" (click)="buscarReporte()" class="btn btn-success"><i class="fa fa-archive" aria-hidden="true"></i> Generar Reporte</button>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                            <div class="row my-2">
                                <div class="col-md-2 text-center">
                                    <!-- <button type="button" (click)="AsignarResolutor()" class="btn btn-success"><i class="fa fa-archive" aria-hidden="true"></i> Asignar Resolutor</button> -->
                                </div> 
                            </div>
                        
            
                        <form>
                            <!-- <div class="row">
                                <div class="col-md-12 mb-3">
                                    <p-dataTable selectionMode="single" [value]="docexpediens" dataKey="id" 
                                    [rows]="15" [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[20,25,30]">
                                        <p-header>Documentos</p-header>
                                        <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                            <ng-template let-i="rowIndex" pTemplate="body">
                                                <span style="text-align:center">{{i+1}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="tipdocexp.vDescrip" header="Nro. Expediente"></p-column>
                                        <p-column field="tipproveid.vDescrip" header="Conciliador"></p-column>
                                        <p-column field="dettipprov.vDescrip" header="Fecha de Conciliación"></p-column>
                                        <p-column field="nrodocemp" header="Razón Nro. RUC"></p-column>
                                        <p-column field="fullnameemp" header="Empleador"></p-column>
                                        <p-column field="nrodoctrab" header="Nro. Documento"></p-column>
                                        <p-column field="fullnametrab" header="Trabajador"></p-column>
                                        <p-column field="" header="Escrito"></p-column>
                                        <p-column field="" header="Acción"></p-column>
                                    </p-dataTable>
                                </div>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>