<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 p-2">
    <p-blockUI [blocked]="block"></p-blockUI>
    <div class="row">
        <div class="col">
            <h4 class="title">Cálculo de Beneficios Sociales y Liquidaciones</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-panel mb-3">
                <div class="card-body">
                    <div class="row no-gutters y-steps">
                        <div class="col d-flex justify-content-center y-step active">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="cts.html" class="btn-y">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-calculator" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">CTS</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0">
                                        <small>Cálculo la compensación por tiempos de servicio</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="gratificaciones.html" class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-tree" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Gratificaciones</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0">
                                        <small>Calcula las gratificaciones de Navidad y Fiestas Patrias</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="vacaciones.html" class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Vacaciones</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0">
                                        <small>Calcula las remuneraciones vacacionales, simples y truncos</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="indemnizaciones.html" class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Indemnizaciones</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0">
                                        <small>Calcula las imdemnizaciones por despido arbitrario</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="remuneraciones.html" class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Remuneraciones Insolutas</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0">
                                        <small>Calcula las remuneraciones que no han sido pagados</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="resumen.html" class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Resumen</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0">
                                        <small>Lista todos los beneficios sociales calculados</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                    <h5 class="mb-0">
                        <small>
                            <i class="fa fa-percent" aria-hidden="true"></i> Cálculo de Beneficios Sociales & Liquidaciones</small>
                    </h5>
                    <h5 class="mb-0">
                        <small>Paso 1 de 6</small>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="calculo-beneficios mb-2">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="text-calculo">
                                    <b>Trabajador: </b>{{datosLiquidacion.nomTrabajador}}</p>
                                <p class="text-calculo">
                                    <b>Empleador: </b>{{datosLiquidacion.razonSocialEmp}}</p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-calculo">
                                    <b>Régimen: </b>{{datosLiquidacion.desRegimen}}</p>
                                <p class="text-calculo">
                                    <b>Categoria: </b>{{datosLiquidacion.desCategoriaTrabajador}}</p>
                            </div>
                            <div class="col-md-3">
                                <p class="text-calculo">
                                    <b>Banco: </b>{{datosLiquidacion.razonSocialBanco}}</p>
                                <p class="text-calculo">
                                    <b>Moneda: </b>{{datosLiquidacion.desMoneda}}</p>
                            </div>
                            <div class="col-md-3">
                                <p class="text-calculo">
                                    <b>Fecha de ingreso: </b>{{datosLiquidacion.fecIngreso}}</p>
                                <p class="text-calculo">
                                    <b>Fecha de Cese: </b>{{datosLiquidacion.fecCese}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                                    <h5 class="mb-0">
                                        <small>
                                            <i class="fa fa-calendar-times-o" aria-hidden="true"></i> Periodo CTS</small>
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <p-growl [(value)]="messageList"></p-growl>
                                    <p-dataTable dataKey="nNumper" [(selection)]="selectedListaPeriodos" [value]="listaPeriodos" scrollable="true" scrollHeight="200px">
                                        <p-column [style]="{'width':'40px'}" field="nNumper" header="N°"></p-column>
                                        <p-column field="tFecini" header="Fec. Ini">
                                            <ng-template let-col let-transaction="rowData" pTemplate="body">
                                                {{formattedDate(transaction[col.field])}}
                                            </ng-template>
                                        </p-column>
                                        <p-column field="tFecfin" header="Fec. Fin">
                                            <ng-template let-col let-transaction="rowData" pTemplate="body">
                                                {{formattedDate(transaction[col.field])}}
                                            </ng-template>
                                        </p-column>
                                        <p-column [style]="{'width':'40px'}" styleClass="col-button">
                                            <ng-template let-car="rowData" pTemplate="body">
                                                <button type="button" [disabled]="car.disable" pButton (click)="selectPeriodo(car)" icon="fa-pencil"></button>
                                            </ng-template>
                                        </p-column>
                                    </p-dataTable>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Especifique los periodos previamente cancelados
                                        </div>
                                        <div class="col-md-12">
                                            <p-spinner size="10" [(ngModel)]="spinIni" [min]="0" [max]="spinFin"></p-spinner> - 
                                            <p-spinner size="10" [(ngModel)]="spinFin" [min]="spinIni" [max]="listaPeriodos.length"></p-spinner>
                                            <button type="button" pButton (click)="cancelarPeriodos()" icon="fa-pencil" ></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div *ngIf="flagCalculo == true" class="card">
                                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                                    <h5 class="mb-0">
                                        <small>
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Periodo N° {{numPeriodo}}</small>
                                    </h5>
                                    <h5 class="mb-0">
                                        <small>{{intervaloFecha}}</small>
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6 mb-2">
                                                    <label for="inpAP" class="col-form-label col-form-label-sm">Básico:</label>
                                                    <div class="btn-group dropup">
                                                        <input #basico (blur)="validarConceptoRemunerativo('basico', basico.value);" type="number" [(ngModel)]="periodoCalSel.basico"
                                                            name="basico" value="0.00" min="0.00" max="9999999999.99" class="form-control form-control-sm"
                                                            placeholder="" value="0">
                                                        <p-splitButton styleClass="hideObject" [model]="itemsBasico"></p-splitButton>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label for="inpAP" class="col-form-label col-form-label-sm">Comisiones/Destajos:</label>
                                                    <div class="btn-group dropup">
                                                        <input #comision (blur)="validarConceptoRemunerativo('comision', comision.value);" type="number" [(ngModel)]="periodoCalSel.comision"
                                                            name="comision" value="0.00" min="0.00" max="9999999999.99" class="form-control form-control-sm"
                                                            placeholder="" value="0">
                                                        <p-splitButton styleClass="hideObject" [model]="itemsComision"></p-splitButton>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 mb-2">
                                                    <label for="inpAP" class="col-form-label col-form-label-sm">Alimentación principal:</label>
                                                    <div class="btn-group dropup">
                                                        <input #alimentacion (blur)="validarConceptoRemunerativo('alimentacion', alimentacion.value);" type="number" [(ngModel)]="periodoCalSel.alimentacion"
                                                            name="alimentacion" value="0.00" min="0.00" max="9999999999.99" class="form-control form-control-sm"
                                                            placeholder="" value="0">
                                                        <p-splitButton styleClass="hideObject" [model]="itemsAlimentacion"></p-splitButton>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label for="inpAP" class="col-form-label col-form-label-sm">Horas extras:</label>
                                                    <div class="btn-group dropup">
                                                        <input #horasExtras (blur)="validarConceptoRemunerativo('horasExtras', horasExtras.value);" type="number" [(ngModel)]="periodoCalSel.horasExtras"
                                                            name="horasExtras" value="0.00" min="0.00" max="9999999999.99" class="form-control form-control-sm"
                                                            placeholder="" value="0">
                                                        <p-splitButton styleClass="hideObject" [model]="itemsHorasExtras"></p-splitButton>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 mb-2">
                                                    <label for="inpAP" class="col-form-label col-form-label-sm">Asignación familiar:</label>
                                                    <input #asignacion (blur)="validarConceptoRemunerativo('asignacion', asignacion.value);" type="number" [(ngModel)]="periodoCalSel.asignacion"
                                                        name="asignacion" value="0.00" min="0.00" max="9999999999.99" class="form-control form-control-sm"
                                                        placeholder="" value="0">
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label for="inpAP" class="col-form-label col-form-label-sm">Otros montos variables:</label>
                                                    <div class="btn-group dropup">
                                                        <input #otrosMontosVariables (blur)="validarConceptoRemunerativo('otrosMontosVariables', otrosMontosVariables.value);" type="number"
                                                            [(ngModel)]="periodoCalSel.otrosMontosVariables" name="otrosMontosVariables"
                                                            value="0.00" min="0.00" max="9999999999.99" class="form-control form-control-sm"
                                                            placeholder="" value="0">
                                                        <button (click)="abrirCalculoMV()" icon="" class="ui-splitbutton-menubutton ui-button ui-widget ui-state-default ui-corner-right ui-button-icon-only"
                                                            type="button">
                                                            <i class="fa fa-fw fa-close" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 mb-2">
                                                    <label for="inpAP" class="col-form-label col-form-label-sm">Otros montos fijos:</label>
                                                    <div class="btn-group dropup">
                                                        <input #otrosMontosFijos (blur)="validarConceptoRemunerativo('otrosMontosFijos', otrosMontosFijos.value);" type="number"
                                                            [(ngModel)]="periodoCalSel.otrosMontosFijos" name="otrosMontosFijos"
                                                            value="0.00" min="0.00" max="9999999999.99" class="form-control form-control-sm"
                                                            placeholder="" value="0">
                                                        <button (click)="abrirCalculoMF()" icon="" class="ui-splitbutton-menubutton ui-button ui-widget ui-state-default ui-corner-right ui-button-icon-only"
                                                            type="button">
                                                            <i class="fa fa-fw fa-close" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label for="inpAP" class="col-form-label col-form-label-sm">Gratificaciones:</label>
                                                    <div class="btn-group dropup">
                                                        <input #gratificacion (blur)="validarConceptoRemunerativo('gratificacion', gratificacion.value);" type="number" [(ngModel)]="periodoCalSel.gratificacion"
                                                            name="gratificacion" value="0.00" min="0.00" max="9999999999.99"
                                                            class="form-control form-control-sm" placeholder="" value="0">
                                                        <p-splitButton styleClass="hideObject" [model]="itemsBasico"></p-splitButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-6">

                                                </div>
                                                <div class="col-2 pl-0">
                                                    Años
                                                </div>
                                                <div class="col-2 pl-0">
                                                    Meses
                                                </div>
                                                <div class="col-2 pl-0">
                                                    Dias
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Tiempo Computable</label>
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" readonly="readonly" [(ngModel)]="periodoCalSel.nTcomput" class="form-control form-control-sm" value="">
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" readonly="readonly" [(ngModel)]="periodoCalSel.nTcomputm" class="form-control form-control-sm" value="">
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" readonly="readonly" [(ngModel)]="periodoCalSel.nTcomputd" class="form-control form-control-sm" value="">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Tiempo no computable</label>
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <p-spinner (onChange)="calculoTiempEfectivo($event, 1)" size="7" [(ngModel)]="periodoCalSel.nTnocomput" [min]="0" [max]="9999"></p-spinner>
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <p-spinner (onChange)="calculoTiempEfectivo($event, 2)" size="7" [(ngModel)]="periodoCalSel.nTnocomputm" [min]="0" [max]="12"></p-spinner>
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <p-spinner (onChange)="calculoTiempEfectivo($event, 3)" size="7" [(ngModel)]="periodoCalSel.nTnocomputd" [min]="0" [max]="30"></p-spinner>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Tiempo efectivo</label>
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" readonly="readonly" class="form-control form-control-sm" value="{{periodoCalSel.nTefectivoAnio}}">
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" readonly="readonly" class="form-control form-control-sm" value="{{periodoCalSel.nTefectivoMes}}">
                                                </div>
                                                <div class="col-2 pl-0">
                                                    <input type="text" readonly="readonly" class="form-control form-control-sm" value="{{periodoCalSel.nTefectivoDia}}">
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-6">
                                                    <label for="rcm" class="col-form-label col-form-label-sm">RCM:</label>
                                                    <input [(ngModel)]="periodoCalSel.rcm" name="rcm" type="text" class="form-control form-control-sm" placeholder="" value="">
                                                </div>
                                                <div class="col-md-6">
                                                    <button (click)="calcularCTS()" icon="" class="btn btn-sm btn-warning mt-4" type="button">
                                                        <i class="fa fa-calculator" aria-hidden="true"></i> Calcular CTS
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-4">
                                                    <label for="deposito" class="col-form-label col-form-label-sm">Depósito:</label>
                                                    <input [(ngModel)]="periodoCalSel.deposito" name="deposito" type="text" class="form-control form-control-sm" placeholder=""
                                                        value="">
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="intereses" class="col-form-label col-form-label-sm">Intereses:</label>
                                                    <input [(ngModel)]="periodoCalSel.interes" name="interes" type="text" class="form-control form-control-sm" placeholder=""
                                                        value="">
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="cts" class="col-form-label col-form-label-sm">CTS:</label>
                                                    <input [(ngModel)]="periodoCalSel.cts" name="cts" type="text" class="form-control form-control-sm" placeholder="" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-sm-flex justify-content-between">
                            <a [routerLink]="['/liquidaciones/registro-atencion/datos-laborales']" class="btn btn-sm m-1 btn-success">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                            <a [routerLink]="['/liquidaciones/calculo-liquidacion/gratificaciones']" class="btn btn-sm m-1 btn-success">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> Siguiente</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog appendTo="body" [draggable]="true" header="Calculo Mensual" [(visible)]="displayCalculoMensual" modal="modal" width="600"
    height="400" [responsive]="true">
    <div class="row">
        <div class="col-md-12">
            <label>Meses del periodo: {{intervaloFecha}}</label>
            <br />
            <p-growl [(value)]="messageListMensual"></p-growl>
            <p-dataTable [value]="listaCalmes" scrollable="true" [editable]="true" scrollHeight="200px">
                <p-column [style]="{'width':'40px'}" field="numero" header="N°"></p-column>
                <p-column field="mes" header="Mes"></p-column>
                <p-column field="anio" header="Año"></p-column>
                <p-column field="remuneracion" header="Remuneracion" [editable]="true">
                    <ng-template let-col let-car="rowData" pTemplate="body">
                        {{car[col.field]}}
                    </ng-template>
                    <ng-template let-col let-car="rowData" pTemplate="editor">
                        <input #inputText (blur)="validarNumeroMensual($event, inputText.value, car);" type="text" pInputText [(ngModel)]="car[col.field]">
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
        <div class="col-md-12">
            <button (click)="displayCalculoMensual = false" class="btn btn-primary" type="button">Cancelar</button>
            <button (click)="calculoMensual()" class="btn btn-primary" type="button">Guardar</button>
        </div>
    </div>
</p-dialog>

<p-dialog appendTo="body" [draggable]="true" header="Calculo Semanal" [(visible)]="displayCalculoSemanal" modal="modal" width="600"
    height="400" [responsive]="true">
    <div class="row">
        <div class="col-md-12">
            <label>Semanas del periodo: {{intervaloFecha}}</label>
            <br />
            <p-growl [(value)]="messageListSemanal"></p-growl>
            <p-dataTable [value]="listaCalmes" scrollable="true" [editable]="true" scrollHeight="200px">
                <p-column [style]="{'width':'40px'}" field="numero" header="N°"></p-column>
                <p-column field="remuneracion" header="Remuneracion" [editable]="true">
                    <ng-template let-col let-car="rowData" pTemplate="body">
                        {{car[col.field]}}
                    </ng-template>
                    <ng-template let-col let-car="rowData" pTemplate="editor">
                        <input #inputText (blur)="validarNumeroSemanal($event, inputText.value, car);" type="text" pInputText [(ngModel)]="car[col.field]">
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
        <div class="col-md-12">
            <button (click)="displayCalculoSemanal = false" class="btn btn-primary" type="button">Cancelar</button>
            <button (click)="calculoSemanal()" class="btn btn-primary" type="button">Guardar</button>
        </div>
    </div>
</p-dialog>

<p-dialog appendTo="body" [draggable]="true" header="Otros Montos Fijos" [(visible)]="displayMontosFijos" modal="modal" width="600"
    height="400" [responsive]="true">
    <div class="row">
        <div class="col-md-12">
            <label>Otros Montos Fijos del periodo: {{intervaloFecha}}</label>
            <br />
            <p-growl [(value)]="messageListMontosFijos"></p-growl>
            <p-dataTable [value]="listaCalmesMF" scrollable="true" [editable]="true" scrollHeight="200px">
                <p-column [style]="{'width':'40px'}" field="numero" header="N°"></p-column>
                <p-column field="mes" header="Concepto Remunerativo" [editable]="true"></p-column>
                <p-column field="remuneracion" header="Remuneracion" [editable]="true">
                    <ng-template let-col let-car="rowData" pTemplate="body">
                        {{car[col.field]}}
                    </ng-template>
                    <ng-template let-col let-car="rowData" pTemplate="editor">
                        <input #inputText (blur)="validarOtrosMontosFijos($event, inputText.value, car);" type="text" pInputText [(ngModel)]="car[col.field]">
                    </ng-template>
                </p-column>
                <p-column styleClass="col-button">
                    <ng-template let-car="rowData" pTemplate="body">
                        <button type="button" pButton (click)="quitarItemMF(car)" icon="fa-close"></button>
                    </ng-template>
                </p-column>
                <p-footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" pButton icon="fa-plus" style="float:left" (click)="agregarItemMF()" label="Agregar"></button>
                    </div>
                </p-footer>
            </p-dataTable>
        </div>
        <div class="col-md-12">
            <button (click)="displayMontosFijos = false" class="btn btn-primary" type="button">Cancelar</button>
            <button (click)="calculoMontosFijos()" class="btn btn-primary" type="button">Guardar</button>
        </div>
    </div>
</p-dialog>

<p-dialog appendTo="body" [draggable]="true" header="Otros Montos Variables" [(visible)]="displayMontosVariables" modal="modal"
    width="600" height="400" [responsive]="true">
    <div class="row">
        <div class="col-md-12">
            <label>Otros Montos Fijos del periodo: {{intervaloFecha}}</label>
            <br />
            <p-growl [(value)]="messageListMontosVariables"></p-growl>
            <p-dataTable [value]="listaCalmesMV" scrollable="true" [editable]="true" scrollHeight="200px">
                <p-column [style]="{'width':'40px'}" field="numero" header="N°"></p-column>
                <p-column field="mes" header="Concepto Remunerativo" [editable]="true"></p-column>
                <p-column field="remuneracion" header="Remuneracion" [editable]="true">
                    <ng-template let-col let-car="rowData" pTemplate="body">
                        {{car[col.field]}}
                    </ng-template>
                    <ng-template let-col let-car="rowData" pTemplate="editor">
                        <input #inputText (blur)="validarOtrosMontosVariables($event, inputText.value, car);" type="text" pInputText [(ngModel)]="car[col.field]">
                    </ng-template>
                </p-column>
                <p-column styleClass="col-button">
                    <ng-template let-car="rowData" pTemplate="body">
                        <button type="button" pButton (click)="quitarItemMV(car)" icon="fa-close"></button>
                    </ng-template>
                </p-column>
                <p-footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" pButton icon="fa-plus" style="float:left" (click)="agregarItemMV()" label="Agregar"></button>
                    </div>
                </p-footer>
            </p-dataTable>
        </div>
        <div class="col-md-12">
            <button (click)="displayMontosVariables = false" class="btn btn-primary" type="button">Cancelar</button>
            <button (click)="calculoMontosVariables()" class="btn btn-primary" type="button">Guardar</button>
        </div>
    </div>
</p-dialog>