 <div>
    <div class="modal-header">
        <h4 class="modal-title" id="myAbogadoLabel">Resolución Sub Directoral</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-12">
                <p-messages [(value)]="messagesResolucion"></p-messages>
                <p-growl [(value)]="msgs"></p-growl>
                <fieldset class="col">
                    <legend>Datos de Expediente</legend>
                    <div class="ui-g">
                        <div class="col-md-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="numero_exp">Expediente:</label>
                                <input type="text" [(ngModel)]="numero_exp" class="form-control form-control-sm" name="numero_exp" [disabled]="true" />
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="InTipTrab">Tip. Doc. Trabajador:</label>
                                <input type="text" [(ngModel)]="tipdocidentTRA.vDescorta" class="form-control form-control-sm" name="tipdocidentTRA.vDescorta"
                                    [disabled]="true" />
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="InNroTrab">Nro. Doc. Trabajador:</label>
                                <input type="text" [(ngModel)]="pernaturalTRA.vNumdoc" class="form-control form-control-sm" name="pernaturalTRA.vNumdoc"
                                    [disabled]="true" />
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="field_vUsuarioreg">Trabajador:</label>
                                <input type="text" [(ngModel)]="nomtrab" class="form-control form-control-sm" name="nomtrab"
                                    [disabled]="true" />
                            </div>
                        </div>
                    
                    </div>
                    
                    <div class="ui-g">
                        <div class="col-md-2 mb-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="field_vUsuarioreg">Nro. Doc. Empleador:</label>
                                <input type="text" [(ngModel)]="tipdocemp" class="form-control form-control-sm" name="tipdocemp" [disabled]="true" />
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="ui-g">
                                <label class="col-for-label" for="field_vUsuarioreg">Nro. Doc. Empleador</label>
                                <input type="text" [(ngModel)]="numdocemp" class="form-control form-control-sm" name="numdocemp" [disabled]="true" />
                            </div>
                        </div>
                        <div class="col-md-8 mb-2">
                            <div class="ui-g">
                                <label class="col-for-label" for="field_vUsuarioreg">Empleador:</label>
                                <input type="text" [(ngModel)]="nomemp" class="form-control form-control-sm" name="nomemp" [disabled]="true" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="ui-g mt-3">
                        <!-- <div class="col-md-6">
                                                        <p-dataTable [value]="dirpernatsTra" [(selection)]="selectedDirTrab" dataKey="direc.id" [rows]="3" [paginator]="true" [pageLinks]="5">
                                                                <p-header>Trabajador</p-header>
                                                                <p-footer><div style="text-align: left">Dirección: {{ selectedDirTrab ? selectedDirTrab.direc.vDircomple + ' - ' + selectedDirTrab.dpto : 'Seleccione una'}}</div></p-footer>
                                                                <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                                                                <p-column field="dpto" header="Departamento"></p-column>
                                                                <p-column field="prov" header="Provincia"></p-column>
                                                                <p-column field="dist" header="Distrito"></p-column>
                                                                <p-column field="direc.vDircomple" header="Dirección"></p-column>
                                                            </p-dataTable>
                                                    </div> -->
                        <div class="col-md-12">
                            <p-dataTable *ngIf="banPersona === '1'" [value]="dirperjuris"  [(selection)]="selectedDirEmp" dataKey="direc.id" [rows]="3"
                                [paginator]="true" [pageLinks]="5">
                                <p-header>Empleador</p-header>
                                <p-footer>
                                    <div style="text-align: left">Dirección: {{ selectedDirEmp ? selectedDirEmp.direc.vDircomple + ' - ' + selectedDirEmp.dist : 'Seleccione
                                        una'}}</div>
                                </p-footer>
                                <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                                <p-column field="dpto" header="Departamento"></p-column>
                                <p-column field="prov" header="Provincia"></p-column>
                                <p-column field="dist" header="Distrito"></p-column>
                                <p-column field="direc.vDircomple" [style]="{'text-align':'left'}" header="Dirección"></p-column>
                            </p-dataTable>
                            <p-dataTable *ngIf="banPersona === '2'" [value]="dirpernatsEmp"  [(selection)]="selectedDirEmp" dataKey="direc.id" [rows]="3"
                                [paginator]="true" [pageLinks]="5">
                                 <p-header>Empleador</p-header>
                                <p-footer>
                                    <div style="text-align: left">Dirección: {{ selectedDirEmp ? selectedDirEmp.direc.vDircomple + ' - ' + selectedDirEmp.dist : 'Seleccione
                                        una'}}</div>
                                </p-footer>
                                <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                                <p-column [style]="{'width':'80px'}" field="dpto" header="Departamento"></p-column>
                                <p-column [style]="{'width':'80px'}" field="prov" header="Provincia"></p-column>
                                <p-column [style]="{'width':'80px'}" field="dist" header="Distrito"></p-column>
                                <p-column [style]="{'width':'150px'}" field="direc.vDircomple" [style]="{'text-align':'left'}" header="Dirección"></p-column>
                            </p-dataTable>
                        </div>
                    </div>
                    
                    
                    <div class="ui-g mt-2">
                        <div class="col-md-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="varfecconci">Fecha de Audiencia:</label>
                                <input type="text" [(ngModel)]="varfecconci" class="form-control form-control-sm" name="varfecconci" [disabled]="true" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="varhorconci">Hora de Audiencia:</label>
                                <input type="text" [(ngModel)]="varhorconci" class="form-control form-control-sm" name="varhorconci" [disabled]="true" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="varcelnotificacion">Fojas Conciliacion:</label>
                                <p-spinner size="30" [(ngModel)]="varfojasconc" [min]="0"></p-spinner>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="varcelnotificacion">Célula de notificación:</label>
                                <input type="text" [(ngModel)]="varcelnotificacion" class="form-control form-control-sm" name="varcelnotificacion" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="fechanotificacion">Fecha notificación:</label>
                                <p-calendar [(ngModel)]="fechanotificacion" name="fechanotificacion" [inputStyle]="{'width':'100%'}" [locale]="es" dateFormat="dd/mm/yy"
                                    [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="varcelnotificacion">Fojas célula:</label>
                                <p-spinner size="30" [(ngModel)]="varfojascelula" [min]="0"></p-spinner>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="col-md-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="varcelnotificacion">Fojas Aviso:
                                    <span>
                                        <p-inputSwitch onLabel="Si" offLabel="No" [(ngModel)]="checkaviso" (onChange)="EventchekAviso($event)"></p-inputSwitch>
                                    </span>
                                </label>
                                <p-spinner size="30" [(ngModel)]="varfojasaviso" [min]="0" [disabled]="disabledfojas"></p-spinner>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="varcelnotificacion">Monto de multa:</label>
                                <input type="text" [(ngModel)]="varmontomulta" class="form-control form-control-sm" name="varmontomulta" [disabled]="false"
                                />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="varcelnotificacion">Tipo Resolución:</label>
                                <p-dropdown [options]="resolucionModelos" name="selectedModelos" [(ngModel)]="selectedModelos"  (onChange) = "ObtenerTipoReporte()" optionLabel="name" autoWidth="false"  [style]="{'width':'150%'}"></p-dropdown>   
                            </div>
                        </div>
                    </div>
                    <div class="ui-g" *ngIf="tipo_modelo === 2">
                        <div class="col-md-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="varcelnotificacion">Escrito:</label><br>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g" *ngIf="tipo_modelo === 3">
                            <div class="col-md-2">
                                <div class="ui-g">
                                    <label class="col-form-label" for="varcelnotificacion">Poder Judicial:</label><br>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="tipo_modelo === 2 || tipo_modelo === 3">
                            <div class="col-sm-12">
                                <p-editor [(ngModel)]="parrafo_resolucion" [style]="{'height':'200px' }">
                                    <p-header>
                                        <span class="ql-formats">
                                            <button class="ql-bold" aria-label="Bold"></button>
                                            <button class="ql-italic" aria-label="Italic"></button>
                                            <button class="ql-underline" aria-label="Underline"></button>
                                        </span>
                                    </p-header>
                                </p-editor>
                            </div>
                        </div>
                </fieldset>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <fieldset class="col">
                    <legend>Datos de Resolucion S.D </legend>
                    <div class="ui-g">
                        <div class="col-md-2 mb-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="field_vUsuarioreg">Resolución SD: </label>
                                <input type="text" [(ngModel)]="nroresolucionsd" class="form-control form-control-sm" name="nroresolucionsd" [disabled]="true" />
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="field_vUsuarioreg">Fecha Resolución SD: </label>
                                <p-calendar [(ngModel)]="fecharesolucionsd" name="fecharesolucionsd" [inputStyle]="{'width':'100%'}" [locale]="es" dateFormat="dd/mm/yy"
                                    [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [disabled]="true"></p-calendar>
                            </div>
                        </div>
                        <!-- <div class="col-md-2 mb-2">
                            <div class="ui-g">
                                <label class="col-form-label" for="field_vUsuarioreg">Modelo:</label>
                                <p-dropdown [options]="resolucionModelos" [(ngModel)]="selectedModelos" optionLabel="name" [inputStyle]="{'width':'100%'}"></p-dropdown>
                            </div>
                        </div> -->
                    </div>
                    <p-messages [(value)]="messagesResolucion"></p-messages>
                    <p-growl [(value)]="msgs"></p-growl>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="isSaving" class="btn btn-warning" (click)="Save()">
            <span class="fa fa-floppy-o"></span>&nbsp;
            <span>Grabar</span>
        </button>
        <button type="button" [disabled]="isVistaPrevia" class="btn btn-warning" (click)="VistaPrevia()">
            <span class="fa fa-floppy-o"></span>&nbsp;
            <span>Vista Previa</span>
        </button>
        <button type="button" class="btn btn-black" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-check"></span>&nbsp;
            <span>Aceptar</span>
        </button>
    </div>
</div>