<div class="row mt-3">
    <div class="col">
        <div class="card card-mtpe mb-3">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0"><small class="ml-3"><i class="fa fa-file" aria-hidden="true"></i> Consulta de Expediente</small></h5>
            </div>
            <div class="card-body">
                <div class="defensa px-2">
                    <p-tabView (onChange)="onTabChange($event)">
                        <p-tabPanel header="Emitidos" [selected]="true" >
                            <router-outlet *ngIf="estado_expediente === 0"></router-outlet>
                        </p-tabPanel>
                        <p-tabPanel header="Para Multar">
                            <router-outlet *ngIf="estado_expediente === 1"></router-outlet>
                        </p-tabPanel>
                        <p-tabPanel header="Multados">
                            <router-outlet *ngIf="estado_expediente === 2"></router-outlet>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <router-outlet name="popupdoc"></router-outlet> -->


