<p-blockUI [blocked]="block"></p-blockUI>
<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col">
            <h4 class="title">Analisis de Solicitudes</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                    <h5 class="mb-0">
                        <small>Listado de solicitud</small>
                    </h5>
                </div>
                <div class="card-body">
                    <p class="text-right">
                        <strong>Usuario Administrativo: </strong>Katherine Lorena Lopez Jara</p>
                    <div class="form-row mb-2">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="inpRuc" class="col-sm-3 col-form-label col-form-label-sm text-right">RUC</label>
                                <div class="col-sm-9">
                                    <input type="text" (keypress)="keyPress($event)" maxlength="15" class="form-control form-control-sm" id="inpRuc" [(ngModel)]="rucSearch"
                                        placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label for="inpRsocial" class="col-sm-3 col-form-label col-form-label-sm text-right">Razón Social</label>
                                <div class="col-sm-9" style="display: inline-flex">
                                    <input type="text" class="form-control form-control-sm" id="inpRsocial" placeholder="" style="margin-right:10px" [(ngModel)]="razonSocialSearch">
                                    <a (click)="buscarSolicitudes(rucSearch)" class="btn btn-sm btn-info" style="padding-left:5px;color:white;">
                                        <i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <table class="table table-responsive table-bordered table-hover" id="Csolicitud">
                        <thead style="text-align: center;">
                            <tr>
                                <th>N°</th>
                                <th>Fecha</th>
                                <th>Sindicato</th>
                                <th>RUC</th>
                                <th>Razón Social</th>
                                <th>Arbitro</th>
                                <th>Voucher</th>
                                <th>Estado</th>
                                <!--<th></th>-->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let solicitud of listaSolicitudes; let i = index">
                                <tr>
                                    <td>
                                        <span>{{i+1}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.tFecsolic | date:'dd/MM/yyyy'}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vSindicato}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vRucsol}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vEmpleador}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vArbitro}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vVoucher}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="solicitud.nFlgestado == 0">
                                            PENDIENTE
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 1">
                                            NOTIFICADO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 2">
                                            EN PLAZO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 3">
                                            EN PR&Oacute;RROGA
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 4">
                                            ENVIADO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 5">
                                            OBSERVADO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 6">
                                            CONFORME
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 7">
                                            DADO DE BAJA
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 8">
                                            TARDANZA
                                        </span>
                                    </td>
                                    <!--<td>
                                        <a class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>-->
                                    <td>
                                        <ng-container *ngIf="solicitud.nFlgestado == 6">
                                            <p-fileUpload mode="basic" 
                                            name="myfile" 
                                            url="/api/subirAnalisis?nCodsolic=" 
                                            auto="true" onUpload="refrescarSolicitudes($event)"
                                            chooseLabel="Examinar"
                                            uploadLabel="Subiendo"
                                            cancelLabel="Cancelado"></p-fileUpload>
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <p-blockUI [target]="pnldialog" [blocked]="blockDialog"></p-blockUI>

                </div>
            </div>
        </div>
    </div>
</div>
