<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">FORMULARIO Nº 1</h5>
            <h5 class="title">ESTADO DE RESULTADOS(*)</h5>
            <h6 class="title">(Soles)</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-body">
                    <p>INGRESOS POR INTERESES</p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaIngresosIntereses; let k = index; let total = count">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <td>
                                                <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                                                    name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalIngresoIntereses($event)"
                                                    (keypress)="keyPress($event)" maxlength="6">
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <p>GASTOS POR INTERESES</p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaGastosIntereses; let k = index; let total = count">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <td>
                                                <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                                                    name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalGastosIntereses($event)"
                                                    (keypress)="keyPress($event)" maxlength="6">
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalMargenFinanBruto.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalMargenFinanBruto.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <p class="col">PROVISIONES PARA CRÉDITOS DIRECTOS (1)
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogProvisiones()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>

                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="dinamico">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaProvisionesCredDirec;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteProvisiones(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteProvisiones(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalProvisionesCredDirec.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalProvisionesCredDirec.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalMargenFinanNetoDespProv.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalMargenFinanNetoDespProv.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <p>INGRESOS POR SERVICIOS FINANCIEROS</p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaIngresosServFinan; let k = index; let total = count">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <td>
                                                <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                                                    name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalIngresosServFinancieros($event)"
                                                    (keypress)="keyPress($event)" maxlength="6">
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <p>GASTOS POR SERVICIOS FINANCIEROS</p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaGastosServFinan; let k = index; let total = count">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <td>
                                                <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                                                    name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalGastosServFinancieros($event)"
                                                    (keypress)="keyPress($event)" maxlength="6">
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalMargenFinanNetoIngGastosServFinan.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalMargenFinanNetoIngGastosServFinan.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaResultadoOpeFinan;">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td>
                                            <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                                                name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalROF($event)"
                                                (keypress)="keyPress($event)" maxlength="6">
                                        </td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalMargenOperacional.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalMargenOperacional.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <p>GASTOS DE ADMINISTRACIÓN</p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaGastosAdministracion; let k = index; let total = count">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <td>
                                                <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                                                    name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalGastosAdmin($event)"
                                                    (keypress)="keyPress($event)" maxlength="6">
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaDepresacionesAmortizaciones;">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td>
                                            <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                                                name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalDepresaciones($event)"
                                                (keypress)="keyPress($event)" maxlength="6">
                                        </td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalMargenOperacionalNeto.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalMargenOperacionalNeto.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaValuacionActivosProvisiones;">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td>
                                            <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                                                name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalValuacion($event)"
                                                (keypress)="keyPress($event)" maxlength="6">
                                        </td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalResultadoOperacion.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalResultadoOperacion.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>


                    <p class="col">OTROS INGRESOS (1)
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogOtrosIngresos()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>

                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="dinamico">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaOtrosIngresos;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteOtrosIngresos(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteOtrosIngresos(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalOtrosIngresos.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalOtrosIngresos.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>


                    <p class="col">OTROS GASTOS (1)
                            <ng-container *ngIf="observacion == 0">
                        <a (click)="mostrarDialogOtrosGastos()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>

                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="dinamico">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaOtrosGastos;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteOtrosGastos(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteOtrosGastos(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalOtrosGastos.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalOtrosGastos.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                    </table>


                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalOtrosIngresosOtrosGastos.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalOtrosIngresosOtrosGastos.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalResultadoAntesImpRenta.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalResultadoAntesImpRenta.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaImpuestoRenta;">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td>
                                            <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                                                name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalImpRent($event)"
                                                (keypress)="keyPress($event)" maxlength="6">
                                        </td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalResultadoNetoEjercicio.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalResultadoNetoEjercicio.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <div style="font-size:9pt;">
                        <p>INSTRUCCIONES:
                            <br/> (1) Desagregar las cuentas solicitadas. Insertar más filas de ser necesario.
                            <br/> - La información de la columna {{anios[0]}}, {{anios[1]}} y {{anios[2]}} corresponde a los resultados
                            financieros correspondientes a los tres últimos años.
                            <br/> - La columna {{anios[3]}} contiene información preliminar hasta el último periodo mensual declarado
                            a la SUNAT (PDT 621) del ejercicio vigente (especificar mes y año).
                            <br/> - La columna {{anios[0]}}, {{anios[1]}}, {{anios[2]}} se debe llenar con la información de la
                            Declaración Jurada Pago Anual Impuesto a la Renta Tercera Categoría presentada a la SUNAT o a
                            la Superintendencia de Banca y Seguros (SBS) o a la institución donde presentan la información.
                            <br/>
                        </p>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="observacion == 1">
                <div class="row">
                    <div class="col">
                        <textarea class="form-control" rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsForm">{{obsForm}}</textarea>
                    </div>
                </div>
            </ng-container>
            <div class="row">
                <div class="col-12 text-sm-right">
                    <a (click)="verControlInformacion()" class="btn btn-sm m-1 btn-success">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                    <a (click)="guardarFormulario()" class="btn btn-sm m-1 btn-secondary">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="displayProvisiones" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Provisiones
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="provisiones.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="provisiones.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="provisiones.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="provisiones.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="provisiones.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalProvisiones()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalProvisiones()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayOtrosIngresos" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Otros Ingresos
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosIngresos.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosIngresos.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosIngresos.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosIngresos.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosIngresos.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalOtrosIngresos()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalOtrosIngresos()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayOtrosGastos" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Otros Gastos
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosGastos.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosGastos.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosGastos.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosGastos.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosGastos.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalOtrosGastos()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalOtrosGastos()">Añadir</button>
    </p-footer>
</p-dialog>