<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
       <div class="col" style="text-align:center;">
           <h5 class="title">FORMULARIO Nº 4</h5>
           <h5 class="title">ESTADO DE CAMBIOS EN EL PATRIMONIO</h5>
           <h6 class="title">(Soles)</h6>
       </div>
    </div>
    <div class="row">
       <div class="col">
        <div class="card card-mtpe mb-3">	
           <div class="card-body">
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td rowspan="2">Concepto</td>
                       <td colspan="7" style="border: 1px white solid">Fondos Propios</td>
                       <td colspan="6" style="border: 1px white solid">Ajustes al Patrimonio</td>
                       <td rowspan="2" style="border: 1px white solid">Total Patrimonio Neto</td>
                   </tr>
                   <tr>
                       <td>Capital social</td>
                       <td>Capital adicional</td>
                       <td>Reservas Obligatorias</td>
                       <td>Reservas Voluntarias</td>
                       <td>(Acciones de tesorería)</td>
                       <td>Resultados Acumulados</td>
                       <td style="border-right: 1px white solid">Resultado del ejercicio</td>
                       
                       <td>Activos financieros disponibles para la venta</td>
                       <td>Coberturas de flujo de efectivo y de inversiones netas en negocios en el extranjero</td>
                       <td>Diferencia de cambio por conversión</td>
                       <td>Participación en otro resultado integral de subsidiarias y asociadas</td>
                       <td>Otros ajustes</td>
                       <td>Total de Ajustes al patrimonio</td>
                   </tr>
               </thead>
                   <tbody>
                   <tr>
                       <td class="concepto_w30">Saldo Inicial del periodo (x-1) antes de ajustes contables</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Ajustes por cambios en las políticas contables</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Ajustes por corrección de errores</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Saldo Inicial después de ajustes </td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Resultado Integral</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Resultado del ejercicio</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Otros Resultado Integral</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Resultado Integral Total</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                   <tr>
                       <td class="concepto_w30">Cambios en el Patrimonio Neto (No incluidos en el Resultado Integral)</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Incremento de Capital (Distinto a combinaciones de negocios)</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Disminución de Capital (Distinto a combinaciones de negocios)</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Incremento (disminución) de combinaciones de negocios</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Reclasificación de pasivos financieros a capital</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Reclasificación de capital a pasivos financieros</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Dividendos</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Operaciones con acciones de tesorería</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Reclasificaciones entre cuentas patrimoniales</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Otros cambios en el Patrimonio Neto</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30" style="background-color: rgba(0,0,0,.075);">Saldo al final del periodo (x-1)</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td rowspan="2">Concepto</td>
                       <td colspan="7" style="border: 1px white solid">Fondos Propios</td>
                       <td colspan="6" style="border: 1px white solid">Ajustes al Patrimonio</td>
                       <td rowspan="2" style="border: 1px white solid">Total Patrimonio Neto</td>
                   </tr>
                   <tr>
                       <td>Capital social</td>
                       <td>Capital adicional</td>
                       <td>Reservas Obligatorias</td>
                       <td>Reservas Voluntarias</td>
                       <td>(Acciones de tesorería)</td>
                       <td>Resultados Acumulados</td>
                       <td style="border-right: 1px white solid">Resultado del ejercicio</td>
                       
                       <td>Activos financieros disponibles para la venta</td>
                       <td>Coberturas de flujo de efectivo y de inversiones netas en negocios en el extranjero</td>
                       <td>Diferencia de cambio por conversión</td>
                       <td>Participación en otro resultado integral de subsidiarias y asociadas</td>
                       <td>Otros ajustes</td>
                       <td>Total de Ajustes al patrimonio</td>
                   </tr>
               </thead>
                   <tbody>
                   <tr>
                       <td class="concepto_w30">Saldo Inicial del periodo (x) antes de ajustes</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Ajustes por cambios en las políticas contables</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Ajustes por corrección de errores</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Saldo Inicial después de ajustes </td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Resultado Integral</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Resultado del ejercicio</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Otros Resultado Integral</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Resultado Integral Total</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                   <tr>
                       <td class="concepto_w30">Cambios en el Patrimonio Neto (No incluidos en el Resultado Integral)</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Incremento de Capital (Distinto a combinaciones de negocios)</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Disminución de Capital (Distinto a combinaciones de negocios)</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Incremento (disminución) de combinaciones de negocios</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Reclasificación de pasivos financieros a capital</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Reclasificación de capital a pasivos financieros</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Dividendos</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Operaciones con acciones de tesorería</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Reclasificaciones entre cuentas patrimoniales</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30">Otros cambios en el Patrimonio Neto</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right longitud" name="" id="" value="0"></td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                       <td class="text-right longitud" style="text-align: center!important;">0</td>
                    </tr>
                    <tr>
                       <td class="concepto_w30" style="background-color: rgba(0,0,0,.075);">Saldo al final del periodo x</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                       <td class="text-right longitud" style="text-align: center!important;background-color: rgba(0,0,0,.075);">0</td>
                    </tr>
                   </tbody>
                </table>
                
                
                <div style="font-size:9pt;">

               <br/>
                <p>INSTRUCCIONES:														
                   <br/>- Los saldos finales de las columnas corresponden a los dos últimos ejercicios económicos terminados al 31 de diciembre, los cuales deben ser iguales a los saldos del Patrimonio del formulario Nº 2.														
                   <br/>- Se debe llenar con la información de la Declaración de Pago Anual por el Impuesto a la Renta Tercera Categoría presentada a la SUNAT  o a la Superintendencia de Banca y Seguros (SBS) o a la institución donde presentan la información.														
                   <br/>
                </p>
                </div>
               </div>
        </div>
        <div class="row">
           <div class="col-12 text-sm-right">
             <a (click)="verControlInformacion()" class="btn btn-sm m-1 btn-success">
               <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
             <a (click)="guardarFormulario()" class="btn btn-sm m-1 btn-secondary">
               <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
           </div>
        </div>
       </div>
    </div>
   </div>