<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">FORMULARIO N° 5</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col" style="text-align:center;">
                            <h5 class="title">ESTRUCTURA DE LOS CRÉDITOS DIRECTOS POR MODALIDAD</h5>
                            <h5 class="title">(Soles)</h5>
                        </div>
                    </div>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaEstrucCredDirecModalidad; let k = index; let total = count">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <td>
                                                <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                                                    name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalDirectos($event)"
                                                    (keypress)="keyPress($event)" maxlength="6">
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>



                    <div class="row">
                        <div class="col" style="text-align:center;">
                            <h5 class="title">ESTRUCTURA DE LOS CRÉDITOS INDIRECTOS</h5>
                            <h5 class="title">(Soles)</h5>
                        </div>
                    </div>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaEstrucCredIndirectos; let k = index; let total = count">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <td>
                                                <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                                                    name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalIndirectos($event)"
                                                    (keypress)="keyPress($event)" maxlength="6">
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <p>
                        <div style="font-size:9pt;">
                            <p>INSTRUCCIONES:
                                <br/> (*) Los Totales de los Créditos Directos deben ser iguales a los totales reportados en las
                                cuentas Creditos Vigentes, Refinanciados, Restructurados y Atrasados
                                <br/> (**) Los Totales de los Créditos Indirectos deben ser iguales a los totales reportados en
                                el formulario 2. Diferenciar entre Pasivo Corriente y No Corriente.
                                <br/> - La información de la columna {{anios[0]}}, {{anios[1]}} y {{anios[2]}} corresponde a los
                                resultados financieros correspondientes a los tres últimos años.
                                <br/> - La columna {{anios[3]}} contiene información preliminar hasta el último periodo mensual
                                declarado a la SUNAT (PDT 621) del ejercicio vigente (especificar mes y año) o a la Superintendencia
                                de Banca y Seguros (SBS) o a la institución donde presentan la información.
                                <br/>

                            </p>
                        </div>
                </div>
            </div>
            <ng-container *ngIf="observacion == 1">
                <div class="row">
                    <div class="col">
                        <textarea class="form-control" rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsForm">{{obsForm}}</textarea>
                    </div>
                </div>
            </ng-container>
            <div class="row">
                <div class="col-12 text-sm-right">
                    <a (click)="verControlInformacion()" class="btn btn-sm m-1 btn-success">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                    <a (click)="guardarFormulario()" class="btn btn-sm m-1 btn-secondary">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
                </div>
            </div>
        </div>
    </div>
</div>