<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">FORMULARIO Nº 2</h5>
            <h5 class="title">ESTADO DE SITUACIÓN FINANCIERA(*)</h5>
            <h6 class="title">(Soles)</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-body">
                    <p>ACTIVO</p>
                    <p>&nbsp;&nbsp;ACTIVO CORRIENTE</p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaActivoCorriente; let k = index; let total = count">
                                <tr>

                                    <td class="concepto">
                                        <ng-container *ngIf="k === 6 || k === 7 || k === 8 || k === 9 || k === 10 || k === 11">
                                            <span style="padding-left:2%;"> {{lista.descripcion}}</span>
                                        </ng-container>
                                        <ng-container *ngIf="k !== 6 && k !== 7 && k !== 8 && k !== 9 && k !== 10 && k !== 11">
                                            {{lista.descripcion}}
                                        </ng-container>
                                    </td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <ng-container *ngIf="k === 5">
                                                <td class="text-right longitud" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                            </ng-container>
                                            <ng-container *ngIf="k !== 5">
                                                <ng-container *ngIf="k === 6 || k === 7 || k === 8 || k === 9 || k === 10 || k === 11">
                                                    <td>
                                                        <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                                            id="{{comp.codigo}}" value="{{comp.cantidad}}" (keypress)="keyPress($event)" (keyup)="subtotalCarteraCredNetos($event)"
                                                            maxlength="6">
                                                    </td>
                                                </ng-container>
                                                <ng-container *ngIf="k !== 6 && k !== 7 && k !== 8 && k !== 9 && k !== 10 && k !== 11">
                                                    <td>
                                                        <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                                            id="{{comp.codigo}}" value="{{comp.cantidad}}" (keypress)="keyPress($event)" (keyup)="subtotalActivoCorriente($event)"
                                                            maxlength="6">
                                                    </td>
                                                </ng-container>

                                            </ng-container>

                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <p>ACTIVO NO CORRIENTE</p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaActivoNoCorriente; let k = index; let total = count">
                                <tr>

                                    <td class="concepto">
                                        <ng-container *ngIf="k === 1 || k === 2 || k === 3 || k === 4 || k === 5 || k === 6">
                                            <span style="padding-left:2%;"> {{lista.descripcion}}</span>
                                        </ng-container>
                                        <ng-container *ngIf="k !== 1 && k !== 2 && k !== 3 && k !== 4 && k !== 5 && k !== 6">
                                            {{lista.descripcion}}
                                        </ng-container>
                                    </td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <ng-container *ngIf="k === 0">
                                                <td class="text-right longitud" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                            </ng-container>
                                            <ng-container *ngIf="k !== 0">
                                                <ng-container *ngIf="k === 1 || k === 2 || k === 3 || k === 4 || k === 5 || k === 6">
                                                    <td>
                                                        <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                                            id="{{comp.codigo}}" value="{{comp.cantidad}}" (keypress)="keyPress($event)" (keyup)="subtotalANCCarteraCredNetos($event)"
                                                            maxlength="6">
                                                    </td>
                                                </ng-container>
                                                <ng-container *ngIf="k !== 1 && k !== 2 && k !== 3 && k !== 4 && k !== 5 && k !== 6">
                                                    <td>
                                                        <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                                            id="{{comp.codigo}}" value="{{comp.cantidad}}" (keypress)="keyPress($event)" (keyup)="subtotalActivoNoCorriente($event)"
                                                            maxlength="6">
                                                    </td>
                                                </ng-container>

                                            </ng-container>

                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalActivo.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalActivo.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <p class="col">PASIVO CORRIENTE</p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="dinamico">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaPasivoCorriente; let k = index; let total = count">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <td>
                                                <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                                    id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalPasivoCorriente($event)"
                                                    (keypress)="keyPress($event)" maxlength="6">
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <p>PASIVO NO CORRIENTE</p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaPasivoNoCorriente; let k = index; let total = count">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <td>
                                                <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                                    id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalPasivoNoCorriente($event)"
                                                    (keypress)="keyPress($event)" maxlength="6">
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalPasivo.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalPasivo.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <p>PATRIMONIO</p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td class="concepto">Concepto</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaPatrimonio; let k = index; let total = count">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <ng-container *ngIf="k < (total - 1)">
                                            <td>
                                                <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                                    id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalPatrimonio($event)"
                                                    (keypress)="keyPress($event)" maxlength="6">
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="k === (total - 1)">
                                            <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="concepto">{{formulario.totalPasivoPatrimonio.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalPasivoPatrimonio.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>


                    <div style="font-size:9pt;">
                        <p>(*) También denominado Balance General</p>
                        <br/>
                        <p>INSTRUCCIONES:
                            <br/> (*) Desagregar la información en Anexo 2A.
                            <br/> - La información de la columna {{anios[0]}}, {{anios[1]}} y {{anios[2]}} corresponde a los resultados
                            financieros correspondientes a los tres últimos años.
                            <br/> - La columna {{anios[3]}} contiene información preliminar hasta el último periodo mensual declarado
                            a la SUNAT (PDT 621) del ejercicio vigente (especificar mes y año).
                            <br/> - La columna {{anios[0]}},{{anios[1]}},{{anios[2]}} se debe llenar con la información de la
                            Declaración Jurada Pago Anual Impuesto a la Renta Tercera Categoría presentada a la SUNAT o a
                            la Superintendencia de Banca y Seguros (SBS) o a la institución donde presentan la información.
                            <br/>
                        </p>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="observacion == 1">
                <div class="row">
                  <div class="col">
                    <textarea class="form-control" rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsForm">{{obsForm}}</textarea>
                  </div>
                </div>
              </ng-container>
            <div class="row">
                <div class="col-12 text-sm-right">
                    <a (click)="verControlInformacion()" class="btn btn-sm m-1 btn-success">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                    <a (click)="guardarFormulario()" class="btn btn-sm m-1 btn-secondary">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
                </div>
            </div>
        </div>
    </div>
</div>