<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
       <div class="col" style="text-align:center;">
           <h5 class="title">FORMULARIO Nº 3</h5>
           <h5 class="title">ESTADO DE FLUJO DE EFECTIVO</h5>
           <h6 class="title">(Soles)</h6>
       </div>
    </div>
    <div class="row">
       <div class="col">
        <div class="card card-mtpe mb-3">	
           <div class="card-body">
                <p>FLUJOS DE EFECTIVO DE  ACTIVIDADES DE OPERACIÓN </p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="concepto_w70">Concepto</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                   <tr>
                       <td class="concepto_w70">Resultado neto del ejercicio</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                    </tr>
                   </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Ajustes</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
               <thead>
                   <tr>
                       <td class="concepto_w70">Concepto</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto_w70">Depreciación y amortización</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Provisiones</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Deterioro</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Otros ajustes</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                   </tbody>
                </table>
                
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="concepto_w70">Concepto</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                   <tr>
                       <td class="concepto_w70">Variación neta en activos y pasivos</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                   </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Incremento neto (disminución) en activos</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
               <thead>
                   <tr>
                       <td class="concepto_w70">Concepto</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto_w70">Créditos</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Inversiones a valor razonable con cambios en resultados</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Disponibles para la venta</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Cuentas por cobrar y otras</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                   </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Incremento neto (disminución) en pasivos</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
               <thead>
                   <tr>
                       <td class="concepto_w70">Concepto</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto_w70">Pasivos financieros , no subordinados</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Cuentas por pagar y otras</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                   </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Resultado del periodo después de la variación neta en activos y pasivos y ajustes</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
               <thead>
                   <tr>
                       <td class="concepto_w70">Concepto</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto_w70">Impuesto a las ganancias pagados / cobrados</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto_w70"><strong>Flujos de efectivo netos de actividades de operación (1)</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                    </tr>
                   </tbody>
                </table>
                
                
                
                <p>FLUJOS DE EFECTIVO DE ACTIVIDADES DE INVERSIÓN</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="concepto_w70">Concepto</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                   <tr>
                       <td class="concepto_w70">Entradas por ventas en Participaciones</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Salidas por compras en Participaciones</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Entrada por ventas de Intangibles e inmueble, mobiliario y equipo</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Salidas por compras Intangibles e inmueble, mobiliario y equipo</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Entradas de instrumentos de deuda mantenidos hasta el vencimiento</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Salidas de instrumentos de deuda mantenidos hasta el vencimiento</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Otras entradas relacionadas a actividades de inversión</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Otras salidas relacionadas a actividades de inversión</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Flujos de efectivo netos de actividades de inversión(2)</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                    </tr>
                   </tbody>
                </table>
                
                
                <p>FLUJOS DE EFECTIVO DE ACTIVIDADES DE FINANCIAMIENTO</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="concepto_w70">Concepto</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                   <tr>
                       <td class="concepto_w70">Entradas por la emisión de instrumentos de patrimonio</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Salida por la recompra de las propias acciones</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Entradas por la emisión de pasivos financieros subordinados</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Salidas por el rescate de pasivos financieros subordinados</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Otras entradas relacionadas a las actividades de financiamiento</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Otras salidas relacionadas a actividades de financiamiento</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Dividendos pagados</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                    <tr>
                       <td class="concepto_w70">Flujos de efectivo netos de actividades de financiamiento(3)</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto_w70">Aumento neto (disminución) en el efectivo y equivalentes de efectivo antes del efecto de las variaciones en el tipo de cambio (1+2+3)</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto_w70">Efecto de las variaciones en el tipo de cambio en el efectivo y equivalentes de efectivo</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0"></td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto_w70">Aumento neto (disminución) en el efectivo y equivalentes de efectivo</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto_w70">Efectivo y equivalentes de efectivo al inicio del periodo (*)</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto_w70">Efectivo y equivalentes de efectivo al final del periodo (**)	</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                       <td class="text-right" style="padding-right: 20px!important;">0</td>
                    </tr>
                   </tbody>
                </table>
                
                <div style="font-size:9pt;">
               <br/>
                <p>INSTRUCCIONES:
                    <br/>- La  información  de  la  columna  A y B muestra la situación financiera correspondiente al día final de los dos últimos años terminados.		
                    <br/>- Las columnas  A y B se deben llenar con la información de la Declaración de Pago Anual por el Impuesto a la Renta Tercera Categoría presentada a la SUNAT o a la Superintendencia de Banca y Seguros - SBS.
                </p>
                </div>
               </div>
        </div>
        <div class="row">
           <div class="col-12 text-sm-right">
             <a (click)="verControlInformacion()" class="btn btn-sm m-1 btn-success">
               <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
             <a (click)="guardarFormulario()" class="btn btn-sm m-1 btn-secondary">
               <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
           </div>
        </div>
       </div>
    </div>
   </div>