<form name="editForm" role="form" novalidate (ngSubmit)="saveModuloEntidad(1)" #editForm="ngForm">
        <div class="modal-header">
            <h4 class="modal-title" id="myUsuarioLabel" >Agregar Perfiles</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
        </div>

        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" hidden>
                <label for="id" jhiTranslate="global.field.id">Nro</label>
                <!--
                <input type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="usuario.id" readonly />
                -->
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-dark">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
