<p-blockUI [blocked]="block"></p-blockUI>
<p-growl [(value)]="mensajes"></p-growl>
<div class="row">
    <div class="col">
        <div class="card card-mtpe">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0"><small class="ml-3"><i class="fa fa-address-book-o" aria-hidden="true"></i> Registro de Expediente - Datos del Expediente</small></h5>
                <h5 class="mb-0 pr-3"><small>Paso 4 de 5</small></h5>
            </div>
            <div class="card-body">
                <div class="defensa px-2">
                    
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label for="inpFechaRegistro" class="col-form-label col-sm-12 pl-0 py-1">Fecha de Registro:</label>
                                        <p-calendar name="expediente.dFecregexp" id="inpFechaRegistro" [(ngModel)]="expediente.dFecregexp" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label for="inpNumero" class="col-form-label col-sm-12 pl-0 py-1">Registro M.P.</label>
                                        <input type="text" name="expediente.vRegmespar" [(ngModel)]="expediente.vRegmespar"  class="form-control form-control-sm" id="inpNumero" placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label for="inpFechaAudiencia" class="col-form-label col-sm-12 pl-0 py-1">Fecha de Audiencia:</label>
                                        <p-calendar name="concilia.dFecconci" (onClose)="buscarHora()" [minDate]="expediente.dFecregexp" class="" (onSelect)="buscarHora()" [(ngModel)]="concilia.dFecconci" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label for="field_horacon" class="col-form-label pl-0 py-1">Hora de Conciliación:</label>
                                        <p-dropdown name="concilia.horacon" optionLabel="vDescrip" (onChange)="verificarHora($event)" inputId="id" [options]="horacon" [(ngModel)]="concilia.horacon" placeholder="Hora de Concil."></p-dropdown>
                                        <!-- <select required class="form-control form-control-sm col-sm-12" (change)="verificarHora($event)" id="field_horacon" name="concilia.horacon" [(ngModel)]="concilia.horacon" >
                                            <option [ngValue]="hora.id === concilia.horacon?.id ? concilia.horacon : hora" *ngFor="let hora of horacon;">{{hora.vDescrip}}</option>
                                        </select> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <label for="inpObservacion" class="col-form-label  ui-g-3 pl-0">Observación:</label>
                                <textarea name="expediente.vObservac" [(ngModel)]="expediente.vObservac" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <p-dataTable [value]="motatenofic" [editable]="true" [(selection)]="selectmotatenofic" (onEditComplete)="grabarObservacion($event)" (onRowSelect)="grabarMotivPase($event)" (onRowUnselect)="borrarMotivpase($event)" scrollable="true" scrollHeight="200px" dataKey="Motateno.id">
                                    <p-header>MOTIVOS DE LA CONCILIACIÓN</p-header>
                                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                    <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                        <ng-template let-i="rowIndex" pTemplate="body">
                                            <span style="text-align:center">{{i+1}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column [style]="{'width':'30%'}" field="Motateno.motate.vDesmotate" header="Descripción"></p-column>
                                    <p-column [style]="{'text-align':'left'}" field="observacion" header="Observación" [editable]="true"></p-column>
                                    <ng-template pTemplate="emptymessage">
                                        No se han encontrado registros
                                    </ng-template>
                                </p-dataTable>
                            </div>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>