<p-blockUI [blocked]="block"></p-blockUI>
<p-growl [(value)]="mensajes"></p-growl>
<div class="row">
    <div class="col">
        <div class="card card-mtpe">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0"><small class="ml-3"><i class="fa fa-address-book-o" aria-hidden="true"></i> Registro de Expediente - Audiencia</small></h5>
                <h5 class="mb-0 pr-3"><small>Paso 5 de 5</small></h5>
            </div>
            <div class="card-body">
                <div class="defensa mb-2">
                    <div class="row my-3">
                        <div class="col-md-9 mx-auto">
                            <p-dataTable [value]="conciliaciones" dataKey="dFecconci">
                                <p-header>Audiencias</p-header>
                                <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                    <ng-template let-i="rowIndex" pTemplate="body">
                                        <span style="text-align:center">{{i+1}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="dFecconci" [style]="{'width':'90px'}" styleClass="text-center" header="Fecha de Conciliación" >
                                    <ng-template let-data="rowData" pTemplate="body">
                                        <span>{{ data.dFecconci | date: 'dd/MM/yyyy' }}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="horacon.vDescrip" [style]="{'width':'60px'}" styleClass="text-center" header="Hora"></p-column>
                                <p-column field="vRegmespar" [style]="{'width':'80px'}" styleClass="text-center" header="Registro M.P.">
                                    <ng-template let-data="rowData" pTemplate="body">
                                        <span>{{ expediente.vRegmespar }}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="observacion" header="Observación">
                                    <ng-template let-data="rowData" pTemplate="body">
                                        <span>{{ expediente.vObservac }}</span>
                                    </ng-template>
                                </p-column>
                                <ng-template pTemplate="emptymessage">
                                    No se han encontrado registros
                                </ng-template>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Registrar Expediente" icon="fa fa-question-circle" #cd width="425">
    <p-footer>
        <button  data-dismiss="modal" (click)="cd.accept()" class="btn btn-danger">
                <span class="fa fa-check"></span>&nbsp;<span>Aceptar</span>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cd.reject()">
                <span class="fa fa-ban"></span>&nbsp;<span >Cancelar</span>
        </button>
        <!-- <button pButton class="ui-button-success" type="button"  icon="fa-save" label="Aceptar" (click)="cd.accept()"></button>
        <button pButton class="ui-button-info"  type="button"  icon="fa-close" label="Cancelar" (click)="cd.reject()"></button> -->
    </p-footer>
</p-confirmDialog>
<p-dialog [width]="500" header="Registro de Expediente" [(visible)]="displayDialog" (onHide)="cerrarModal()" [draggable]="false" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid ui-grid-responsive ui-fluid" >
            <div class="ui-grid-row form-group mb-2">
                <div class="ui-grid-col-8 mx-auto"><label for="dirper.nCoddepto">Expediente registrado con el código: <span class="{{expedienteGrabado.vNumexp}}">{{expedienteGrabado.vNumexp}}</span></label></div>
            </div>
        </div>
        <p-footer>
                <button class="btn btn-success" (click)="cerrarModal()" type="button">Aceptar</button>
        </p-footer>
</p-dialog>