<p-blockUI [blocked]="block"></p-blockUI>
<p-growl [(value)]="mensajes"></p-growl>
<div>
    <div class="row">
        <div class="col">
            <h4 class="title my-3">
                <span>Consulta del Trabajador</span>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                    <h5 class="mb-0"><small><i class="fa fa-user" aria-hidden="true"></i> Consulta del Trabajador</small></h5>
                </div>
                <div class="card-body">
                    <div class="consultas-laborales mb-2">
                        <div class="row mb-2">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12 pr-0">
                                        <p-radioButton name="groupname" value="1" label="Documento de Identidad" [(ngModel)]="tipoBusqueda" (onClick)="inicializarFormulario()"></p-radioButton>
                                    </div>
                                    <div class="col-md-12 pr-0">
                                        <p-radioButton name="groupname" value="2" label="Nombres y Apellidos" [(ngModel)]="tipoBusqueda" (onClick)="inicializarFormulario()"></p-radioButton>        
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="tipoBusqueda==='1'" class="col-md-8">
                                <div class="form-group row">
                                    <label for="inpTipo" class="col-sm-3 col-form-label text-right">Tipo de documento:</label>
                                    <div class="col-sm-4 px-0">
                                        <p-dropdown [options]="tipodocs" name="selectedTipodoc" [(ngModel)]="selectedTipodoc" [style]="{'width':'140px'}" placeholder="Seleccione" optionLabel="vDescorta" dataKey="id" (onChange)="inicializarFormulario()"></p-dropdown>
                                    </div>
                                    <label for="inpNumero" class="col-sm-2 col-form-label text-right">Número:</label>
                                    <div class="col-sm-3 px-0">
                                        <input class="form-control form-control-sm" type="text" [(ngModel)]="vNumdoc" name="vNumdoc" [maxlength]="maxlengthDocIdent" />
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="tipoBusqueda==='2'" class="col-md-8">
                                <div class="form-group row">
                                    <label for="inpTipo" class="col-sm-2 col-form-label text-right">Ape. Paterno:</label>
                                    <div class="col-sm-3 px-0">
                                        <input class="form-control form-control-sm" type="text" [(ngModel)]="vApaterno" name="vApaterno" style="text-transform: uppercase"/>
                                    </div>
                                    <label for="inpTipo" class="col-sm-2 col-form-label text-right">Ape. Materno:</label>
                                    <div class="col-sm-3 px-0">
                                        <input class="form-control form-control-sm" type="text" [(ngModel)]="vAmaterno" name="vAmaterno" style="text-transform: uppercase"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inpTipo" class="col-sm-2 col-form-label text-right">Nombres:</label>
                                    <div class="col-sm-8 px-0">
                                        <input class="form-control form-control-sm" type="text" [(ngModel)]="vNombre" name="vNombre" style="text-transform: uppercase"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                    <button (click)="buscarTrabajador()" class="btn btn-sm btn-secondary px-3"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-1">
                                <p-dataTable [value]="trabajadores" [(selection)]="trabajadorSelec" selectionMode="single" (onRowSelect)="seleccionarTrabajador($event)" (onRowUnselect)="deseleccionarFilas($event)" dataKey="id">
                                        <p-header>Trabajadores</p-header>
                                        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                                        <!-- <p-column field="codPase" header="Cod. Pase"></p-column> -->
                                        <p-column [style]="{'width':'70px', 'text-align':'center'}" field="pernatural.tipdocident.vDescorta" header="Tipo Doc."></p-column>
                                        <p-column [style]="{'width':'90px', 'text-align':'center'}" field="pernatural.vNumdoc" header="Num. Doc."></p-column>
                                        <p-column field="pernatural.vApepat" header="Ape. Paterno"></p-column>
                                        <p-column field="pernatural.vApemat" header="Ape. Materno"></p-column>
                                        <p-column field="pernatural.vNombres" header="Nombres"></p-column>
                                        <p-column [style]="{'width':'70px', 'text-align':'center'}" field="pernatural.vTelefono" header="Teléfono"></p-column>
                                        <ng-template pTemplate="emptymessage">
                                                No se han encontrado registros
                                        </ng-template>
                                </p-dataTable>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 my-3">
                                <button (click)="cargarRegistroAtencion('1')" class="btn btn-sm btn-danger "><i class="fa fa-archive" aria-hidden="true"></i> Nueva Atención</button>
                            </div>
                            <div class="col-md-2 my-3">
                                <button (click)="cargarAtenciones()" class="btn btn-sm btn-success "><i class="fa fa-eye" aria-hidden="true"></i> Ver Atenciones</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <p-tabView>
                                    <p-tabPanel header="Atenciones" [selected]="true">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <p-dataTable selectionMode="single" [value]="atenciones" dataKey="aten.id">
                                                        <p-header>Atenciones</p-header>
                                                        <p-column [style]="{'width':'80px', 'text-align':'center'}" styleClass="text-center" header="Fecha">
                                                            <ng-template let-data="rowData" pTemplate="body">
                                                                <span style="text-align:center">{{ data.aten.tFecreg | date: 'dd/MM/yyyy' }}</span>
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column [style]="{'width':'85px', 'text-align':'center'}" field="aten.vNumticket" styleClass="text-center" header="Num. Ticket"></p-column>
                                                        <p-column [style]="{'width':'70px', 'text-align':'center'}" styleClass="text-center" header="Tipo Doc.">
                                                            <ng-template let-data="rowData" pTemplate="body">
                                                                <span *ngIf="data.aten.datlab.empleador.pernatural !== null">{{ data.aten.datlab.empleador.pernatural.tipdocident.vDescorta }}</span>
                                                                <span *ngIf="data.aten.datlab.empleador.pernatural === null">{{ data.aten.datlab.empleador.perjuridica.tipdocident.vDescorta }}</span>
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column [style]="{'width':'90px', 'text-align':'center'}" styleClass="text-center" header="Num. Doc.">
                                                            <ng-template let-data="rowData" pTemplate="body">
                                                                <span *ngIf="data.aten.datlab.empleador.pernatural !== null">{{ data.aten.datlab.empleador.pernatural.vNumdoc }}</span>
                                                                <span *ngIf="data.aten.datlab.empleador.pernatural === null">{{ data.aten.datlab.empleador.perjuridica.vNumdoc }}</span>
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column header="Empleador">
                                                            <ng-template let-data="rowData" pTemplate="body">
                                                                <span *ngIf="data.aten.datlab.empleador.pernatural !== null">{{ data.aten.datlab.empleador.pernatural.vNombres + ' ' + data.empleador.pernatural.vApepat + ' ' + data.empleador.pernatural.vApemat }}</span>
                                                                <span *ngIf="data.aten.datlab.empleador.pernatural === null">{{ data.aten.datlab.empleador.perjuridica.vRazsocial }}</span>
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="aten.oficina.vDesofic" styleClass="text-center" header="Área"></p-column>
                                                        <p-column [style]="{'width':'75px', 'text-align':'center'}" field="aten.nSedereg" styleClass="text-center" header="Localidad"></p-column>
                                                        <!-- <p-column header="Localidad"></p-column>
                                                            <ng-template let-data="rowData" pTemplate="body">
                                                                <span style="text-align:center">{{ localidad }}</span>
                                                            </ng-template>
                                                        </p-column> -->
                                                        <p-column [style]="{'width':'70px', 'text-align':'center'}" field="aten.nUsuareg" styleClass="text-center" header="Consultor"></p-column>
                                                        <p-column [style]="{'width':'75px', 'text-align':'center'}">
                                                            <ng-template let-res="rowData" pTemplate="body">
                                                                <button *ngIf="res.aten.tFecreg >= fechaActual" type="button"
                                                                    (click)="editarAtencion(res)"
                                                                    class="btn btn-warning btn-sm">
                                                                    <span class="fa fa-edit"></span>
                                                                    <span class="d-none d-md-inline" >Editar</span>
                                                                </button>
                                                            </ng-template>
                                                        </p-column>
                                                        <!-- <p-column header="Consultor"></p-column>
                                                            <ng-template let-data="rowData" pTemplate="body">
                                                                <span style="text-align:center">{{ consultor }}</span>
                                                            </ng-template>
                                                        </p-column> -->
                                                        <ng-template pTemplate="emptymessage">
                                                                No se han encontrado registros
                                                        </ng-template>
                                                    </p-dataTable>
                                                </div>
                                            </div>
                                        </form>
                                    </p-tabPanel>
                                    <p-tabPanel header="Pases">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <p-dataTable #Tpases [value]="pases" dataKey="id_pasegl">
                                                        <p-header>Pases</p-header>
                                                        <p-column header="Fecha">
                                                            <ng-template let-data="rowData" pTemplate="body">
                                                                <span>{{ data.tFecreg | date: 'dd/MM/yyyy' }}</span>
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="atencion.vNumticket" header="Num. Ticket"></p-column>
                                                        <p-column field="atencion.oficina.vDesofic" header="Origen"></p-column>
                                                        <p-column field="oficina.vDesofic" header="Destino"></p-column>
                                                        <p-column field="atencion.datlab.empleador.perjuridica.tipdocident.vDescorta" header="Tipo Doc."></p-column>
                                                        <p-column field="atencion.datlab.empleador.perjuridica.vNumdoc" header="Num. Doc."></p-column>
                                                        <p-column field="atencion.datlab.empleador.perjuridica.vRazsocial" header="Empleador"></p-column>
                                                        <p-column field="nSedereg" header="Localidad"></p-column>
                                                        <p-column field="nUsuareg" header="Consultor"></p-column>
                                                        <ng-template pTemplate="emptymessage">
                                                                No se han encontrado registros
                                                        </ng-template>
                                                    </p-dataTable>
                                                </div>
                                            </div>
                                        </form>
                                    </p-tabPanel>
                                    <p-tabPanel header="Direcciones">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12 mb-3">
                                                        <p-dataTable #Tdirecciones [value]="direcciones" dataKey="direc.id">
                                                            <p-header>Direcciones</p-header>
                                                            <p-column field="dpto" header="Departamento"></p-column>
                                                            <p-column field="prov" header="Provincia"></p-column>
                                                            <p-column field="dist" header="Distrito"></p-column>
                                                            <p-column field="direc.vDircomple" header="Dirección"></p-column>
                                                            <!-- <p-column field="direc.nFlgnotifi" header="Notificar"> -->
                                                            <p-column header="Notificar">
                                                                <ng-template let-data="rowData" pTemplate="body">
                                                                    <span style="text-align:center">{{ (data.direc.nFlgnotifi===false)?'':'SI' }}</span>
                                                                </ng-template>
                                                            </p-column>
                                                            <ng-template pTemplate="emptymessage">
                                                                    No se han encontrado registros
                                                            </ng-template>
                                                        </p-dataTable>
                                                    </div>
                                                </div>
                                            </form>
                                        </p-tabPanel>
                                </p-tabView>

                            </div>
                        </div>
                        <p-dialog [width]="800" header="Registros Laborales:" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
                            <div>
                                <p-dataTable selectionMode="single" [(selection)]="selecAten" [value]="atenciones" dataKey="aten.id">
                                    <p-header>Registros</p-header>
                                    <!-- <p-column field="aten.datlab.dFecvincul" header="Fecha Inicio"></p-column> -->
                                    <p-column  header="Fecha Inicio">
                                        <ng-template let-data="rowData" pTemplate="body">
                                            <span>{{ data.aten.datlab.dFecvincul | date: 'dd/MM/yyyy' }}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="aten.datlab.empleador.perjuridica.vRazsocial" header="Empleador"></p-column>
                                    <p-column field="codexpediente" header="Última Atención"></p-column>
                                    <p-column field="fecha" header="Motivo de Atención"></p-column>
                                    <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Pase">
                                        <ng-template let-data="rowData" pTemplate="body">
                                            <span style="text-align:center">{{ (data.pase===null)?'No':'Si' }}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="pase.vObspase" header="Motivo del Pase"></p-column>
                                    <ng-template pTemplate="emptymessage">
                                            No se han encontrado registros
                                    </ng-template>
                                </p-dataTable>
                            </div>
                            <p-footer>
                                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                    <button (click)="cancelar()" class="btn btn-sm btn-dark "><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
                                    <button (click)="cargarRegistroAtencion('2')" class="btn btn-sm btn-success "><i class="fa fa-cloud-download" aria-hidden="true"></i> Cargar</button>
                                </div>
                            </p-footer>
                        </p-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <jhi-alert></jhi-alert>
</div>
