<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
      <div class="col" style="text-align:center;">
          <h5 class="title">Formulario Nº 3</h5>
          <h5 class="title">ESTADOS DE FLUJOS DE EFECTIVO</h5>
          <h6 class="title">(Soles)</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card card-mtpe mb-3">	
          <div class="card-body">
                <p>FLUJOS DE EFECTIVO DE ACTIVIDAD DE OPERACIÓN</p>
                <p>&nbsp;&nbsp;Clases de cobros en efectivo por actividades de operación</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto_w70">Concepto</td>
                      <ng-container *ngFor="let a of anios">
                        <td>{{a}}</td>
                      </ng-container>
                  </tr>
              </thead>
                  <tbody>
                    <ng-container *ngFor="let lista of formulario.lista1;">
                      <tr>
                        <td class="concepto_w70">{{lista.descripcion}}</td>
                        <ng-container *ngFor="let comp of lista.componentes">
                            <td>
                              <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="actualizarCampos1Total1($event)" (keypress)="keyPress($event)" maxlength="6">
                            </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Clases de pagos en efectivo por actividades de operación</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto_w70">Concepto</td>
                      <ng-container *ngFor="let a of anios">
                        <td>{{a}}</td>
                      </ng-container>
                  </tr>
              </thead>
                  <tbody>
                    <ng-container *ngFor="let lista of formulario.lista2;">
                      <tr>
                        <td class="concepto_w70">{{lista.descripcion}}</td>
                        <ng-container *ngFor="let comp of lista.componentes">
                            <td>
                              <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="actualizarCampos2Total1($event)" (keypress)="keyPress($event)" maxlength="6">
                            </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Flujos de efectivo y equivalente al efectivo procedente de (utilizados en) operaciones</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto_w70">Concepto</td>
                      <ng-container *ngFor="let a of anios">
                        <td>{{a}}</td>
                      </ng-container>
                  </tr>
              </thead>
                  <tbody>
                    <ng-container *ngFor="let lista of formulario.lista3;">
                      <tr>
                        <td class="concepto_w70">{{lista.descripcion}}</td>
                        <ng-container *ngFor="let comp of lista.componentes">
                            <td>
                              <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="actualizarCampos3Total1($event)" (keypress)="keyPress($event)" maxlength="6">
                            </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto_w70">{{formulario.total1.descripcion}}</td>
                      <ng-container *ngFor="let comp of formulario.total1.componentes">
                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
                
                
                <p>FLUJOS DE EFECTIVO DE ACTIVIDAD DE INVERSIÓN</p>
                <p>&nbsp;&nbsp;Clases de cobros en efectivo por actividades de inversión</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto_w70">Concepto</td>
                      <ng-container *ngFor="let a of anios">
                        <td>{{a}}</td>
                      </ng-container>
                  </tr>
              </thead>
                  <tbody>
                    <ng-container *ngFor="let lista of formulario.lista4;">
                      <tr>
                        <td class="concepto_w70">{{lista.descripcion}}</td>
                        <ng-container *ngFor="let comp of lista.componentes">
                            <td>
                              <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="actualizarCampos1Total2($event)" (keypress)="keyPress($event)" maxlength="6">
                            </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Clases de pagos en efectivo por actividades de inversión</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto_w70">Concepto</td>
                      <ng-container *ngFor="let a of anios">
                        <td>{{a}}</td>
                      </ng-container>
                  </tr>
              </thead>
                  <tbody>
                    <ng-container *ngFor="let lista of formulario.lista5;">
                      <tr>
                        <td class="concepto_w70">{{lista.descripcion}}</td>
                        <ng-container *ngFor="let comp of lista.componentes">
                            <td>
                              <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="actualizarCampos2Total2($event)" (keypress)="keyPress($event)" maxlength="6">
                            </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto_w70">{{formulario.total2.descripcion}}</td>
                      <ng-container *ngFor="let comp of formulario.total2.componentes">
                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
                
                
                <p>FLUJOS DE EFECTIVO DE ACTIVIDAD DE FINANCIACIÓN</p>
                <p>&nbsp;&nbsp;Clases de cobros en efectivo por actividades de financiación</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto_w70">Concepto</td>
                      <ng-container *ngFor="let a of anios">
                        <td>{{a}}</td>
                      </ng-container>
                  </tr>
              </thead>
                  <tbody>
                    <ng-container *ngFor="let lista of formulario.lista6;">
                      <tr>
                        <td class="concepto_w70">{{lista.descripcion}}</td>
                        <ng-container *ngFor="let comp of lista.componentes">
                            <td>
                              <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="actualizarCampos1Total3($event)" (keypress)="keyPress($event)" maxlength="6">
                            </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                
                <p>&nbsp;&nbsp;Clases de pagos en efectivo por actividades de financiación</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                  <tr>
                      <td class="concepto_w70">Concepto</td>
                      <ng-container *ngFor="let a of anios">
                        <td>{{a}}</td>
                      </ng-container>
                  </tr>
              </thead>
                  <tbody>
                    <ng-container *ngFor="let lista of formulario.lista7;">
                      <tr>
                        <td class="concepto_w70">{{lista.descripcion}}</td>
                        <ng-container *ngFor="let comp of lista.componentes">
                            <td>
                              <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="actualizarCampos2Total3($event)" (keypress)="keyPress($event)" maxlength="6">
                            </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto_w70">{{formulario.total3.descripcion}}</td>
                      <ng-container *ngFor="let comp of formulario.total3.componentes">
                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
                
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto_w70">{{formulario.total4.descripcion}}</td>
                      <ng-container *ngFor="let comp of formulario.total4.componentes">
                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                    <thead>
                        <tr>
                            <td class="concepto_w70">Concepto</td>
                            <ng-container *ngFor="let a of anios">
                              <td>{{a}}</td>
                            </ng-container>
                        </tr>
                    </thead>
                  <tbody>
                      <tr>
                        <td class="concepto_w70">{{formulario.lista8.descripcion}}</td>
                        <ng-container *ngFor="let comp of formulario.lista8.componentes">
                            <td>
                              <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                                id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="actualizarCampos1Total5($event)" (keypress)="keyPress($event)" maxlength="6">
                            </td>
                        </ng-container>
                      </tr>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto_w70">{{formulario.total5.descripcion}}</td>
                      <ng-container *ngFor="let comp of formulario.total5.componentes">
                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                    <thead>
                        <tr>
                            <td class="concepto_w70">Concepto</td>
                            <ng-container *ngFor="let a of anios">
                              <td>{{a}}</td>
                            </ng-container>
                        </tr>
                    </thead>
                  <tbody>
                    <tr>
                      <td class="concepto_w70">{{formulario.lista9.descripcion}}</td>
                      <ng-container *ngFor="let comp of formulario.lista9.componentes">
                          <td>
                            <input [disabled]="observacion == 1" type="text" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right" name=""
                              id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="actualizarCampos1Total6($event)" (keypress)="keyPress($event)" maxlength="6">
                          </td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                  <tbody>
                    <tr>
                      <td class="concepto_w70">{{formulario.total6.descripcion}}</td>
                      <ng-container *ngFor="let comp of formulario.total6.componentes">
                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
                
                <div style="font-size:9pt;">					  
                <p>
                  INSTRUCCIONES:<br/>
                  (*) Saldo de caja bancos al inicio del año. <br/>
                  (**) Saldo de caja bancos al final del año.<br/>
                  -La  información  de  la  columna  {{anios[0]}} y {{anios[1]}}  muestra la situación financiera correspondiente al día final de los dos últimos años terminados.<br/>
                  -La columna  {{anios[0]}} y {{anios[1]}} se debe llenar con la información de la Declaración del Pago Anual por el Impuesto a la Renta de Tercera Categoría presentada a la SUNAT.<br/>
                </p>
                </div>
              </div>
        </div>
        <ng-container *ngIf="observacion == 1">
          <div class="row">
            <div class="col">
              <textarea class="form-control" rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsForm">{{obsForm}}</textarea>
            </div>
          </div>
        </ng-container>
        <div class="row">
            <div class="col-12 text-sm-right">
                <a (click)="verControlInformacion()" class="btn btn-sm m-1 btn-success">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                <a (click)="guardarFormulario()" class="btn btn-sm m-1 btn-secondary">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
            </div>
        </div>
      </div>
    </div>
  </div>