  body{
    font-family: "FranklinGothicStdBC";
  }
  .content-wrapper {
    background: #f4f4f4;
  }
  .left-col, .right-col {
    transition: all .5s ease;
  }
  .btn-danger{
    background-color: #f00;
        border-color: #f00;
  }
  .btn-warning{
    background-color: #faaf3b;
        border-color: #faaf3b;
  }
  .form-group{
    margin-bottom: 1px;
  }
  .input-group-sm>.input-group-btn>select.btn:not([size]):not([multiple]), .input-group-sm>select.form-control:not([size]):not([multiple]), .input-group-sm>select.input-group-addon:not([size]):not([multiple]), select.form-control-sm:not([size]):not([multiple]) {
      height: calc(1.6125rem + 2px);
  }
  .btn-group-sm>.btn, .btn-sm {
      padding: .15rem .5rem;
  }
  /*header*/
  header{
    background-color: #f9ae3b;
    color: #fff;
  }
  header .left-col a.logo{
    background-color: #F5911E;
    min-height: 50px;
    font-size: 1.3rem;
  }
  header .left-col a.logo:hover{
    text-decoration: none;
  }
  @media (min-width: 992px){
    header .left-col a.logo span.active{
      display: none;
    }
  }
  @media (max-width: 991px){
    header .left-col a.logo span{
      display: none;
    }
  }
  @media (max-width: 767px){
    header .left-col a.logo span{
      display: block;
    }
  }
  a.toggle-bars {
    color: #fff;
    display: block;
    height: 50px;
    padding: 15px;
  }
  a.toggle-bars:hover {
    background: #F5911E;
  }
  .select-aplicativo{
    min-width: 100px;
    max-width: 200px;
    font-size: 12px;
    border-color: transparent;
  }
  .select-aplicativo:focus{
    border-color: transparent;
  }
  a.nav-link.btn.btn-warning.dropdown-toggle{
    background-color: #f9ae3b;
    color: #fff;
  }
  a.nav-link.btn.btn-warning.dropdown-toggle:hover{
    background-color: #f5911e;
    color: #fff;
  }
  .dropdown-menu{
    background-color: #F5911E;
  }
  .dropdown-menu a{
    color: #fff;
  }
  /*end header*/
  /*aside*/
  section .left-col {
    background-color: #232323;
    min-height: calc(100vh - 100px);
  }
  section .welcome.active{
    display: none;
  }
  @media (max-width: 991px){
    section .welcome{
      display: none;
    }
  }
  section .welcome img{
    background-color: #ffc700;
    border: 1px solid #ffc700;
  }
  ul#accordion {
      background-color: #4d4d4d;
      margin-bottom: 0;
  }
  ul.level-two.p-0 {
      background-color: #484545;
  }
  section .left-col nav h3{
    color: #8e8e8e;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 0;
  }
  section .left-col nav h3.active{
    display: none;
  }
  @media (max-width: 991px){
    section .left-col nav h3{
      display: none;
    }
    section .left-col.active-zero{
      display: none;
    }
  }
  @media (max-width: 767px) {
    .perfil-name{
      display: none;
    }
  }
  ul{
    list-style: none;
  }
  ul li, ul li a {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: .9rem;
  }
  section ul.level-one li a span, ul.level-one li a i{
    color: #e7e7e7;
    text-align: center;
  }
  section ul.level-one li:hover a span, ul.level-one li:hover a i{
    color: #fff;
  }
  section ul li ul.level-two{
    display: none;
  }
  section ul li ul.level-two li a{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 42px;
  }
  section ul#accordion li.active {
    border-right: 5px solid #f5911e;
  }
  section ul li.active a span.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  section ul.level-one li a .fa-chevron-down.active{
    display: none;
  }
  @media (max-width: 991px){
    section ul li a span.fa-chevron-down {
      display: none;
    }
  }
  section ul.level-two li:hover, ul.level-two li.active-submenu{
    background-color: #656060;
  }
  section ul.level-two li:hover a{
    text-decoration: none;
  }
  section ul.level-two li:before {
    background: #ff0000;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
  }
  section ul.level-two li:after {
    border-left: 1px solid #ff0000;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
  }
  section ul#accordion li a:hover{
    text-decoration: none;
  }
  section ul#accordion li.active > a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: linear-gradient(#b90b0b, #c50909), #dc411e;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
  }
          /* .- click toggle -.*/
  section ul#accordion li ul.level-two-min{
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: #ca1d1d;
  }
  section ul#accordion li ul.level-two-min li{
    position: relative;
  }
  section ul#accordion li ul.level-two-min li:hover{
    background-color: #e22b2b;
  }
  section ul#accordion li ul.level-two-min li:before, ul#accordion li ul.level-two-min li:after{
    content: none;
  }
  section ul#accordion li ul.level-two-min li a{
    padding: 8px;
  }
  @media (max-width: 991px){
    section ul#accordion li ul{
      display: none;
      position: absolute;
      left: 100%;
      top: 0;
      width: 210px;
      z-index: 4000;
      background: #ca1d1d;
    }
    section ul#accordion li ul li{
      position: relative;
    }
    section ul#accordion li ul li:hover{
      background-color: #e22b2b;
    }
    section ul#accordion li ul li:before, ul#accordion li ul li:after{
      content: none;
    }
    section ul#accordion li ul li a{
      padding: 8px;
    }
    section .left-col.active a{ /*normalizado*/
      padding: 15px 5px;
    }
    section .left-col.active nav a i{ /*normalizado*/
      font-size: 1.5rem;
    }
    section .left-col.active nav a span{ /*normalizado*/
      font-size: .7rem;
    }
  }
      /**** fin submenu ********/
  @media (max-width: 575px) {
    ul.level-one > li>a span{
      display: none;
    }
  }
  footer .aside-footer{
    background-color: #232323;
    height: 50px;
  }
  footer .footer{
    background-color: #4d4d4d;
    color: #fff;
    font-size: .9rem;
    border-top: 1px solid #d2d6de;
  }
  @media (max-width: 991px){
    footer .left-col.active-zero{
      display: none;
    }
  }
  /* .: contenedor principal :.*/
  .title{
    color: #4d4d4d;
  }
  .card-mtpe{
    border: 1px solid #ffc107;
  }
  .card-mtpe > .card-header{
    border-bottom: 1px solid rgb(255, 193, 7);
  }
  .card-secondary{
      border-top: 3px solid #d2d6de;
  }
  .card-primary{
    border-top: 3px solid #007bff;
  }
  .card-success{
    border-top: 3px solid #218838;
  }
  .card-info{
    border-top: 3px solid #138496;
  }
  .card-warning{
    border-top: 3px solid #ffc107;
  }
  .card-dark{
    border-top: 3px solid #343a40;
  }
  .box-shadow{
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
      -webkit-perspective: 700px;
      -ms-perspective: 700px;
      background-color: #fff;
  }
  .bg-light{
    background-color: #fff8e4 !important;
  }
  .alert{
    padding: .4rem 1.25rem;
  }
  .alert-info {
      color: #fff;
      background-color: #f00;
      border-color: #f00;
  }
  .card-panel .card-header{
    background-color: #fff;
    color: #4d4d4d;
    padding: 10px 5px;
    margin: 0 15px 10px 15px;
  }
  .card-panel .card-header h5{
    margin-bottom: 0;
  }
  .card-panel .card-header ul li a {
    color: #8a8989;
    font-size: 13px;
  }
  .card-panel .card-header ul li a:hover {
    background-color: #f2f2f2;
  }
  .card-panel .card-header ul li.active > a i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .card-panel .card-body, .card-body{
    padding: .5rem;
  }
  .card-panel .card-body label{
    color: #4d4d4d;
    font-weight: bold;
    font-size: 13px;
  }
  .card-panel .card-footer{
    background-color: #fff;
    color: #4d4d4d;
    padding: 10px 5px;
    margin: 0 15px;
  }
  .card-columns-panel .card {
    margin-bottom: 0.75rem;
  }
  @media (min-width: 992px) {
    .card-columns-panel {
      -webkit-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 1.25rem;
              column-gap: 1.25rem;
    }
    .card-columns-panel .card {
      display: inline-block;
      width: 100%;
    }
  }
  /* .: fin contenedor principal :.*/
  #scroll{
    background-color: red;
    height: 40px;
    width: 40px;
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 60px;
    color: #fff;
    text-align: center;
    padding: 7px;
    opacity: .5;
    display: none;
  }
  #scroll:hover{
    opacity: 1;
  }
    /* .: home :.*/
  #page-title{
    padding: 10px;
  }
  .wraper div i{
    opacity: .7;
  }
  .wraper:hover div i{
    opacity: 1;
  }
  .wraper:hover{
    text-decoration: none;
  }
  .form-check-input {
      margin-top: 0;
  }
  .form-check {
      margin-bottom: 0;
  }
  /* .: fin home :.*/
  .ng-valid{
    border: thin solid #090;
  }
  .ng-invalid{
    border: thin solid #990000;
  }
  .page-item.active .page-link {
    background-color: #f00;
    border-color: #f00;
  }
  .page-link {
    color: #000000;
    margin-left: 0;
  }    
  .page-link:focus, .page-link:hover {
    color: #333;
    text-decoration: none;
    background-color: #f9ae3b;
    border-color: #f9ae3b;
  }
  /*Datatable*/
  table{
    font-size: 12px;
  }
  .table td, .table th, table.dataTable tbody th, table.dataTable tbody td{
      padding: .3rem .7rem;
  }
  table thead tr {
      background: #c00909;
      color: #fff;
  }
  table thead tr th:nth-child(1){
      border-top-left-radius: 10px;
  }
  table thead tr th:nth-last-child(1){
      border-top-right-radius: 10px;
  }
  .table td, .table th, .table thead th {
      vertical-align: middle;
      border-top: none; 
  }
  .custom-control{
        min-height: 1rem;
  }
  .custom-control-input:checked~.custom-control-indicator {
      background-color: #f9ae3b;
  }
  /*fin Datatable*/
  /*buttons*/
  .buttons-excel, .buttons-pdf, .buttons-print{
    color: #fff;
    margin: 10px;
  }
  .buttons-excel{
    background-color: #207245;
    border: none;
  }
  .buttons-excel:hover, .buttons-excel:active, .buttons-excel:focus, .buttons-excel:active:hover{
    background-color: #195835;
    color: #fff;
  }
  .buttons-pdf{
    background-color: #e51a2d;
    border: none;
  }
  .buttons-pdf:hover, .buttons-pdf:active, .buttons-pdf:focus, .buttons-pdf:active:hover{
    background-color: #c71526;
    color: #fff;
  }
  .buttons-print{
    background-color: #616160;
    border: none;
  }
  .buttons-print:hover, .buttons-print:active, .buttons-print:focus, .buttons-print:active:hover{
    background-color: #484847;
    color: #fff;
  }
  /*widgets*/
  .d-steps{
    position: relative;
  }
  .d-progress {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;  
  }
  .d-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    background: #f00;
  }
  .d-step-circle{
    width: 40px;
    height: 40px;
    background: #ddd;
    color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .d-step.active .d-step-circle{
    width: 48px;
    height: 48px;
    background: #f00;
    font-size: 22px;
  }
  .d-step.active p {
    color: #f00;
  }
  .d-step p {
    color: #ccc;
  }
  .y-step .y-progress {
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
  }
  .y-step:first-child .y-progress{
    left: 50%;
  }
  .y-step:last-child .y-progress{
    width: 50%;
  }
  .y-step.active .y-progress .y-progress-line{
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #f00;
  }
  .y-step .y-content .y-content-circle{
    position: relative;
    width: 30px;
    height: 30px;
    background: #525252;
    color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .y-step .y-content .btn-y-disabled .y-content-circle{
    cursor: not-allowed;
  }
  .y-step.active .y-content .y-content-circle{
    width: 32px;
    height: 32px;
    background: #f00;
    font-size: 18px;
  }
  .y-step .y-content .y-content-descrip{
    width: 80%;
    margin: auto;
    line-height: .75rem;
  }
  .y-step.active p {
    color: #f00;
  }
  .btn-y:hover{
    text-decoration: none;
  }
  fieldset {
    border: 1px solid #f5911e !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background-color:#fbfbfb;
    padding-left:10px!important;
  } 
  legend{
    font-size:13px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 35%; 
    border: 1px solid #f5911e;
    border-radius: 4px; 
    padding: 2px 2px 2px 5px; 
    background-color: #fff6eb;
  }
  @media (max-width: 575px) {
    legend{
      font-size: 13px;
      width: 100%; 
    }
  }
  /*input file*/
  .image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
  }
  .image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .image-preview-input-title {
    margin-left:2px;
  }
  /*end input file 768-784*/
  #resultado {
    background: #fff;
  }
  #resultado ul{
    list-style:none;
  }
  #resultado ul li:hover{
    background-color: red;
    color: #fff;
  }
  #radioBtn .active{
    color: #fff;
    cursor: pointer;
  }
  #radioBtn .notActive{
    color: #000;
    background-color: #fff;
    cursor: pointer;
  }
  .form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
      padding: .15rem .5rem;
  }
  
  /*calculo beneficios*/
  .calculo-beneficios{
      padding: 10px;
      color: black;
      border: 2px solid #ccc;
      border-radius: 10px;
  }
  
  .text-calculo{
    font-size: 12px;
    margin-bottom: 0;
  }

.table-bordered {
  border: 1px solid #e9ecef;
}
.table-bordered td, .table-bordered th{
  border: none;
}
.concepto {
  width:20%;
}

.concepto_w70 {
  width:70%;
}

.dinamico {
  width:20%;
}
table.cabecera thead tr td {
  text-align:center;
}

table thead tr {
  background: #F90014;
  color: #fff;
}

.longitud {
  width:50px;
  margin:auto;
}

table.cabecera2 thead tr td {
  text-align:center;
  padding: 3px;
}

table.cabecera2 tbody tr td {
  font-size: 8pt;
}

.concepto_w30 {
				width:8%;
			}
      
.smallerinput {
  // font-size: smaller;
 // width: 35px;
}

.smallerlabel {
  // font-size: smaller;
}