<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">ANEXO 1D</h5>
            <h5 class="title">DETALLE DE CUENTAS</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-body">
                    <p>GASTOS DE VENTAS Y DISTRIBUCIÓN (*)
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogGastosVentasDistribucion()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaGastosVentasDistribucion;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteGastosVentasDistribucion(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteGastosVentasDistribucion(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalGastosVentasDistribucion.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalGastosVentasDistribucion.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>DENTRO DE LOS GASTOS DE VENTAS Y DISTRIBUCIÓN:</p>
                    <p>&nbsp; Gastos por servicios Prestados por terceros
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogGastosVenDistriServPorTerceros()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaGastosVenDistriServPorTerceros;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteGastosVenDistriServPorTerceros(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteGastosVenDistriServPorTerceros(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalGastosVenDistriServPorTerceros.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalGastosVenDistriServPorTerceros.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>&nbsp; Gastos por Cargos Diversos de Gestión
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogGastosDiversionGestion()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaGastosDiversionGestion;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteGastosDiversionGestion(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteGastosDiversionGestion(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalGastosDiversionGestion.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalGastosDiversionGestion.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>&nbsp; Provisiones
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogProvisiones()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaProvisiones;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteProvisiones(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteProvisiones(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalProvisiones.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalProvisiones.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>GASTOS DE ADMINISTRACIÓN (*)
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogGastosAdministracion()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaGastosAdministracion;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteGastosAdministracion(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteGastosAdministracion(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalGastosAdministracion.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalGastosAdministracion.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>DENTRO DE LOS GASTOS ADMINISTRACIÓN:</p>
                    <p>&nbsp; Gastos por servicios Prestados por terceros
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogGastosDentroAdminServPorTerceros()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaGastosDentroAdminServPorTerceros;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteGastosDentroAdminServPorTerceros(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteGastosDentroAdminServPorTerceros(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalGastosDentroAdminServPorTerceros.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalGastosDentroAdminServPorTerceros.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>INGRESOS FINANCIEROS
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogIngresosFinancieros()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaIngresosFinancieros;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteIngresosFinancieros(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteIngresosFinancieros(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalIngresosFinancieros.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalIngresosFinancieros.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>GASTOS FINANCIEROS
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogGastosFinancieros()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaGastosFinancieros;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteGastosFinancieros(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteGastosFinancieros(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalGastosFinancieros.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalGastosFinancieros.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>OTROS INGRESOS
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogOtrosIngresos()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaOtrosIngresos;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteOtrosIngresos(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteOtrosIngresos(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalOtrosIngresos.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalOtrosIngresos.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>OTROS EGRESOS
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogOtrosEgresos()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaOtrosEgresos;">
                                <tr style="height:28px;">
                                    <td class="dinamico">{{lista.descripcion}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteOtrosEgresos(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteOtrosEgresos(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td class="dinamico">{{formulario.totalOtrosEgresos.descripcion}}</td>
                                <ng-container *ngFor="let comp of formulario.totalOtrosEgresos.componentes">
                                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="font-size:9pt;padding:5px;">
                    <br/>


                    <p style="padding:5px;">
                        INSTRUCCIONES:
                        <br/> (*) Desagregar en cuentas de la clase 6 a dos dígitos caso contrario según el giro de la empresa.
                        <br/> -La información de la columna {{anios[0]}}, {{anios[1]}} y {{anios[2]}} corresponde a los resultados
                        financieros correspondientes a los tres últimos años.
                        <br/> -La columna {{anios[3]}} contiene información preliminar hasta el último periodo mensual declarado
                        a la SUNAT (PDT 621) del ejercicio vigente (especificar mes y año).
                        <br/> -El total de las columnas {{anios[0]}}, {{anios[1]}}, {{anios[2]}} y {{anios[3]}} debe ser igual
                        a las casillas corrrespondientes al Formulario Nº 1.
                        <br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="observacion == 1">
        <div class="row">
            <div class="col">
                <textarea class="form-control" rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsForm">{{obsForm}}</textarea>
            </div>
        </div>
    </ng-container>
    <div class="row">
        <div class="col-12 text-sm-right">
            <a (click)="verControlInformacion()" class="btn btn-sm m-1 btn-success">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
            <a (click)="guardarFormulario()" class="btn btn-sm m-1 btn-secondary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
        </div>
    </div>
</div>
</section>

</div>

<p-dialog [(visible)]="displayGastosVentasDistribucion" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Gastos de Ventas y Distribución
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosVentasDistribucion.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosVentasDistribucion.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosVentasDistribucion.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosVentasDistribucion.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosVentasDistribucion.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalGastosVentasDistribucion()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalGastosVentasDistribucion()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayGastosVenDistriServPorTerceros" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Gastos por servicios Prestados por terceros
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosVenDistriServPorTerceros.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosVenDistriServPorTerceros.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosVenDistriServPorTerceros.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosVenDistriServPorTerceros.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosVenDistriServPorTerceros.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalGastosVenDistriServPorTerceros()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalGastosVenDistriServPorTerceros()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayGastosDiversionGestion" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Gastos por Cargos Diversos de Gestión
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosDiversionGestion.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosDiversionGestion.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosDiversionGestion.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosDiversionGestion.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosDiversionGestion.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalGastosDiversionGestion()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalGastosDiversionGestion()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayProvisiones" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Provisiones
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="provisiones.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="provisiones.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="provisiones.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="provisiones.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="provisiones.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalProvisiones()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalProvisiones()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayGastosAdministracion" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Gastos de Administración
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosAdministracion.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosAdministracion.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosAdministracion.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosAdministracion.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosAdministracion.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalGastosAdministracion()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalGastosAdministracion()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayGastosDentroAdminServPorTerceros" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Gastos por servicios Prestados por terceros - DENTRO DE LOS GASTOS ADMINISTRACIÓN
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosDentroAdminServPorTerceros.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosDentroAdminServPorTerceros.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosDentroAdminServPorTerceros.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosDentroAdminServPorTerceros.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosDentroAdminServPorTerceros.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalGastosDentroAdminServPorTerceros()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalGastosDentroAdminServPorTerceros()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayIngresosFinancieros" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Ingresos Financieros
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="ingresosFinancieros.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="ingresosFinancieros.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="ingresosFinancieros.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="ingresosFinancieros.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="ingresosFinancieros.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalIngresosFinancieros()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalIngresosFinancieros()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayGastosFinancieros" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Gastos Financieros
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosFinancieros.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosFinancieros.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosFinancieros.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosFinancieros.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="gastosFinancieros.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalGastosFinancieros()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalGastosFinancieros()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayOtrosIngresos" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Otros Ingresos
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosIngresos.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosIngresos.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosIngresos.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosIngresos.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosIngresos.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalOtrosIngresos()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalOtrosIngresos()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayOtrosEgresos" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registro de Otros Egresos
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosEgresos.descripcion">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Monto</legend>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosEgresos.anioA">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosEgresos.anioB">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosEgresos.anioC">
                            </div>
                            <div class="col col-sm-2">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">{{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="otrosEgresos.anioD">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalOtrosEgresos()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalOtrosEgresos()">Añadir</button>
    </p-footer>
</p-dialog>