<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">ANEXO 1 B</h5>
            <h5 class="title">VOLUMEN FÍSICO DE PRODUCCIÓN Y/O SERVICIOS</h5>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-body">
                    <ng-container *ngIf="observacion == 0">
                        <a [routerLink]="" (click)="mostrarDialog()" class="btn btn-sm btn-dark">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </ng-container>
                    <br/>
                    <br/>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr>
                                <td>PRODUCTOS Y/O SERVICIOS (1)</td>
                                <td>UNIDAD DE MEDIDA</td>
                                <ng-container *ngFor="let a of anios">
                                    <td>{{a}}</td>
                                </ng-container>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaProductos">
                                <tr>
                                    <td class="concepto">{{lista.descripcion}}</td>
                                    <td class="concepto">{{lista.unidadmedida}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponente(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponente(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>


                    <div style="font-size:9pt;">
                        <br/>

                        <p>
                            INSTRUCCIONES:
                            <br/> (1) Más de 15 productos y/o servicios considerarlos unidades de producción y/o servicios.
                            <br/> -Los productos y/o servicios deberán guardar relación con el Anexo 1A
                            <br/> -La información de la columna 2014, 2015 y 2016 corresponde a los resultados financieros correspondientes
                            a los tres últimos años.
                            <br/> -La columna 2107 contiene información preliminar hasta el último periodo mensual declarado a
                            la SUNAT (PDT 621) del ejercicio vigente (especificar mes y año).
                            <br/>
                        </p>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="observacion == 1">
                <div class="row">
                    <div class="col">
                        <textarea class="form-control" rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsForm">{{obsForm}}</textarea>
                    </div>
                </div>
            </ng-container>
            <div class="row">
                <div class="col-12 text-sm-right">
                    <a (click)="verControlInformacion()" class="btn btn-sm m-1 btn-success">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                    <a (click)="guardarFormulario()" class="btn btn-sm m-1 btn-secondary">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


<p-dialog [(visible)]="display" modal="modal" width="600" [responsive]="true">
    <p-header>
        Registros de Registro de Ventas Netos U Operación
    </p-header>
    <p>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Producto y/o Servicio:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="volumen.producto">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Unidad de Medida:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="volumen.unidadMedida">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>Montos</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Año {{anios[0]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="volumen.anioAvolumen">
                            </div>
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Año {{anios[1]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="volumen.anioBvolumen">
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Año {{anios[2]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="volumen.anioCvolumen">
                            </div>
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Año {{anios[3]}}</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="volumen.anioDvolumen">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModal()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModal()">Añadir</button>
    </p-footer>
</p-dialog>