<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
  <div class="row">
    <div class="col" style="text-align:center;">
      <h5 class="title">FORMULARIO Nº 1</h5>
      <h5 class="title">ESTADO DE RESULTADOS(*)</h5>
      <h6 class="title">(Soles)</h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card card-mtpe mb-3">
        <form [formGroup]="formGroup">
          <div class="card-body">
            <p>INGRESOS DE VENTAS NETOS U OPERACIÓN</p>
            <table class="table table-responsive table-bordered table-hover cabecera">
              <thead>
                <tr>
                  <td class="concepto">Concepto</td>
                  <ng-container *ngFor="let a of anios">
                    <td>{{a}}</td>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="concepto">{{formulario.listaTotalIngresos.descripcion}}</td>
                  <ng-container *ngFor="let comp of formulario.listaTotalIngresos.componentes; let j = index">
                    <td>
                      <input type="text" [disabled]="observacion == 1" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                        name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalIngresos($event)" (keypress)="keyPress($event)"
                        maxlength="6">
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
            <p>COSTOS DE VENTAS U OPERACIÓN</p>
            <p>&nbsp;I. EMPRESAS DE PRODUCCIÓN (1)</p>
            <table class="table table-responsive table-bordered table-hover cabecera">
              <thead>
                <tr>
                  <td class="concepto">Concepto</td>
                  <ng-container *ngFor="let a of anios">
                    <td>{{a}}</td>
                  </ng-container>
                </tr>
              </thead>
              <tbody>

                <ng-container *ngFor="let lista of formulario.listaEmpresaProduccion; let k = index; let total = count">
                  <tr>
                    <td class="concepto">{{lista.descripcion}}</td>
                    <ng-container *ngFor="let comp of lista.componentes">
                      <ng-container *ngIf="k < (total - 1)">
                        <td>
                          <input type="text" [disabled]="observacion == 1" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                            name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" (keyup)="subtotalEmpresaProduccion($event)"
                            (keypress)="keyPress($event)" maxlength="6">
                        </td>
                      </ng-container>
                      <ng-container *ngIf="k === (total - 1)">
                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                      </ng-container>
                    </ng-container>
                  </tr>
                </ng-container>
              </tbody>
            </table>

            <p class="col">&nbsp;II. EMPRESAS DE SERVICIOS O COMERCIALIZADORA (1)
              <ng-container *ngIf="observacion == 0">
                <a (click)="mostrarDialog()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                  <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
              </ng-container>
            </p>

            <table class="table table-responsive table-bordered table-hover cabecera">
              <thead>
                <tr>
                  <td class="concepto">Concepto</td>
                  <ng-container *ngFor="let a of anios">
                    <td>{{a}}</td>
                  </ng-container>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let lista of formulario.listaEmpresaServicios;">
                  <tr style="height:28px;">
                    <td class="dinamico">{{lista.descripcion}}</td>
                    <ng-container *ngFor="let comp of lista.componentes">
                      <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                    </ng-container>
                    <td style="text-align: center;width: 10%">
                      <a [routerLink]="" (click)="editarComponente(lista)" class="btn btn-sm btn-warning">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                      <a [routerLink]="" (click)="eliminarComponente(lista)" class="btn btn-sm btn-danger">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td class="dinamico">{{formulario.totalServicios.descripcion}}</td>
                  <ng-container *ngFor="let comp of formulario.totalServicios.componentes">
                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                  </ng-container>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <table class="table table-responsive table-bordered table-hover">
              <tbody>
                <tr>
                  <td class="concepto">{{formulario.totalCostos.descripcion}}</td>
                  <ng-container *ngFor="let comp of formulario.totalCostos.componentes">
                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                  </ng-container>
                </tr>
                <tr>
                  <td class="concepto">{{formulario.utilidadBrutaCostos.descripcion}}</td>
                  <ng-container *ngFor="let comp of formulario.utilidadBrutaCostos.componentes">
                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>

            <p>GASTOS OPERATIVOS</p>
            <table class="table table-responsive table-bordered table-hover cabecera">
              <thead>
                <tr>
                  <td class="concepto">Concepto</td>
                  <ng-container *ngFor="let a of anios">
                    <td>{{a}}</td>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let lista of formulario.listaGastosOperativos1;">
                  <tr>
                    <td class="concepto">{{lista.descripcion}}</td>
                    <ng-container *ngFor="let comp of lista.componentes">
                      <td>
                        <input type="text" [disabled]="observacion == 1" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                          name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" maxlength="6" (keyup)="subtotalGastosOperativos1($event)"
                          (keypress)="keyPress($event)">
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </tbody>
            </table>

            <table class="table table-responsive table-bordered table-hover">
              <tbody>
                <tr>
                  <td class="concepto">{{formulario.totalGastos.descripcion}}</td>
                  <ng-container *ngFor="let comp of formulario.totalGastos.componentes">
                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                  </ng-container>
                </tr>
                <tr>
                  <td class="concepto">{{formulario.utilidadOperativa.descripcion}}</td>
                  <ng-container *ngFor="let comp of formulario.utilidadOperativa.componentes">
                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>

            <table class="table table-responsive table-bordered table-hover cabecera">
              <thead>
                <tr>
                  <td class="concepto">Concepto</td>
                  <ng-container *ngFor="let a of anios">
                    <td>{{a}}</td>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let lista of formulario.listaGastosOperativos2; let k = index; let total = count">
                  <tr>
                    <td class="concepto">{{lista.descripcion}}</td>
                    <ng-container *ngFor="let comp of lista.componentes">
                      <ng-container *ngIf="k < (total - 1)">
                        <td>
                          <input type="text" [disabled]="observacion == 1" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                            name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" maxlength="6" (keyup)="subtotalGastosOperativos2($event)"
                            (keypress)="keyPress($event)">
                        </td>
                      </ng-container>
                      <ng-container *ngIf="k === (total - 1)">
                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                      </ng-container>
                    </ng-container>
                  </tr>
                </ng-container>
              </tbody>
            </table>

            <table class="table table-responsive table-bordered table-hover">
              <tbody>
                <tr>
                  <td class="concepto">{{formulario.utilidadAntParti.descripcion}}</td>
                  <ng-container *ngFor="let comp of formulario.utilidadAntParti.componentes">
                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>

            <table class="table table-responsive table-bordered table-hover cabecera">
              <thead>
                <tr>
                  <td class="concepto">Concepto</td>
                  <ng-container *ngFor="let a of anios">
                    <td>{{a}}</td>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let lista of formulario.listaParticipacion;">
                  <tr>
                    <td class="concepto">{{lista.descripcion}}</td>
                    <ng-container *ngFor="let comp of lista.componentes">
                      <td>
                        <input type="text" [disabled]="observacion == 1" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                          name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" maxlength="6" (keyup)="participacionTrabajadores($event)"
                          (keypress)="keyPress($event)">
                      </td>
                  </tr>
                  </ng-container>
              </tbody>
            </table>

            <table class="table table-responsive table-bordered table-hover">
              <tbody>
                <tr>
                  <td class="concepto">{{formulario.utilidadAntImp.descripcion}}</td>
                  <ng-container *ngFor="let comp of formulario.utilidadAntImp.componentes">
                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>

            <table class="table table-responsive table-bordered table-hover cabecera">
              <thead>
                <tr>
                  <td class="concepto">Concepto</td>
                  <ng-container *ngFor="let a of anios">
                    <td>{{a}}</td>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let lista of formulario.listaImpuestoRenta;">
                  <tr>
                    <td class="concepto">{{lista.descripcion}}</td>
                    <ng-container *ngFor="let comp of lista.componentes">
                      <td>
                        <input type="text" [disabled]="observacion == 1" [formControl]="formGroup.controls[comp.codigo]" class="form-control form-control-sm text-lg-right"
                          name="" id="{{comp.codigo}}" value="{{comp.cantidad}}" maxlength="6" (keyup)="impuestoRenta($event)"
                          (keypress)="keyPress($event)">
                      </td>
                  </tr>
                  </ng-container>
              </tbody>
            </table>

            <table class="table table-responsive table-bordered table-hover">
              <tbody>
                <tr>
                  <td class="concepto">{{formulario.utilidadEjercicio.descripcion}}</td>
                  <ng-container *ngFor="let comp of formulario.utilidadEjercicio.componentes">
                    <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>

            <div style="font-size:9pt;">
              <p>(*) También denominado Estado de Ganancias y Pérdidas</p>
              <br/>

              <p>
                INSTRUCCIONES:
                <br/> -La información de la columna 2014, 2015 y 2016 corresponde a los resultados financieros de los tres últimos
                años.
                <br/> -La columna 2017 contiene información preliminar hasta el último periodo mensual declarado a la SUNAT (PDT
                621) del ejercicio vigente (especificar mes y año).
                <br/> -La columna 2014, 2015 y 2016 se debe llenar con la información de la Declaración del Pago Anual por el
                Impuesto a la Renta Tercera Categoría presentada a la SUNAT.
                <br/> (1) Completar las cuentas correspondientes según el tipo de actividad económica que realice la empresa (Extractivas,
                Productoras, Construcción, Servicios o Comercializadoras, entre otras) respectivamente.
                <br/> (2) Desagregar la información en el Anexo 1 C.
                <br/> (3) Desagregar la información en el Anexo 1 D.
                <br/>
              </p>
            </div>
          </div>
        </form>
      </div>
      <ng-container *ngIf="observacion == 1">
        <div class="row">
          <div class="col">
            <textarea class="form-control" rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsForm">{{obsForm}}</textarea>
          </div>
        </div>
      </ng-container>
      <div class="row">
        <div class="col-12 text-sm-right">
          <a (click)="verControlInformacion()" class="btn btn-sm m-1 btn-success">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
          <a (click)="guardarFormulario()" class="btn btn-sm m-1 btn-secondary">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="display" modal="modal" width="600" [responsive]="true">
  <p-header>
    Registros de Empresas de Servicios o Comercializadora
  </p-header>
  <p>

    <div class="modal-body">
      <div class="row">
        <div class="col-md mb-2">
          <label for="inpDireccion" class="col-form-label col-form-label-sm">Concepto:</label>
          <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="200" [(ngModel)]="empresaServicio.concepto">
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <fieldset>
            <legend>Montos</legend>
            <div class="row">
              <div class="col">
                <label for="" class="col-form-label col-form-label-sm">Año {{anios[0]}}</label>
              </div>
              <div class="col">
                <input type="number" class="form-control form-control-sm" placeholder="" [(ngModel)]="empresaServicio.anioA">
              </div>
              <div class="col">
                <label for="" class="col-form-label col-form-label-sm">Año {{anios[1]}}</label>
              </div>
              <div class="col">
                <input type="number" class="form-control form-control-sm" placeholder="" [(ngModel)]="empresaServicio.anioB">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col">
                <label for="" class="col-form-label col-form-label-sm">Año {{anios[2]}}</label>
              </div>
              <div class="col">
                <input type="number" class="form-control form-control-sm" placeholder="" [(ngModel)]="empresaServicio.anioC">
              </div>
              <div class="col">
                <label for="" class="col-form-label col-form-label-sm">Año {{anios[3]}}</label>
              </div>
              <div class="col">
                <input type="number" class="form-control form-control-sm" placeholder="" [(ngModel)]="empresaServicio.anioD">
              </div>
            </div>
          </fieldset>
        </div>
      </div>
  </p>
  <p-messages [(value)]="messagesForm"></p-messages>
  <p-footer class="text-sm-right">
    <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModal()">Cancelar</button>
    <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModal()">Añadir</button>
  </p-footer>
</p-dialog>