<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">ANEXO 1C</h5>
            <h5 class="title">MATERIA PRIMA CONSUMIDA EN EL PROCESO DE PRODUCCIÓN</h5>
            <h6 class="title">(Soles)</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-body">
                    <p>&nbsp; Nacional
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogMPNacional()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td rowspan="2">Descripción(2)</td>
                                <td rowspan="2">Unidad de Medida</td>
                                <ng-container *ngFor="let anio of anios">
                                    <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">{{anio}}</td>
                                </ng-container>
                                <td rowspan="2">Acción</td>
                            </tr>
                            <tr style="font-size:7.5pt;">
                                <ng-container *ngFor="let a of anios">
                                    <td>Cantidad Consumida</td>
                                    <td>Precio Promedio de Compra</td>
                                    <td style="border-right: 1px white solid;">Costo Total(1)</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaMPNacional;">
                                <tr>
                                    <td>{{lista.descripcion}}</td>
                                    <td>{{lista.unidadmedida}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes;">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteMPNacional(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteMPNacional(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td>SUBTOTAL</td>
                                <td></td>
                                <ng-container *ngFor="let lista of formulario.subtotalMPNacional;">
                                    <ng-container *ngFor="let comp of lista.componentes;">
                                        <td colspan="3" class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>&nbsp; Importada
                        <ng-container *ngIf="observacion == 0">
                            <a (click)="mostrarDialogMPImportada()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                        </ng-container>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td rowspan="2">Descripción(2)</td>
                                <td rowspan="2">Unidad de Medida</td>
                                <ng-container *ngFor="let anio of anios">
                                    <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">{{anio}}</td>
                                </ng-container>
                                <td rowspan="2">Acción</td>
                            </tr>
                            <tr style="font-size:7.5pt;">
                                <ng-container *ngFor="let a of anios">
                                    <td>Cantidad Consumida</td>
                                    <td>Precio Promedio de Compra</td>
                                    <td style="border-right: 1px white solid;">Costo Total(1)</td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let lista of formulario.listaMPImportada;">
                                <tr>
                                    <td>{{lista.descripcion}}</td>
                                    <td>{{lista.unidadmedida}}</td>
                                    <ng-container *ngFor="let comp of lista.componentes;">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                    <td style="text-align: center;width: 10%">
                                        <a [routerLink]="" (click)="editarComponenteMPImportada(lista)" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a [routerLink]="" (click)="eliminarComponenteMPImportada(lista)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td>SUBTOTAL</td>
                                <td></td>
                                <ng-container *ngFor="let lista of formulario.subtotalMPImportada;">
                                    <ng-container *ngFor="let comp of lista.componentes;">
                                        <td colspan="3" class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                </ng-container>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-bordered table-hover">

                        <tbody>
                            <tr>
                                <td class="concepto" style="width:150px">
                                    <strong>COSTOS TOTAL (3)</strong>
                                </td>
                                <ng-container *ngFor="let lista of formulario.ingresoTotalMP;">
                                    <ng-container *ngFor="let comp of lista.componentes;">
                                        <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                                    </ng-container>
                                </ng-container>
                                <td style="width: 10%"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">GASTOS DE FABRICACIÓN</h5>
            <h6 class="title">(Soles)</h6>
        </div>
    </div>
    <div class="card card-mtpe mb-3">
        <div class="card-body">
            <p>
                <ng-container *ngIf="observacion == 0">
                    <a (click)="mostrarDialogGastosFinancieros()" class="btn btn-sm btn-dark" style="float:right;color:white;">
                        <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                </ng-container>
            </p>
            </p>
            <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                    <tr style="font-size:8.5pt;">
                        <td rowspan="2">Descripción(2)</td>
                        <td rowspan="2">Unidad de Medida</td>
                        <ng-container *ngFor="let anio of anios">
                            <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">{{anio}}</td>
                        </ng-container>
                        <td rowspan="2">Acción</td>
                    </tr>
                    <tr style="font-size:7.5pt;">
                        <ng-container *ngFor="let a of anios">
                            <td>Cantidad o Servicio Consumido</td>
                            <td>Costo Promedio Unitario</td>
                            <td style="border-right: 1px white solid;">Costo Total(1)</td>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let lista of formulario.listaGastosFinancieros;">
                        <tr>
                            <td>{{lista.descripcion}}</td>
                            <td>{{lista.unidadmedida}}</td>
                            <ng-container *ngFor="let comp of lista.componentes;">
                                <td class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                            </ng-container>
                            <td style="text-align: center;width: 10%">
                                <a [routerLink]="" (click)="editarComponenteGastosFinancieros(lista)" class="btn btn-sm btn-warning">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a [routerLink]="" (click)="eliminarComponenteGastosFinancieros(lista)" class="btn btn-sm btn-danger">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <tr>
                        <td>COSTOS TOTAL (3)</td>
                        <td></td>
                        <ng-container *ngFor="let lista of formulario.subtotalGastosFinancieros;">
                            <ng-container *ngFor="let comp of lista.componentes;">
                                <td colspan="3" class="text-right" style="padding-right: 20px!important;">{{comp.cantidad}}</td>
                            </ng-container>
                        </ng-container>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="font-size:9pt;padding:5px;">
            <br/>


            <p>
                INSTRUCCIONES:
                <br/> -La información de la columna 2014, 2015 y 2016 corresponde a los resultados financieros correspondientes
                a los tres últimos años.
                <br/> -La columna 2017 contiene información preliminar hasta el último periodo mensual declarado a la SUNAT (PDT
                621) del ejercicio vigente (especificar mes y año).
                <br/> (1) Multiplicar cantidad consumida por el precio promedio de compra o servicio por unidad de medida. Precio
                sin considerar el I.G.V
                <br/> (2) Listar los gastos que forman parte del Costo de Producción y Gastos de Fabricació según sea el cuadro
                respectivo.
                <br/> (3) El total de la columna 2014, 2015, 2016 y 2017 del Costo de Materia Prima y de los Gastos de Fabricación
                debe ser igual a los montos señalados en el Formulario Nº 1.
                <br/>
            </p>
        </div>
    </div>
    <ng-container *ngIf="observacion == 1">
        <div class="row">
            <div class="col">
                <textarea class="form-control" rows="5" placeholder="Observaciones" style="width: 100%; resize: none;" [(ngModel)]="obsForm">{{obsForm}}</textarea>
            </div>
        </div>
    </ng-container>
    <div class="row">
        <div class="col-12 text-sm-right">
            <a (click)="verControlInformacion()" class="btn btn-sm m-1 btn-success">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
            <a (click)="guardarFormulario()" class="btn btn-sm m-1 btn-secondary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
        </div>
    </div>
</div>

</section>

</div>

<p-dialog [(visible)]="displayMPNacional" modal="modal" width="800" [responsive]="true">
    <p-header>
        Registro de Materia Prima Nacional consumida en el Proceso de Producción
    </p-header>
    <p>

        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Producto y/o Servicio:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="ventasMPNacionales.producto">
                </div>
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Unidad de Medida:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="ventasMPNacionales.unidadMedida">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>{{anios[0]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasMPNacionales.anioAvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasMPNacionales.anioApromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset>
                        <legend>{{anios[1]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasMPNacionales.anioBvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasMPNacionales.anioBpromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>{{anios[2]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasMPNacionales.anioCvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasMPNacionales.anioCpromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset>
                        <legend>{{anios[3]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasMPNacionales.anioDvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasMPNacionales.anioDpromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalMPNacional()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalMPNacional()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayMPImportada" modal="modal" width="800" [responsive]="true">
    <p-header>
        Registro de Materia Prima Importada consumida en el Proceso de Producción
    </p-header>
    <p>

        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Producto y/o Servicio:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="ventasMPImportadas.producto">
                </div>
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Unidad de Medida:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="ventasMPImportadas.unidadMedida">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>{{anios[0]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasMPImportadas.anioAvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasMPImportadas.anioApromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset>
                        <legend>{{anios[1]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasMPImportadas.anioBvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasMPImportadas.anioBpromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>{{anios[2]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasMPImportadas.anioCvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasMPImportadas.anioCpromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset>
                        <legend>{{anios[3]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasMPImportadas.anioDvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasMPImportadas.anioDpromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalMPImportada()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalMPImportada()">Añadir</button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayGastosFinancieros" modal="modal" width="800" [responsive]="true">
    <p-header>
        Registro de Gastos de Fabricacion
    </p-header>
    <p>

        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Producto y/o Servicio:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="ventasGastosFinancieros.producto">
                </div>
                <div class="col">
                    <label for="inpDireccion" class="col-form-label col-form-label-sm">Unidad de Medida:</label>
                    <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" [(ngModel)]="ventasGastosFinancieros.unidadMedida">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>{{anios[0]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasGastosFinancieros.anioAvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasGastosFinancieros.anioApromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset>
                        <legend>{{anios[1]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasGastosFinancieros.anioBvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasGastosFinancieros.anioBpromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>{{anios[2]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasGastosFinancieros.anioCvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasGastosFinancieros.anioCpromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset>
                        <legend>{{anios[3]}}</legend>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Volumen fisico de ventas y/o servicios:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" min="0"
                                    max="999999" [(ngModel)]="ventasGastosFinancieros.anioDvolumenfisico">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio promedio de ventas o valor unitario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="inpDireccion" maxlength="6" (keypress)="keyPress($event)" [(ngModel)]="ventasGastosFinancieros.anioDpromedio">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </p>
    <p-messages [(value)]="messagesForm"></p-messages>
    <p-footer class="text-sm-right">
        <button class="btn btn-sm m-1 btn-success" icon="fa-check" (click)="cancelarModalGastosFinancieros()">Cancelar</button>
        <button class="btn btn-sm m-1 btn-secondary" icon="fa-close" (click)="guardarModalGastosFinancieros()">Añadir</button>
    </p-footer>
</p-dialog>