<form role="form" novalidate>
    <div class="modal-header">
        <h5 class="modal-title" id="titleReg">Registros laborales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="btnCancelar()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-info" role="alert">
            <div class="row">
                <div class="col"><i class="fa fa-id-card" aria-hidden="true"></i> {{listaDatlab[0].datolab.trabajador.pernatural.vNumdoc}}</div>
                <div class="col"><i class="fa fa-user" aria-hidden="true"></i> {{nomCompleto}}</div>
            </div>
        </div>
        <!--p>Seleccione el registro</p-->
        <p-dataTable [(selection)]="selecDatLab" [value]="listaDatlab" selectionMode="single" scrollable="true" scrollHeight="220px" dataKey="datolab.id">
            <p-header>Vinculos Laborales Registrados</p-header>
            <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                <ng-template let-i="rowIndex" pTemplate="body">
                    <span style="text-align:center">{{i+1}}</span>
                </ng-template>
            </p-column>
            <p-column field="datolab.dFecvincul" header="Fecha inicio"></p-column>
            <p-column field="datolab.empleador.perjuridica.vRazsocial" header="Empleador"></p-column>
            <p-column field="datolab.dFeccese" header="Fecha cese"></p-column>
            <p-column field="datolab.regimenlab.vDesreglab" header="Regimen Laboral"></p-column>
            <p-column field="datolab.motcese.vDesmotces" header="Motivo Cese"></p-column>
            <p-column field="datolab.modcontrato.vDesmodcon" header="Modalidad de Contrato"></p-column>
            <ng-template pTemplate="emptymessage">
              No se han encontrado registros
            </ng-template>
        </p-dataTable>
    </div>
    <div class="card-footer text-center">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" (click)="btnCancelar()">
          <span class="fa fa-ban" aria-hidden="true"></span>&nbsp;
          <span>Cancelar</span>
        </button>
        <button type="button" class="btn btn-sm btn-info" data-dismiss="modal" (click)="btnNuevo($event)">
          <span class="fa fa-plus" aria-hidden="true"></span>&nbsp;
          <span>Nuevo</span>
        </button>
        <button [disabled]="!selecDatLab.datolab" type="button" class="btn btn-sm btn-success" data-dismiss="modal" (click)="btnCargar($event)">
          <i class="fa fa-cloud-download" aria-hidden="true"></i>&nbsp;
          <span>Cargar</span>
        </button>
    </div>
</form>
