<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 p-2">
    <div class="row">
        <div class="col">
            <h4 class="title">Registros de atención</h4>
        </div>
    </div>
    <p-growl [(value)]="messages"></p-growl>
    <div class="row">
        <div class="col">
            <div class="card card-panel mb-3">
                <div class="card-body">
                    <div class="row no-gutters y-steps">
                        <div class="col d-flex justify-content-center y-step active">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <div class="btn-y">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="text-center mb-0">Datos del trabajador</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Busca y completa los datos del empleador que viene a consultar</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <div class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-database" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="text-center mb-0">Datos del Empleador</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Ingreso los principales datos del empleador del trabajador en cuestion</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <div class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="text-center mb-0">Datos laborales</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Detalla los vínculos laborales que existen entre el empleador y el trabajador</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                    <h5 class="mb-0"><small><i class="fa fa-user-plus px-2" aria-hidden="true"></i> Registro de atención</small></h5>
                    <h5 class="mb-0"><small>Paso 1 de 3</small></h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="formBusquedaTrabajador" (ngSubmit)="buscarTrabajador(formBusquedaTrabajador.controls['documento'].controls['tipDoc'].value, formBusquedaTrabajador.controls['documento'].controls['numDoc'].value)" novalidate="novalidate">
                        <div class="form-row" formGroupName="documento">
                            <div class="col-lg-5">
                                <div class="form-group row" [ngClass]="{'has-danger': !formBusquedaTrabajador.controls['documento'].controls['tipDoc'].valid && formBusquedaTrabajador.get('documento.tipDoc').touched}">
                                    <label for="inpTipo" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Tipo de documento</label>
                                    <div class="col-sm-7">
                                        <select class="form-control form-control-sm" id="inpTipo" formControlName="tipDoc" ngModel name="tipDoc" (change)="cambioComboBusquedaTrabajador(formBusquedaTrabajador)">
                                          <option value="">Seleccione un Documento</option>
                                          <option value="1">DNI</option>
                                          <option value="3">CARNET. EXTR.</option>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="formBusquedaTrabajador.get('documento.tipDoc').errors?.required && formBusquedaTrabajador.get('documento.tipDoc').touched" class="alert alert-danger form-control-sm" role="alert">
                                  Requerido el tipo de documento.
                                </div>
                            </div>
                            <div *ngIf="!formBusquedaTrabajador.get('documento.tipDoc').errors?.required" class="col-lg-4">
                                <div class="form-group row" [ngClass]="{'has-danger': !formBusquedaTrabajador.controls['documento'].controls['numDoc'].valid && formBusquedaTrabajador.get('documento.numDoc').touched}">
                                    <label for="inpNumero" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Número</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control form-control-sm" id="inpNumero" placeholder="" formControlName="numDoc" (change)="cambioInputBusquedaTrabajador(formBusquedaTrabajador)">
                                    </div>
                                </div>
                                <div *ngIf="formBusquedaTrabajador.get('documento.numDoc').errors?.required && formBusquedaTrabajador.get('documento.numDoc').touched" class="alert alert-danger form-control-sm" role="alert">
                                  Requerido el numero de documento.
                                </div>
                                <div *ngIf="formBusquedaTrabajador.get('documento.numDoc').errors?.pattern && formBusquedaTrabajador.get('documento.numDoc').touched" class="alert alert-danger form-control-sm" role="alert">
                                  El campo debe ser numerico.
                                </div>
                                <div *ngIf="formBusquedaTrabajador.get('documento.numDoc').errors?.minlength && formBusquedaTrabajador.get('documento.numDoc').touched" class="alert alert-danger form-control-sm" role="alert">
                                  Debe tener como minimo {{formBusquedaTrabajador.get('documento.numDoc').errors.minlength.requiredLength}} digitos.
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                      <button [disabled]="!formBusquedaTrabajador.valid" type="submit" class="btn btn-sm btn-secondary"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form *ngIf="showFormularioDatosTrabajador == true" [formGroup]="formDatosTrabajador" (ngSubmit)="btnSiguiente(formDatosTrabajador)">
                        <div class="row">
                            <div class="col-md-2 mb-2">
                                <label for="inpAP" class="col-form-label col-form-label-sm">Apellido Paterno:</label>
                                <input type="text" class="form-control form-control-sm" id="inpAP" formControlName="apePat" placeholder="" value="">
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="inpAM" class="col-form-label col-form-label-sm">Apellido Materno:</label>
                                <input type="text" class="form-control form-control-sm" id="inpAM" formControlName="apeMat" placeholder="" value="">
                            </div>
                            <div class="col-md-3 mb-2">
                                <label for="inpN" class="col-form-label col-form-label-sm">Nombres:</label>
                                <input type="text" class="form-control form-control-sm" id="inpN" formControlName="nombres" placeholder="" value="">
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="inpN" class="col-form-label col-form-label-sm">Sucesion Intestada:</label>
                                <div class="col-sm-7 col-md-7">
                                    <div class="input-group">
                                        <div id="radioBtn" class="btn-group">
                                            <a class="btn btn-dark btn-sm" [ngClass]="{ active: sucesion == true, notActive: sucesion == false}" data-title="Y" (click)="btnSucesion(true)">SI</a>
                                            <a class="btn btn-dark btn-sm" [ngClass]="{ active: sucesion == false, notActive: sucesion == true}" data-title="N" (click)="btnSucesion(false)">NO</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="sucesion == true" class="col-md-3 mb-2">
                                <label for="inpPartida" class="col-form-label col-form-label-sm">N° Partida de Sucesión Intersada:</label>
                                <input type="text" class="form-control form-control-sm" id="inpPartida" formControlName="numPartSuc" placeholder="" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mb-2">
                                <label for="inpFec" class="col-form-label col-form-label-sm">Fecha de Nacimiento:</label>
                                <p-calendar [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"  formControlName="fecNac" showIcon="true"></p-calendar>
                                <!--input type="text" class="form-control form-control-sm" id="inpFec" formControlName="fecNac" placeholder="" value=""-->
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="selectSexo" class="col-form-label col-form-label-sm">Sexo:</label>
                                <select class="form-control form-control-sm" id="selectSexo" formControlName="sexo">
                                  <option value="M">MASCULINO</option>
                                  <option value="F">FEMENINO</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-2">
                            </div>
                            <div class="col-md-5 mb-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="inpTele" class="col-form-label col-form-label-sm">Telefono:</label>
                                        <input type="text" class="form-control form-control-sm" id="inpTele" formControlName="numTel" placeholder="" value="">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inpCel" class="col-form-label col-form-label-sm">Celular:</label>
                                        <input type="text" class="form-control form-control-sm" id="inpCel" formControlName="numCel" placeholder="" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-7">
                                <label for="" class="col-form-label col-form-label-sm">Direcciones:</label>
                                <p-dataTable #dtDirecciones [value]="modelDireccionesPerNat" [scrollable]="true" scrollHeight="100px" selectionMode="single" (onRowSelect)="eventodireccionSeleccionada($event)" [(selection)]="selecDirper"  dataKey="direc.id">
              									    <p-column [style]="{'width':'35px', 'text-align':'center'}" header="#">
              									    	<ng-template let-i="rowIndex" pTemplate="body">
              									    		<span style="text-align:center">{{i+1}}</span>
              									    	</ng-template>
              									    </p-column>
              									    <p-column field="dpto" header="Depto."></p-column>
              									    <p-column field="prov" header="Provincia"></p-column>
              									    <p-column field="dist" header="Distrito"></p-column>
              									    <p-column field="vDircomple" [style]="{'text-align':'left'}" header="Dirección"></p-column>
                                    <p-column [style]="{'width':'35px'}" styleClass="text-center">
                                        <ng-template let-i="rowIndex" pTemplate="body">
                                            <button pButton class="ui-button-danger" icon="fa-trash-o" type="button" (click)="btnEliminarDireccion(i,dtDirecciones)"></button>
                                        </ng-template>
                                    </p-column>
                                    <ng-template pTemplate="emptymessage">
                                        No se han encontrado registros
                                    </ng-template>
                                    <p-footer><div class="ui-helper-clearfix" style="width:100%">
                                        <button type="button" class="btn btn-sm btn-primary" pButton icon="fa-plus" style="float:left" (click)="btnAnadirDireccion()" label="Añadir Dirección"></button></div>
                                    </p-footer>
                                </p-dataTable>
                                <p-dialog [width]="500" header="Dirección:" [(visible)]="popupDirecion" (onHide)="cerrarPopupDireccion()" [draggable]="false" [responsive]="true" showEffect="fade" [modal]="true">
                                    <form [formGroup]="formPopupDireccion" role="form" novalidate (ngSubmit)="anadirDireccion()">
                                        <div class="ui-grid ui-grid-responsive ui-fluid" style="height:160px;">
                                            <div class="ui-grid-row form-group mb-2">
                                                <div class="ui-grid-col-4"><label for="">Departamento</label></div>
                                                <div class="ui-grid-col-8">
                                                    <select required class="form-control form-control-sm" formControlName="departamento" name="departamento" ngModel (change)="cargarListaComboProvincia($event.target.value)">
                                                        <option value="">Seleccione un Departamento</option>
                                                        <option *ngFor="let departamento of departs" [value]="departamento.vCoddep">{{departamento.vDesdep}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="ui-grid-row form-group mb-2">
                                                <hr>
                                                <div class="ui-grid-col-4"><label for="dirper.nCodprov">Provincia</label></div>
                                                <div class="ui-grid-col-8">
                                                  <select required class="form-control form-control-sm" formControlName="provincia" name="provincia" ngModel (change)="cargarListaComboDistrito($event.target.value)">
                                                      <option value="">Seleccione una Provincia</option>
                                                      <option *ngFor="let provincia of provins" [value]="provincia.vCodpro">{{provincia.vDespro}}</option>
                                                  </select>
                                                </div>
                                            </div>
                                            <div class="ui-grid-row form-group mb-2">
                                                <div class="ui-grid-col-4"><label for="dirper.nCoddist">Distrito</label></div>
                                                <div class="ui-grid-col-8">
                                                  <select required class="form-control form-control-sm" formControlName="distrito" name="distrito" ngModel>
                                                      <option value="">Seleccione un Distrito</option>
                                                      <option *ngFor="let distrito of distris" [value]="distrito.vCoddis">{{distrito.vDesdis}}</option>
                                                  </select>
                                                </div>
                                            </div>
                                            <div class="ui-grid-row form-group mb-2">
                                                <div class="ui-grid-col-4"><label for="">Dirección</label></div>
                                                <div class="ui-grid-col-8"><input type="text" name="" ngModel class="form-control form-control-sm" formControlName="direccion" id="direccion"/></div>
                                            </div>
                                          </div>
                                        <p-footer>
                                            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                                <button pButton class="ui-button-info" icon="fa-close" type="button" (click)="cerrarPopupDireccion()" label="Cancelar"></button>
                                                <button *ngIf="!newDirec" pButton class="ui-button-danger" icon="fa-trash-o" type="button" (click)="eliminarDireccion()" label="Eliminar"></button>
                                                <button pButton class="ui-button-success" icon="fa-plus" type="submit" label="Añadir"></button>
                                            </div>
                                        </p-footer>
                                    </form>
                                </p-dialog>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col mb-2">
                                        <label for="inpCorreo" class="col-form-label col-form-label-sm">Correo Eléctronico:</label>
                                        <input type="text" class="form-control form-control-sm" id="inpCorreo" formControlName="email" placeholder="" value="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="selectDisca" class="col-form-label col-form-label-sm">Presenta Discapacidad:</label>
                                        <!--select required class="form-control form-control-sm" formControlName="distrito" name="distrito" ngModel>
                                            <option value="">Seleccione un Distrito</option>
                                            <option *ngFor="let distrito of distris" [value]="distrito.vCoddis">{{distrito.vDesdis}}</option>
                                        </select-->
                                        <select class="form-control form-control-sm" id="selectDisca" formControlName="discap" ngModel>
                                          <option value="">Ninguna</option>
                                        </select>
                                    </div>
                                    <div  *ngIf="formDatosTrabajador.get('sexo').value == 'F'" class="col-md-6">
                                        <label for="selectEmba" class="col-form-label col-form-label-sm">Presenta Embarazo:</label>
                                        <select class="form-control form-control-sm" id="selectEmba" formControlName="embarazo" ngModel>
                                          <!--Por default habria que poner -0 en el set-<option value="">Seleccione una Opcion</option-->
                                          <option value="0">No</option>
                                          <option value="1">Si</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-sm-right">
                                <a href="#" class="btn btn-sm m-1 btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Terminar atención</a>
                                <a href="#" class="btn btn-sm m-1 btn-warning"><i class="fa fa-exchange" aria-hidden="true"></i> Generar pase</a>
                                <button type="submit" class="btn btn-sm m-1 btn-success">
                                  <span class="fa fa-chevron-right" aria-hidden="true"></span>&nbsp;
                                  <span>Siguiente</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet name="popupexp"></router-outlet>
