<p-blockUI [blocked]="block"></p-blockUI>
<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col">
            <h4 class="title">Consulta solicitud</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                    <h5 class="mb-0">
                        <small>Listado de solicitud</small>
                    </h5>
                </div>
                <div class="card-body">
                    <p class="text-right">
                        <strong>Empleador: </strong>BBVA BANCO CONTINENTAL</p>
                    <table class="table table-responsive table-bordered table-hover" id="Csolicitud">
                        <thead style="text-align: center;">
                            <tr>
                                <th>N°</th>
                                <th>Fecha</th>
                                <th>Solicitante</th>
                                <th>Empleador</th>
                                <th>Sindicato</th>
                                <th>Árbitro</th>
                                <th>Voucher</th>
                                <th>Estado</th>
                                <th>Documento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let solicitud of solicituds; let i = index">
                                <tr [ngClass]="{enviado: solicitud.nFlgestado == 4, observado: solicitud.nFlgestado == 5, conforme: solicitud.nFlgestado == 6}">
                                    <td>
                                        <span>{{i+1}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.tFecsolic | date:'dd/MM/yyyy'}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vSolicita}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vEmpleador}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vSindicato}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vArbitro}}</span>
                                    </td>
                                    <td>
                                        <span>{{solicitud.vVoucher}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="solicitud.nFlgestado == 0">
                                            PENDIENTE
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 1">
                                            <a (click)="showDialog(solicitud)" [routerLink]="">NOTIFICADO</a>
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 4">
                                            ENVIADO
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 5 && solicitud.vVoucher == null">
                                            <a (click)="verControlInformacion(solicitud)" [routerLink]="">OBSERVADO</a>
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 8 && solicitud.vVoucher == null">
                                            <a (click)="verControlInformacion(solicitud)" [routerLink]="">TARDANZA</a>
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 6">
                                            <span>CONFORME</span>
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 2 && solicitud.vVoucher != null">
                                            <a (click)="verControlInformacion(solicitud)" [routerLink]="">EN PLAZO</a>
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 3 && solicitud.vVoucher != null">
                                            <a (click)="verControlInformacion(solicitud)" [routerLink]="">EN PR&Oacute;RROGA</a>
                                        </span>
                                        <span *ngIf="solicitud.nFlgestado == 7">
                                            DADO DE BAJA
                                        </span>
                                    </td>
                                    <td>
                                        <div *ngIf="solicitud.reporteRes">
                                            <a [routerLink]="['../reporteres', solicitud.reporteRes?.id ]">{{solicitud.reporteRes?.vNombre}}</a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                    <p-dialog *ngIf="solicitud" [(visible)]="display" modal="modal" width="600" [responsive]="true">
                        <p-header>
                            Verificación de Voucher de Pago - Fecha de Solicitud: {{solicitud.tFecsolic | date:'dd/MM/yyyy'}}
                        </p-header>
                        <p>
                            
                            <div class="col-md-10 bg-light m-auto">
                                <p class="mb-0 small">BANCO DE LA NACIÓN</p>
                                <p class="text-right small mb-0">COMPROBANTE DE PAGO</p>
                                <p class="text-right small mb-0">SISTEMA ELECTORAL RENIEC</p>
                                <div class="form-group row mb-2">
                                    <span for="inpNumero" class="col-sm-2">CÓDIGO:</span>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control form-control-sm" maxlength="5" [(ngModel)]="voucher.vCodTrib">
                                    </div>
                                </div>
                                
                                <p class="small mb-0">DUPLICADO DE DNI / DNIe (MAYOR DE 17 AÑOS DE EDAD)</p>
                                <div class="form-group row mb-2">
                                    <p class="col-sm-5">DOCUMENTO: 4 R.U.C NRO: </p>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control form-control-sm" maxlength="15" [(ngModel)]="voucher.vNumDoc">
                                    </div>
                                </div>
                                <p class="small mb-0">CANT.DOC. :0001</p>
                                <div class="form-group row mb-2">
                                    <p class="col-sm-5">MONTO S/. :******</p>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="voucher.nImpComp">
                                    </div>
                                </div>
                                <br/>
                                <table style="text-align: center">
                                    <tbody>
                                        <tr>
                                            <td>049257</td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>21</td>
                                            <td>OCT</td>
                                            <td>2017</td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>9650</td>
                                            <td>0133</td>
                                            <td>0002</td>
                                            <td>09:04:14</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" maxlength="10" [(ngModel)]="voucher.vCodComp">
                                            </td>
                                            <td> </td>
                                            <td colspan="3">
                                                <input type="date" class="form-control form-control-sm"  [(ngModel)]="voucher.vFecComp">
                                            </td>
                                            <td>&nbsp;&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" maxlength="4" [(ngModel)]="voucher.vCodCaj">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" maxlength="4" [(ngModel)]="voucher.vCodOfc">
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </br>
                                <p class="small mb-0 text-md-right">********************* CLIENTE</p>
                                <p class="small mb-0">013300045</p>
                            </div>
                            <br/>
                            <div>
                                <p style="text-align: center;font-size: 12pt;">{{mensaje}}</p>
                            </div>
                        </p>
                        <p-footer>
                            <button type="button" icon="fa-check" (click)="verificarVoucher(solicitud)" label="Yes">Enviar</button>
                            <button type="button" icon="fa-close" (click)="display=false" label="No">Cancelar</button>
                        </p-footer>
                    </p-dialog>

                </div>
            </div>
        </div>
    </div>
</div>