<nav class="row d-flex justify-content-center flex-column">
    <div class="welcome">
        <div class="d-flex align-items-center my-3">
            <div class="perfil-img col-md-3 pr-0">
                <img src="../../../content/images/img.jpg" class="img-fluid img-thumbnail mr-2" alt="">
            </div>
            <div class="perfil-info col-md-9">
                <span class="text-muted">
                    <small>Bienvenido</small>
                </span>
                <br>
                <span class="text-white">{{account.login}}</span>
            </div>
        </div>
    </div>

    <div class="my-2" *ngIf="moduleHijos.length > 0">
        <ng-container *ngFor="let moduleHijo of moduleHijos; let i = index">
            <ul class="level-one p-0" id="accordion">
                <li routerLinkActive="active">
                    <a (click)="changeRoute(moduleHijo.id)" class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                        <i class="fa fa-cubes px-2" aria-hidden="true"></i>
                        <span>{{moduleHijo.nombre}}</span>
                    </a>
                </li>
            </ul>
        </ng-container>
    </div>
    <!--
    <div class="my-2" *ngIf="aplicacion == 'consultas'">
        <ul class="level-one p-0" id="accordion">
            <li routerLinkActive="active">
                <a routerLink="consultas/atencion-trabajador" class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                    <i class="fa fa-cubes px-2" aria-hidden="true"></i>
                    <span>Registro de Atención Trabajador</span>
                </a>
            </li>
        </ul>
        <h3>Consultas Empleador</h3>
        <ul class="level-one p-0" id="accordion">
            <li routerLinkActive="active">
                <a routerLink="consultas/atencion-empleador" class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                    <i class="fa fa-cubes px-2" aria-hidden="true"></i>
                    <span>Registro de Atención Empleador</span>
                </a>
            </li>
        </ul>
    </div> -->
    <!-- PATROCINIO- LEFTBAR -->
    <!--
    <div class="my-2" *ngIf="aplicacion == 'patrocinio'">
        <ngb-accordion #leftAcc="ngbAccordion" destroyOnHide="false" class="level-one mt-2 p-0" id="accordion" activeIds="{{accordionPatrocinio}}"
            [closeOthers]="true">
            <ngb-panel id="{{menuPatrocinio[0]}}">
                <ng-template ngbPanelTitle>
                    <li routerLinkActive="active">
                        <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-address-book-o px-2" aria-hidden="true"></i>
                            <span>Pases/Legajos</span>
                            <span class="fa fa-chevron-down ml-auto"></span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="level-two p-0">
                        <li routerLinkActive="active">
                            <a [routerLink]="['/patrocinio/legajo/registro' , { outlets: { wizard: ['seleccion-legajo'] } }]" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Registro Legajo</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="defensa/expediente/consulta-notificaciones" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Registro Documento</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="defensa/expediente/consulta-notificaciones" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Consulta Legajo</span>
                            </a>
                        </li>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="{{menuPatrocinio[1]}}">
                <ng-template ngbPanelTitle>
                    <li>
                        <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-group px-2" aria-hidden="true"></i>
                            <span>Atenciones</span>
                            <span class="fa fa-chevron-down ml-auto"></span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="level-two p-0">
                        <li routerLinkActive="active">
                            <a routerLink="patrocinio/atencion/legajo" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Registro de Atenciones</span>
                            </a>
                        </li>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="{{menuPatrocinio[2]}}">
                <ng-template ngbPanelTitle>
                    <li routerLinkActive="active">
                        <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-edit px-2" aria-hidden="true"></i>
                            <span>Mantenimiento</span>
                            <span class="fa fa-chevron-down ml-auto"></span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="level-two p-0">
                        <li routerLinkActive="active">
                            <a routerLink="patrocinio/materia" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Materia</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="defensa/mantenimiento/audiencias" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Tipo Documento</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="defensa/mantenimiento/audiencias" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Tipo Resoluci&oacute;n</span>
                            </a>
                        </li>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="{{menuPatrocinio[3]}}">
                <ng-template ngbPanelTitle>
                    <li routerLinkActive="active">
                        <a routerLink="patrocinio/reporte/legajo" class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-print px-2" aria-hidden="true"></i>
                            <span>Reportes</span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    -->

    <!--
    <div class="my-2" *ngIf="aplicacion == 'conciliaciones'">
        <ngb-accordion #leftAcc="ngbAccordion" destroyOnHide="false" class="level-one mt-2 p-0" id="accordion" activeIds="{{accordionConciliaciones}}"
            [closeOthers]="true">
            <ngb-panel id="{{menuConciliaciones[0]}}">
                <ng-template ngbPanelTitle>
                    <li routerLinkActive="active">
                        <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-address-book-o px-2" aria-hidden="true"></i>
                            <span>Expedientes</span>
                            <span class="fa fa-chevron-down ml-auto"></span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="level-two p-0">
                        <li routerLinkActive="active">
                            <a [routerLink]="['/conciliaciones/expediente/registro' , { outlets: { wizard: ['datos-pase'] } }]" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Registro Expedientes</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/conciliaciones/expediente/envio-notificacion' , { outlets: { wizard: ['seleccion-expediente'] } }]" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Registro de Notificaciones</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="conciliaciones/expediente/consulta" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Consulta de Expedientes</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="conciliaciones/expediente/consulta-notificaciones" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Consulta de Notificaciones</span>
                            </a>
                        </li>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="{{menuConciliaciones[1]}}">
                <ng-template ngbPanelTitle>
                    <li>
                        <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-group px-2" aria-hidden="true"></i>
                            <span>Audiencias</span>
                            <span class="fa fa-chevron-down ml-auto"></span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="level-two p-0">
                        <li routerLinkActive="active">
                            <a routerLink="conciliaciones/audiencia/asignacion-abogado" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Asignación de Abogados</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="conciliaciones/audiencia/registrar-resultado" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Resultado de Audiencia</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="conciliaciones/audiencia/reprogramacion" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Reprog. de Audiencia</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="conciliaciones/audiencia/consulta" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Consulta de Audiencias</span>
                            </a>
                        </li>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="{{menuConciliaciones[2]}}">
                <ng-template ngbPanelTitle>
                    <li routerLinkActive="active">
                        <a routerLink="conciliaciones/reportes/conciliaciones" class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-print px-2" aria-hidden="true"></i>
                            <span>Reportes</span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="{{menuConciliaciones[3]}}">
                <ng-template ngbPanelTitle>
                    <li routerLinkActive="active">
                        <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-edit px-2" aria-hidden="true"></i>
                            <span>Mantenmientos</span>
                            <span class="fa fa-chevron-down ml-auto"></span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="level-two p-0">
                        <li routerLinkActive="active">
                            <a routerLink="conciliaciones/mantenimiento/resultados" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Resultados</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="conciliaciones/mantenimiento/abogados" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Abogados</span>
                            </a>
                        </li>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    -->
    <!--
    <div class="my-2" *ngIf="aplicacion == 'seguridad'">
        <ul class="level-one mt-2 p-0" id="accordion">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                    <i class="fa fa-dashboard px-2" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="aplicacion" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                    <i class="fa fa-institution px-2" aria-hidden="true"></i>
                    <span>Gestión de Aplicaciones</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="modulo" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                    <i class="fa fa-server px-2" aria-hidden="true"></i>
                    <span>Gestión de Modulos</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="entidad" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                    <i class="fa fa-building px-2" aria-hidden="true"></i>
                    <span>Gestión de Entidades</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="usuario" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                    <i class="fa fa-user px-2" aria-hidden="true"></i>
                    <span>Gestión de Usuarios</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="perfil" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                    <i class="fa fa-user-circle px-2" aria-hidden="true"></i>
                    <span>Gestión de Perfil</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="menu" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                    <i class="fa fa-shield px-2" aria-hidden="true"></i>
                    <span>Gestión de Menu</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="grupo" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                    <i class="fa fa-users px-2" aria-hidden="true"></i>
                    <span>Gestión de Grupo</span>
                </a>
            </li>
        </ul>
    </div>
    -->
    <!--
    <div class="my-2" *ngIf="aplicacion == 'defensa'">
        <ngb-accordion #leftAcc="ngbAccordion" destroyOnHide="false" class="level-one mt-2 p-0" id="accordion" activeIds="{{accordionDefensa}}"
            [closeOthers]="true">
            <ngb-panel id="{{menuDefensa[0]}}">
                <ng-template ngbPanelTitle>
                    <li routerLinkActive="active">
                        <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-address-book-o px-2" aria-hidden="true"></i>
                            <span>Expedientes</span>
                            <span class="fa fa-chevron-down ml-auto"></span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="level-two p-0">
                        <li routerLinkActive="active">
                            <a routerLink="defensa/expediente/consulta" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Consulta de Expedientes</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="defensa/expediente/asignar-resolutor" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Asignar Resolutor</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/defensa/expediente/envio-notificacion' , { outlets: { wizard: ['seleccion-expediente'] } }]" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Registro de Notificaciones</span>
                            </a>
                        </li>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="{{menuDefensa[1]}}">
                <ng-template ngbPanelTitle>
                    <li>
                        <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-group px-2" aria-hidden="true"></i>
                            <span>Audiencias</span>
                            <span class="fa fa-chevron-down ml-auto"></span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="level-two p-0">
                        <li routerLinkActive="active">
                            <a routerLink="defensa/audiencia/reprogramacion" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Reprog. de Audiencia</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="defensa/audiencia/consulta" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Consulta de Audiencias</span>
                            </a>
                        </li>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="{{menuDefensa[2]}}">
                <ng-template ngbPanelTitle>
                    <li>
                        <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-print px-2" aria-hidden="true"></i>
                            <span>Reportes</span>
                            <span class="fa fa-chevron-down ml-auto"></span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="level-two p-0">
                        <li routerLinkActive="active">
                            <a routerLink="defensa/reportes/documentos" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Reporte Documentos</span>
                            </a>
                        </li>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    -->
    <!--
    <div class="my-2" *ngIf="aplicacion == 'sindicatos'">
        <ngb-accordion class="level-one mt-2 p-0" id="accordion" activeIds="sindicatos-1" [closeOthers]="true">
            <ngb-panel id="sindicatos-1">
                <ng-template ngbPanelTitle>
                    <li routerLinkActive="active">
                        <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                            <i class="fa fa-cubes px-2" aria-hidden="true"></i>
                            <span>Sindicatos</span>
                            <span class="fa fa-chevron-down ml-auto"></span>
                        </a>
                    </li>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="level-two p-0">
                        <li>
                            <a routerLink="sindicatos/consulta-organizacion" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Registro Organización</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="sindicatos/consulta-recurso" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Registro de Recursos</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="sindicatos/consulta-delegados" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Registro de Delegados</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="sindicatos/revisar-solicitudes" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Revisar Solicitudes</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="sindicatos/bienvenida" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Bienvenida</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="sindicatos/bandeja" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Bandeja</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="sindicatos/afiliar-desafiliar" class="a-menu d-sm-flex align-items-sm-center ">
                                <span>Afiliar - Desafiliar</span>
                            </a>
                        </li>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

    </div>

    </div>
    -->
    <!-- GGALARZA DICTAMEN ECONOMICO LABORAL -->
    <!--
    <div class="my-2" *ngIf="aplicacion == 'dictamenes'">
        <ul class="level-one mt-2 p-0" id="accordion">
            <li routerLinkActive="active">
                <ngb-accordion [closeOthers]="true" activeIds="{{accordionDictamen}}">
                    <ngb-panel id="{{menuDefensa[0]}}">
                        <ng-template ngbPanelTitle>
                            <li routerLinkActive="active">
                                <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                                    <i class="fa fa-cubes px-2" aria-hidden="true"></i>
                                    <span>Dictamen Econ&oacute;mico Laboral</span>
                                    <span class="fa fa-chevron-down ml-auto"></span>
                                </a>
                            </li>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="level-two p-0">
                                <li>
                                    <a routerLink="dictamenes/listado-solicitudes" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                                        <span>Listado de Solicitudes</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="dictamenes/registro-solicitudes" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                                        <span>Registro de Solicitudes</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="dictamenes/asignacion-solicitudes" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                                        <span>Asignacion de Solicitudes</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="dictamenes/revision-solicitudes" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                                        <span>Revision de Solicitudes</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="dictamenes/analisis-solicitudes" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                                        <span>Analisis de Solicitudes</span>
                                    </a>
                                </li>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </li>
        </ul>
    </div>
    -->
    <!-- GGALARZA DICTAMEN ECONOMICO LABORAL -->
    <!--
    <div class="my-2" *ngIf="aplicacion == 'denuncias'">
        <ul class="level-one mt-2 p-0" id="accordion">
            <li routerLinkActive="active">
                <ngb-accordion [closeOthers]="true" activeIds="static-1">
                    <ngb-panel id="static-1">
                        <ng-template ngbPanelTitle>
                            <li routerLinkActive="active">
                                <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                                    <i class="fa fa-cubes px-2" aria-hidden="true"></i>
                                    <span>Denuncias Laborales</span>
                                    <span class="fa fa-chevron-down ml-auto"></span>
                                </a>
                            </li>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="level-two p-0">
                                <li>
                                    <a routerLink="denuncias/validarruc" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                                        <span>Validar RUC</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="denuncias/formconsinterno" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                                        <span>Bandeja Interna Calificados</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="denuncias/formconsinternocali" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                                        <span>Bandeja Interna Por Calificar</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="denuncias/formconsexterno" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                                        <span>Bandeja Externa</span>
                                    </a>
                                </li>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </li>
        </ul>
    </div>
    -->
    <!-- LIQUIDACIONES - LEFTBAR - PIERRE DAVID MALDONADO DIAZ -->
    <!--
    <div class="my-2" *ngIf="aplicacion == 'liquidaciones'">
        <ul class="level-one mt-2 p-0" id="accordion">
            <li routerLinkActive="active">
                <a routerLink="/liquidaciones/registro-atencion/trabajador" class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                    <i class="fa fa-user-plus px-2" aria-hidden="true"></i>
                    <span class="text-left">Registro de Atención</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/liquidaciones/calculo-liquidacion/cts" class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                    <i class="fa fa-percent px-2" aria-hidden="true"></i>
                    <span class="text-left">Cálculo de Beneficios Sociales & Liquidaciones</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/liquidaciones/consultas/trabajador" class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                    <i class="fa fa-eye px-2" aria-hidden="true"></i>
                    <span class="text-left">Consulta de Liquidaciones</span>
                </a>
            </li>
        </ul>
    </div>
    -->
    <!-- RETORNO PRODUCTIVO -->
    <!--
    <div class="my-2" *ngIf="aplicacion == 'retorno'">
        <ul class="level-one mt-2 p-0" id="accordion">
            <li routerLinkActive="active">
                <ngb-accordion [closeOthers]="true" activeIds="static-1">
                    <ngb-panel id="static-1">
                        <ng-template ngbPanelTitle>
                            <li routerLinkActive="active">
                                <a class="a-menu d-flex align-items-center flex-column flex-lg-row px-2 py-3">
                                    <i class="fa fa-cubes px-2" aria-hidden="true"></i>
                                    <span>Retorno Productivo</span>
                                    <span class="fa fa-chevron-down ml-auto"></span>
                                </a>
                            </li>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="level-two p-0">
                                <li>
                                    <a routerLink="retorno/regficha" class="a-menu d-sm-flex align-items-sm-center px-2 py-3">
                                        <span>Registro de Ficha</span>
                                    </a>
                                </li>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </li>
        </ul>
    </div>
    -->
</nav>