<div *ngIf="solicitud" class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col">
            <h4 class="title">Consulta solicitud</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                    <h5 class="mb-0">
                        <small>
                            Control de Información</small>
                    </h5>
                </div>
                <div class="card-body">
                    <ng-container *ngIf="observacion == 0">
                        <p></p>
                        <p-messages [(value)]="messagesForm"></p-messages>
                        <ng-container *ngIf="solicitud.nFlgprorro === 0">
                            <div style="display:inline-block">
                                <button class="btn btn-primary btn-sm" style="float:right" (click)='requirirProrroga()'><i class="fa fa-clock-o"></i> Requerir Pr&oacute;rroga</button>
                            </div>
                        </ng-container>
                        <div style="display:inline-block">
                            <button class="btn btn-primary btn-sm" style="float:right" (click)='showEnviar()'><i class="fa fa-envelope" disabled></i> Enviar Formatos</button>
                        </div>
                    </ng-container>
                    <div class="card">
                        <div class="card-header bg-secondary text-white d-sm-flex justify-content-between p-1">
                            <h5 class="mb-0">
                                <small>
                                    <i class="fa fa-calendar-times-o" aria-hidden="true"></i> Documentos Generales</small>
                            </h5>
                        </div>
                        <ng-container *ngIf="solicFormsPerfil.length > 0">
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Tipo</th>
                                            <th>Documento</th>
                                            <th>Accion</th>
                                            <th>Estado</th>
                                            <th>Observación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let solicForm of solicFormsPerfil; let i = index">
                                            <tr [ngClass]="{ enviado: solicForm.vFlgest == 'E', observado: solicForm.vFlgest == 'O', conforme: solicForm.vFlgest == 'C' }">
                                                <td>
                                                    <span>{{i+1}}</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="solicForm.vTipoform == 'G'">GENERAL</span>
                                                </td>
                                                <td>
                                                    <span>{{solicForm.vNomform}}</span>
                                                </td>
                                                <td>
                                                    <ng-container *ngIf="observacion == 0">
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <ng-container *ngIf="solicForm.vFlgest == 'P'">
                                                                <button class="fa fa-pencil" (click)="abrirFormulario(solicForm)"></button>
                                                            </ng-container>
                                                            <ng-container *ngIf="solicForm.vFlgest == 'O'">
                                                                <button class="fa fa-pencil" (click)="abrirFormulario(solicForm)"></button>
                                                            </ng-container>
                                                        </span>
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <ng-container *ngIf="solicForm.vFlgest == 'E'">
                                                                <button class="fa fa-pencil" disabled></button>
                                                            </ng-container>
                                                            <ng-container *ngIf="solicForm.vFlgest == 'C'">
                                                                <button class="fa fa-pencil" disabled></button>
                                                            </ng-container>
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="observacion == 1">
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <button class="fa fa-eye" (click)="abrirFormulario(solicForm)"></button>
                                                        </span>
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <button class="fa fa-check" (click)="confirmarFormulario(solicForm)"></button>
                                                        </span>
                                                    </ng-container>
                                                </td>
                                                <td>
                                                    <span *ngIf="solicForm.vFlgest == 'P'">PENDIENTE</span>
                                                    <span *ngIf="solicForm.vFlgest == 'E'">COMPLETADO</span>
                                                    <span *ngIf="solicForm.vFlgest == 'O'">OBSERVADO</span>
                                                    <span *ngIf="solicForm.vFlgest == 'C'">CONFORME</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="solicForm.vObserva != null">
                                                        <button type="button" class="fa fa-eye" (click)="verObservaciones(solicForm)"></button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="solicFormsFSFinanciero.length > 0">
                        <div class="card">
                            <div class="card-header bg-secondary text-white d-sm-flex justify-content-between p-1">
                                <h5 class="mb-0">
                                    <small>
                                        <i class="fa fa-calendar-times-o" aria-hidden="true"></i> Documentos Sector Financiero</small>
                                </h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Tipo</th>
                                            <th>Documento</th>
                                            <th>Accion</th>
                                            <th>Estado</th>
                                            <th>Observación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let solicForm of solicFormsFSFinanciero; let i = index">
                                            <tr [ngClass]="{ enviado: solicForm.vFlgest == 'E', observado: solicForm.vFlgest == 'O', conforme: solicForm.vFlgest == 'C' }">
                                                <td>
                                                    <span>{{i+1}}</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="solicForm.vTipoform == 'FF1'">FORMULARIO 1</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FF2'">FORMULARIO 2</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FF2A'">FORMULARIO 2 - Anexo A</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FF3'">FORMULARIO 3</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FF4'">FORMULARIO 4</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FF5'">FORMULARIO 5</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FF6'">FORMULARIO 6</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FF7'">FORMULARIO 7</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FF8'">FORMULARIO 8</span>
                                                </td>
                                                <td>
                                                    <span>{{solicForm.vNomform}}</span>
                                                </td>
                                                <td>
                                                    <ng-container *ngIf="observacion == 0">
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <ng-container *ngIf="solicForm.vFlgest == 'P'">
                                                                <button class="fa fa-pencil" (click)="abrirFormulario(solicForm)"></button>
                                                            </ng-container>
                                                            <ng-container *ngIf="solicForm.vFlgest == 'O'">
                                                                <button class="fa fa-pencil" (click)="abrirFormulario(solicForm)"></button>
                                                            </ng-container>
                                                            <ng-container *ngIf="solicForm.vFlgest == 'P'">
                                                                    <button class="fa fa-floppy-o" (click)="enviarFormularioPerfil(solicForm)"></button>
                                                                </ng-container>
                                                        </span>
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <ng-container *ngIf="solicForm.vFlgest == 'E'">
                                                                <button class="fa fa-pencil" disabled></button>
                                                            </ng-container>
                                                            <ng-container *ngIf="solicForm.vFlgest == 'C'">
                                                                <button class="fa fa-pencil" disabled></button>
                                                            </ng-container>
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="observacion == 1">
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <button class="fa fa-eye" (click)="abrirFormulario(solicForm)"></button>
                                                        </span>
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <button class="fa fa-check" (click)="confirmarFormulario(solicForm)"></button>
                                                        </span>
                                                    </ng-container>
                                                </td>
                                                <td>
                                                    <span *ngIf="solicForm.vFlgest == 'P'">PENDIENTE</span>
                                                    <span *ngIf="solicForm.vFlgest == 'E'">COMPLETADO</span>
                                                    <span *ngIf="solicForm.vFlgest == 'O'">OBSERVADO</span>
                                                    <span *ngIf="solicForm.vFlgest == 'C'">CONFORME</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="solicForm.vObserva != null">
                                                        <button type="button" class="fa fa-eye" (click)="verObservaciones(solicForm)"></button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="solicFormsFSPrivado.length > 0">
                        <div class="card">
                            <div class="card-header bg-secondary text-white d-sm-flex justify-content-between p-1">
                                <h5 class="mb-0">
                                    <small>
                                        <i class="fa fa-calendar-times-o" aria-hidden="true"></i> Documentos Sector Privado</small>
                                </h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Tipo</th>
                                            <th>Documento</th>
                                            <th>Accion</th>
                                            <th>Estado</th>
                                            <th>Observación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let solicForm of solicFormsFSPrivado; let i = index">
                                            <tr [ngClass]="{ enviado: solicForm.vFlgest == 'E', observado: solicForm.vFlgest == 'O', conforme: solicForm.vFlgest == 'C' }">
                                                <td>
                                                    <span>{{i+1}}</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="solicForm.vTipoform == 'FP1'">FORMULARIO 1</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FP1A'">FORMULARIO 1 - Anexo A</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FP1B'">FORMULARIO 1 - Anexo B</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FP1C'">FORMULARIO 1 - Anexo C</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FP1D'">FORMULARIO 1 - Anexo D</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FP2'">FORMULARIO 2</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FP2A'">FORMULARIO 2 - Anexo A</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FP3'">FORMULARIO 3</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FP4'">FORMULARIO 4</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FP5'">FORMULARIO 5</span>
                                                    <span *ngIf="solicForm.vTipoform == 'FP6'">FORMULARIO 6</span>
                                                </td>
                                                <td>
                                                    <span>{{solicForm.vNomform}}</span>
                                                </td>
                                                <td>
                                                    <ng-container *ngIf="observacion == 0">
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <ng-container *ngIf="solicForm.vFlgest == 'P'">
                                                                <button class="fa fa-pencil" (click)="abrirFormulario(solicForm)"></button>
                                                            </ng-container>
                                                            <ng-container *ngIf="solicForm.vFlgest == 'O'">
                                                                <button class="fa fa-pencil" (click)="abrirFormulario(solicForm)"></button>
                                                            </ng-container>
                                                            <ng-container *ngIf="solicForm.vFlgest == 'P'">
                                                                <button class="fa fa-floppy-o" (click)="enviarFormulario(solicForm)"></button>
                                                            </ng-container>
                                                        </span>
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <ng-container *ngIf="solicForm.vFlgest == 'E'">
                                                                <button class="fa fa-pencil" disabled></button>
                                                            </ng-container>
                                                            <ng-container *ngIf="solicForm.vFlgest == 'C'">
                                                                <button class="fa fa-pencil" disabled></button>
                                                            </ng-container>
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="observacion == 1">
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <button class="fa fa-eye" (click)="abrirFormulario(solicForm)"></button>
                                                        </span>
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <button class="fa fa-check" (click)="confirmarFormulario(solicForm)"></button>
                                                        </span>
                                                    </ng-container>
                                                </td>
                                                <td>
                                                    <span *ngIf="solicForm.vFlgest == 'P'">PENDIENTE</span>
                                                    <span *ngIf="solicForm.vFlgest == 'E'">COMPLETADO</span>
                                                    <span *ngIf="solicForm.vFlgest == 'O'">OBSERVADO</span>
                                                    <span *ngIf="solicForm.vFlgest == 'C'">CONFORME</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="solicForm.vObserva != null">
                                                        <button type="button" class="fa fa-eye" (click)="verObservaciones(solicForm)"></button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="solicFormsFSPublico.length > 0">
                        <div class="card">
                            <div class="card-header bg-secondary text-white d-sm-flex justify-content-between p-1">
                                <h5 class="mb-0">
                                    <small>
                                        <i class="fa fa-calendar-times-o" aria-hidden="true"></i> Documentos Sector P&uacute;blico</small>
                                </h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Tipo</th>
                                            <th>Documento</th>
                                            <th>Accion</th>
                                            <th>Estado</th>
                                            <th>Observación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let solicForm of solicFormsFSPublico; let i = index">
                                            <tr [ngClass]="{ enviado: solicForm.vFlgest == 'E', observado: solicForm.vFlgest == 'O', conforme: solicForm.vFlgest == 'C' }">
                                                <td>
                                                    <span>{{i+1}}</span>
                                                </td>
                                                <td>

                                                    <span *ngIf="solicForm.vTipoform == 'L'">LABORAL</span>
                                                    <span *ngIf="solicForm.vTipoform == 'A'">ARCHIVO</span>
                                                </td>
                                                <td>
                                                    <span>{{solicForm.vNomform}}</span>
                                                </td>
                                                <td>
                                                    <ng-container *ngIf="observacion == 0">
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <ng-container *ngIf="solicForm.vFlgest == 'P'">
                                                                <button class="fa fa-pencil" (click)="abrirFormulario(solicForm)"></button>
                                                            </ng-container>
                                                            <ng-container *ngIf="solicForm.vFlgest == 'O'">
                                                                <button class="fa fa-pencil" (click)="abrirFormulario(solicForm)"></button>
                                                            </ng-container>
                                                        </span>
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <ng-container *ngIf="solicForm.vFlgest == 'E'">
                                                                <button class="fa fa-pencil" disabled></button>
                                                            </ng-container>
                                                            <ng-container *ngIf="solicForm.vFlgest == 'C'">
                                                                <button class="fa fa-pencil" disabled></button>
                                                            </ng-container>
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="observacion == 1">
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <button class="fa fa-eye" (click)="abrirFormulario(solicForm)"></button>
                                                        </span>
                                                        <span *ngIf="solicForm.vTipoform != 'A'">
                                                            <button class="fa fa-check" (click)="confirmarFormulario(solicForm)"></button>
                                                        </span>
                                                    </ng-container>
                                                </td>
                                                <td>
                                                    <span *ngIf="solicForm.vFlgest == 'P'">PENDIENTE</span>
                                                    <span *ngIf="solicForm.vFlgest == 'E'">COMPLETADO</span>
                                                    <span *ngIf="solicForm.vFlgest == 'O'">OBSERVADO</span>
                                                    <span *ngIf="solicForm.vFlgest == 'C'">CONFORME</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="solicForm.vObserva != null">
                                                        <button type="button" class="fa fa-eye" (click)="verObservaciones(solicForm)"></button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-container>
                    <br/>
                    <br/>

                    <ng-container *ngIf="observacion == 0">
                        <button class="btn btn-primary btn-sm" style="float:right" (click)='listarSolicitudes()'>Volver</button>
                    </ng-container>
                    <ng-container *ngIf="observacion == 1">
                        <button class="btn btn-primary btn-sm" style="float:right" (click)='regresarRevisionSolicitudes()'>Volver</button>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="displayEnviar" modal="modal" width="500" [responsive]="true">
    <p-header>
        Enviar
    </p-header>
    <p>¿Desea enviar los formularios?</p>
    <p-footer>
        <button type="button" icon="fa-check" (click)="displayEnviar = false">Cancelar</button>
        <button type="submit" icon="fa-close" (click)="enviarInformacion()">Guardar</button>
    </p-footer>
</p-dialog>


<p-dialog [(visible)]="displayObservacion" modal="modal" width="500" [responsive]="true">
    <p-header>
        Observaciones
    </p-header>
    <div class="row">
        <div class="col">
            <textarea class="form-control" disabled rows="5" placeholder="Observaciones" style="width: 100%; resize: none;">{{observaciones}}</textarea>
        </div>
    </div>
    <p-footer>
        <button type="button" icon="fa-check" (click)="displayObservacion = false">Volver</button>
    </p-footer>
</p-dialog>