<div class="row mt-3">
    <div class="col">
        <div class="card card-mtpe mb-3">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5 class="mb-0">
                    Audiencias
                    <span [ngSwitch]="currentUrl">
                        <small *ngSwitchCase="'/defensa/asignacion-abogado'" class="ml-3"><i class="fa fa-user" aria-hidden="true"></i> Asignación de Abogados</small>
                        <small *ngSwitchCase="'/defensa/resultado-audiencia'" class="ml-3"><i class="fa fa-user" aria-hidden="true"></i> Resultado de Audiencia</small>
                        <small *ngSwitchCase="'/defensa/reprogramacion'" class="ml-3"><i class="fa fa-user" aria-hidden="true"></i> Reprog. de Audiencia</small>
                        <small *ngSwitchCase="'/defensa/registrar-escrito'" class="ml-3"><i class="fa fa-user" aria-hidden="true"></i> Registrar Escrito</small>
                    </span>
                </h5>
            </div>
            <div class="card-body">
                <div class="defensa px-2">
                    <fieldset class="col">     
                        <legend>Búsqueda</legend>
                        <form>
                            <div class="form-row">
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label for="inpTipo" class="col-sm-1 pr-0 col-form-label ">Fecha:</label>
                                        <div class="col-sm-3 pl-0">
                                            <!-- <p-calendar name="currentSearch" [(ngModel)]="currentSearch" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar> -->
                                            <p-calendar name="fechaAudiencia" [(ngModel)]="fechaAudiencia" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button class="btn btn-sm btn-secondary" (click)="search(fechaAudiencia)">
                                            <span class="fa fa-search"></span> Buscar
                                    </button>
                                    <!-- <a href="#" class="btn btn-sm btn-secondary "><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a> -->
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    
                    <span [ngSwitch]="currentUrl">
                        <div *ngSwitchCase="'/defensa/audiencia/asignacion-abogado'" class="row my-2">
                            <div class="col-md-2 text-center">
                                <button [routerLink]="['/defensa/audiencia/asignacion-abogado', { outlets: { popupexp: id } }]" class="btn btn-sm btn-success "><i class="fa fa-archive" aria-hidden="true"></i> Asignar Expediente</button>
                            </div>
                        </div>
                        <div *ngSwitchCase="'/defensa/audiencia/registrar-resultado'" class="row my-2">
                            <div class="col-md-2 text-center">
                                <button [routerLink]="['/defensa/audiencia/registrar-resultado', { outlets: { popupexp: id } }]" class="btn btn-sm btn-warning px-4"><i class="fa fa-sticky-note" aria-hidden="true"></i> Registrar Resultado</button>
                            </div>
                        </div>
                        <div *ngSwitchCase="'/defensa/audiencia/reprogramacion'" class="row my-2">
                            <div class="col-md-2 text-center">
                                <button [routerLink]="['/defensa/audiencia/reprogramacion', { outlets: { popupexp:  id } }]" class="btn btn-sm btn-info"><i class="fa fa-sticky-note" aria-hidden="true"></i> Reprogramación de Audiencia</button>
                            </div>
                        </div>
                        <div *ngSwitchCase="'/defensa/audiencia/registrar-escrito'" class="row my-2">
                                <div class="col-md-2 text-center">
                                    <button [routerLink]="['/defensa/audiencia/registrar-escrito', { outlets: { popupexp: id } }]" class="btn btn-sm btn-info"><i class="fa fa-sticky-note" aria-hidden="true"></i> Registrar Escrito</button>
                                </div>
                        </div>
                    </span>
                    <form>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <p-dataTable selectionMode="single" [value]="concilias" dataKey="id" (onRowSelect)="onRowSelect($event)">
                                    <p-header>Expedientes</p-header>
                                    <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                        <ng-template let-i="rowIndex" pTemplate="body">
                                            <span style="text-align:center">{{i+1}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="expediente.vNumexp" header="Nro. Expediente"></p-column>
                                    <p-column field="nrodocemp" header="Razón Nro. RUC"></p-column>
                                    <p-column field="fullnameemp" header="Empleador"></p-column>
                                    <p-column field="nrodoctrab" header="Nro. Documento"></p-column>
                                    <p-column field="fullnametrab" header="Trabajador"></p-column>
                                    <p-column field="fechahoraconci" header="Fecha de Conciliación"></p-column>
                                    <p-column field="abogado.vNomabogad" header="Conciliador"></p-column>
                                    <p-column field="resulconci.vDescrip" header="Resultado"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet name="popupexp"></router-outlet>

